.footer


  .appLogoContainer
    h3.subtitle Download Shopee Sekarang!

    span.appLogo

  span.qrCode
  span.downloadLinks
    a.download.appleStore.bgImg_contain(target="_blank", href="http://app.appsflyer.com/id959841443?pid=OrganicA&amp;c=lp_home_ios2")
    a.download.googlePlay.bgImg_contain(target="_blank", href="http://app.appsflyer.com/com.shopee.id?pid=OrganicA&amp;c=lp_home_and2")
