.footer
  .container
    .row
      .col-md-3.colomn.first
        img.m-t-sm(src="img/sapta-tour-logo-medium.png", alt="")

        img.m-t-xl.block(src="img/24-hours-tours-and-travel-service.png", alt="24 Hours Tours & Travel  Service")

      .col-md-3.colomn.office
        h6.text-u-c Our Office
        p Sapta Tours &amp; Travel <br />Jl. Panglima Polim Raya 18-D <br />Jakarta Selatan 12130 <br />Indonesia

      .col-md-3.colomn.contact
        h6.text-u-c Contact Us
        ul.list-unstyled
          li
            i.ico.ico-phone
            span +62 21 270 272
          li +62 21 270 1818
          li +62 7280 0808 (Fax)
          li +62 811 872 782 (SMS)
          li.m-t-md
            i.ico.ico-email
            a(href="mailto:info@saptatours.com") info@saptatours.com

      .col-md-3.colomn.sitemap
        h6.text-u-c Sitemap
        ul.list-unstyled
          li
            a(href="#") Find Tours
          li
            a(href="#") Book Flights
          li
            a(href="#") Book Hotels
          li
            a(href="#") Blog
          li
            a(href="#") Custom Tours
          li
            a(href="#") How To Orders
          li
            a(href="#") FAQs

.footer-nav
  .container
    .pull-left
      span.text-u-c &copy; 2015 COPYRIGHT Sapta tours. ALL RIGHTS RESERVED.
    .pull-right
      a.text-u-c(href="#") Privacy Policy
      span.inline.m-r-sm.m-l-sm -
      a.text-u-c(href="#") Terms &amp; Conditions
      span.inline.m-r-sm.m-l-sm -
      a.text-u-c(href="#") Carreer
      span.inline.m-r-sm.m-l-sm -
      span.text-dark-light.text-u-c.m-r-sm Share
      a.m-r-sm.ico.ico-fb(href="#", target="_blank") FB
      a.m-r-sm.ico.ico-tw(href="#", target="_blank") TW
