div.navbar.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      a.navbar-brand(href='index.html', title='TS Starter')
        img(src='img/sapta-tour-logo.png', title='TS Starter')
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.main-menu
        li
          a(href='tours.html')
            i.ico.ico-tours
            span.block TOURS

          include ../form/tour

        li
          a(href='#flights')
            i.ico.ico-flight
            span.block BOOK FLIGHTS

          include ../form/flight

        li
          a.hotel(href='#hotels')
            i.ico.ico-hotel
            span.block BOOK HOTELS
        li
          a(href='#documents')
            i.ico.ico-document
            span.block DOCUMENTS
        li
          a(href='#blog')
            i.ico.ico-blog
            span.block BLOG

      ul.nav.navbar-nav.navbar-right
        li
          a.b-r-white(href='login.html') Login
        li
          a(href='register.html') Register

    .clearfix
