mixin destinationInfo(region, destinantion, price, tour)
  span.block.info.box-info.pos-abt
    span.block.info-detail.overlay.text-u-c
      span.block.destination-type #{region}
      span.block.location.package.block #{destinantion}
      span.block.pricing
        span From
        span.currency  USD
        span.price  #{price}
