.itinerary-wrap.block
  h6.pad-h-10.f-bold.text-md.text-u-c.m-b-md Itinerary

  .itinerary-list.b-dashed-t-gray.m-b-lg
    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day One
      span.f-bold.text-14px.block.m-t-xs Arrival in Abu Dhabi

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm -

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Two
      span.f-bold.text-14px.block.m-t-xs Explore London

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm B, L, D

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Three
      span.f-bold.text-14px.block.m-t-xs Paris Leisure

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm B, L, D

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Four
      span.f-bold.text-14px.block.m-t-xs Paris Sightseeing & Free Time

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm B, L, D

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Five
      span.f-bold.text-14px.block.m-t-xs Brussels

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm -

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Six
      span.f-bold.text-14px.block.m-t-xs Amsterdam Excursion

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm B, L, D

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .item.pos-rlt.pad-v-10.b-b.pad-h-10
      label.f-bold.text-primary.text-14px.m-t-xs.block Day Seven
      span.f-bold.text-14px.block.m-t-xs Arrival in Abu Dhabi

      .acomodation.pos-abt
        i.ico.ico-mobile.ico-restaurant
        em.inline.pull-left.m-r-sm B, L, D

      article.pad-v-15 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
