.featured.blog-inspirations
  h4.title-box.c-text Need
    span.text-orange  Inspirations ?

  .row
    .col-md-6.blog-item.pos-rlt
      img(src="img/destinations/Prague-02.jpg", alt="")

      .pos-rlt.post-header.bg-orange
        .post-item.text-darker.pos-abt.text-u-c.wrapper
          label.inline.m-l-sm.f-normal.text-u-c Blog
          h3.m-l-sm.m-t-none
            a.text-darker(href="blog-detail.html") Top 10 most romantic Destinations in the world

    .col-md-6.blog-item.pos-rlt
      img(src="img/destinations/Asia.jpg", alt="")

      .pos-rlt.post-header.bg-orange
        .post-item.text-darker.pos-abt.text-u-c.wrapper
          label.inline.m-l-sm.f-normal.text-u-c Blog
          h3.m-l-sm.m-t-none
            a.text-darker(href="blog-detail.html") Japan Off the beaten tracks


    .clearfix

  .col-md-12
    .row
      a.block.btn-show-more.c-text(href="#") Show me more
        strong  Inspirations
  .clearfix
