#gallery-slider.flexslider
  ul.slides
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews


        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      .content.pos-rlt
        .wrapper-md.text-center
          .block.m-b-sm.m-t-sm "Ocean View, Swimming Pools, Accomodating staff, there’s just so much..."
          span.f-bold.block Zurin, Malaysia
          span.f-bold.block Dec 2014

          a.inline.text-u-c.m-t-md.text-yellow(href="#")
            | See All 1234 Reviews
        img(src="img/destinations/Korea.jpg", alt="")

#gallery-slider-carousel.flexslider
  ul.slides
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
    li
      img(src="img/destinations/hotel_heroimg.jpg", alt="")
    li
      img(src="img/destinations/Korea.jpg", alt="")
