.wrapper-lg.m-t-lg.ssl-message
  .m-l-n-xl
    img.block.pull-left.m-l-n-xs(src="img/ssl-image.png", alt="")
    p.pull-left.block.m-l-md Sapta Tour selalu mementingkan keamanan transaksi Anda. Semua transaksi melalui Saptatour.com dijamin 100% aman
    .clearfix
