#book-and-availability.container.m-b-md
  h4.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Booking &amp;&nbsp;
    span.text-yellow Availability

  .book-and-availability
    .book-item
      .column.column-1
        .departure.pos-rlt.bg-white.pull-left
          i.ico.ico-departure
          label.text-u-c.block Departure
          span.block.date
            | Kamis,&nbsp;
            strong 12 Feb 2015

        .arrow

        .return.pos-rlt.bg-white.pull-right
          i.ico.ico-return
          label.text-u-c.block Return
          span.block.date
            | Selasa, &nbsp;
            strong 22 Feb 2015


      .column.column-2
        label.text-u-c.block Airline
        span.block Singapore Airlines

      .column.column-3
        label.text-u-c.block Price From
        span.block USD $3000

      .column.column-4
        a.block.text-u-c(href="booking.html") Booking Inquiry

      .clearfix

    .book-item
      .column.column-1
        .departure.pos-rlt.bg-white.pull-left
          i.ico.ico-departure
          label.text-u-c.block Departure
          span.block.date
            | Kamis,&nbsp;
            strong 12 Feb 2015

        .arrow

        .return.pos-rlt.bg-white.pull-right
          i.ico.ico-return
          label.text-u-c.block Return
          span.block.date
            | Selasa, &nbsp;
            strong 22 Feb 2015


      .column.column-2
        label.text-u-c.block Airline
        span.block Garuda Indonesia

      .column.column-3
        label.text-u-c.block Price From
        span.block USD $3000

      .column.column-4
        a.block.text-u-c(href="booking.html") Booking Inquiry

      .clearfix

    .book-item
      .column.column-1
        .departure.pos-rlt.bg-white.pull-left
          i.ico.ico-departure
          label.text-u-c.block Departure
          span.block.date
            | Kamis,&nbsp;
            strong 12 Feb 2015

        .arrow

        .return.pos-rlt.bg-white.pull-right
          i.ico.ico-return
          label.text-u-c.block Return
          span.block.date
            | Selasa, &nbsp;
            strong 22 Feb 2015


      .column.column-2
        label.text-u-c.block Airline
        span.block Garuda Indonesia

      .column.column-3
        label.text-u-c.block Price From
        span.block USD $3000

      .column.column-4
        a.block.text-u-c(href="booking.html") Booking Inquiry

      .clearfix

    .book-item
      .column.column-own.bg-white
        i.ico.ico-idea
        span.block Have your own preferences? Let us know what dates and airline are best for you.
      .column.column-yellow
        a.block.text-u-c(href="booking.html") Booking Inquiry
      .clearfix

