.container.itenary-plan
  .day
    figure.pull-left
      img(src="img/destinations/Itinerary01.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day One
      h5.block.text-rounded Arrival in Abu Dhabi
      .schedule.text-yellow.text-rounded JAKARTA - x/ABU DHABI | EY475 CGKAUH 17.25 - 22.50

      .tips
        p Sore hari ini para peserta diharapkan sudah berkumpul di Bandara Internasional Soekarno–Hatta untuk penerbangan dengan kota tujuan pertama London melalui Abu Dhabi.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm -
    .clearfix

  .day
    figure.pull-left
      img(src="img/destinations/Itinerary02.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day Two
      h5.block.text-rounded Explore London
      .schedule.text-yellow.text-rounded x/ABU DHABI - LONDON | EY84 AUHLHR 02.35 - 06.35

      .tips
        p Dini hari penerbangan menuju London. Setibanya Anda akan langsung di ajak untuk mengunjungi MUSEUM LILIN MADAME TUSSAUD, kemudian melewati St. Paul Cathedral, Trafalgar Square, Buckingham Palace, House of Parliament dengan big ben-nya dll.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm Breakfast, Lunch, Dinner
    .clearfix

  .day
    figure.pull-left
      img(src="img/destinations/Itinerary03.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day Three
      h5.block.text-rounded Paris Leisure
      .schedule.text-yellow.text-rounded London-Paris

      .tips
        p Dengan kereta api mutakhir, EUROSTAR hari ini menuju kota Paris. Setibanya di PARIS akan diajak berbelanja di kota yang dikenal dengan kota mode di dunia. Lalu menuju hotel untuk beristirahat.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm Breakfast, Lunch, Dinner
    .clearfix


  .day
    figure.pull-left
      img(src="img/destinations/Itinerary04.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day Four
      h5.block.text-rounded Paris Sightseeing and Free Time
      .schedule.text-yellow.text-rounded Paris

      .tips
        p Setelah santap pagi Anda akan diajak untuk city tour kota PARIS dengan melewati Arch De Triomphe, Place De La Concorde, Champs Elysees, Notre Dame Cathedral, Des Invalides dan Lourve Museum. Tak lupa Anda diajak photostop di MENARA EIFFEL.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm Breakfast, Lunch, Dinner
    .clearfix

  .day
    figure.pull-left
      img(src="img/destinations/Itinerary05.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day Five
      h5.block.text-rounded Brussels
      .schedule.text-yellow.text-rounded PARIS - BRUSSELS - AMSTERDAM

      .tips
        p Hari ini Anda akan diajak untuk menuju Brussels, Setibanya Anda akan diajak berorientasi sejenak dengan photostop di Manneken Pis, Royal Palace dan Atomium. Setelah itu menuju negara Belanda. Bermalam di Amsterdam / Schiphol atau sekitarnya.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm Breakfast, Lunch, Dinner
    .clearfix

  .day
    figure.pull-left
      img(src="img/destinations/Itinerary05.jpg", alt="")

    .info-itenary.pull-right.pos-rlt
      label.m-b-n.text-u-c.f-bold Day Six
      h5.block.text-rounded Amsterdam Excursion
      .schedule.text-yellow.text-rounded AMSTERDAM – VOLENDAM – AMSTERDAM

      .tips
        p City tour hari ini mengajak Anda ke kota Amsterdam yang dijuluki kota kincir angin. Singgah sejenak di desa nelayan VOLENDAM. Lalu Anda akan diajak mengunjungi Fisherman Village dan berbelanja di Diamond Factory. Sore hari Anda akan diajak melewati Dam Square, Royal Palace, National Monument dan Rijsmuseum. Lalu menuju hotel untuk beristirahat.

      .acomodation.pos-abt
        .bg-white.pull-left
          i.ico.ico-food
        span.inline.pull-left.m-l-sm Breakfast, Lunch, Dinner
    .clearfix
