#pricelist.container.pricelist-block.m-b-lg
  h4.section-title.m-t-sm.m-b-md.text-c-l.text-left.text-rounded Price
    span.text-yellow  List

  table.tbl-price-list.table.table-bordered
    - var n = 0
    while n < 5
      - n++
      tr
        td
          strong Deluxe Room
          span  At Grand Budapest Hotel
        td
          strong Adult Twin Share
        td
          strong From USD
          span  $2000

  p.text-sm * Prices aren’t final. Final price will be informed by our contact person
