#visa-doc.container
  h4.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Visa &amp;&nbsp;
    span.text-yellow Other Info

  .visa-doc.row
    .col-md-6
      .type-block
          .row
            .col-md-6
              .wrapper-md.m-l-sm
                label.block.text-u-c Type
                span.block Visa Europe

            .col-md-6
              .wrapper-md.bg-gray
                a.btn.btn-white.m-t-xs(href="#") See Document Details

    .col-md-6
      .type-block
        .row
          .col-md-6
            .wrapper-md.m-l-sm
              label.block.text-u-c Type
              span.block Visa Europe

          .col-md-6
            .wrapper-md.bg-gray
              a.btn.btn-white.m-t-xs(href="#") See Document Details
    .clearfix

    .visa-doc-info.m-t-xl
      ul
        li
          .block This tour is strongly not recommended for children under 5 years of age
        li
          .block 60% of tour price plus visa fees for child aged 6-12 years sharing a bed with parents
        li
          .block 80% of tour price plus visa fees for child aged 6-12 years with an extra bed
        li
          .block Children older than 12 years of age, as per adult rate
        li.m-t-sm
          .block When entering Tibet via Kathmandu, visitors must spend at least two nights in Kathmandu for final processing of Tibet visa as per the visa working days at the Chinese Embassy in Kathmandu: Monday, Tuesday, Wednesday, Thursday and Friday. To apply for a Chinese visa we need:
          ul.m-t-xs
            li Colour passport size photo
            li Chinese Embassy visa form (duly filled by each visitor)
            li Colour, clear scanned copy of passport must be provided to us at least 30 days prior to the arrival
            li Original passports on arrival in Kathmandu? A Tibet visa will also be valid for China. If travelling onward to China, please let us know programme in China and length of stay in order to apply for a visa as per duration and itinerary of visit.

    .info-harga.m-t-lg
      .include
        h6.m-b-md HARGA TERMSUK

        ol
          li
            p.m-b-md Harga Termasuk
          li
            p.m-b-md Ticket pesawat udara p.p. kelas ekonomi (non-endorsable, non-refundable & non-reroutable berdasarkan harga group / promosi).
          li
            p.m-b-md Penginapan di hotel berdasarkan 2 (dua) orang dalam 1 kamar (twin sharing).
          li
            p.m-b-md Acara tour, transportasi dan makan sesuai yang tercantum dalam acara perjalanan. (MP – Makan Pagi; MS – Makan Siang; MM – Makan Malam).
          li
            p.m-b-md Berat maksimum sebesar 20kg untuk 1 bagasi atau sesuai dengan peraturan maskapai penerbangan yang digunakan; dan berat maksimum 7 kg untuk 1 handbag kecil untuk dibawa ke kabin pesawat atau sesuai dengan peraturan maskapai penerbangan yang digunakan.
          li
            p.m-b-md Satu buah tas cantik bagi setiap peserta.
          li
            p.m-b-md Tour Leader dari SAPTA TOUR.

      .exclude
        h6.m-b-md HARGA TIDAK TERMSUK

        ol
          li
            p.m-b-md Harga Termasuk
          li
            p.m-b-md Ticket pesawat udara p.p. kelas ekonomi (non-endorsable, non-refundable & non-reroutable berdasarkan harga group / promosi).
          li
            p.m-b-md Penginapan di hotel berdasarkan 2 (dua) orang dalam 1 kamar (twin sharing).
          li
            p.m-b-md Acara tour, transportasi dan makan sesuai yang tercantum dalam acara perjalanan. (MP – Makan Pagi; MS – Makan Siang; MM – Makan Malam).
          li
            p.m-b-md Berat maksimum sebesar 20kg untuk 1 bagasi atau sesuai dengan peraturan maskapai penerbangan yang digunakan; dan berat maksimum 7 kg untuk 1 handbag kecil untuk dibawa ke kabin pesawat atau sesuai dengan peraturan maskapai penerbangan yang digunakan.
          li
            p.m-b-md Satu buah tas cantik bagi setiap peserta.
          li
            p.m-b-md Tour Leader dari SAPTA TOUR.

      .clearfix
