#visa-doc.container
  h4.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Visa &amp;&nbsp;
    span.text-yellow Other Info

  .visa-doc.row
    .col-md-6
      .type-block
          .row
            .col-md-6
              .wrapper-md.m-l-sm
                label.block.text-u-c Type
                span.block Visa Europe

            .col-md-6
              .wrapper-md.bg-gray
                a.btn.btn-white.m-t-xs(href="#", data-toggle="modal", data-target="#documentDetail") See Document Details

    .col-md-6
      .type-block
        .row
          .col-md-6
            .wrapper-md.m-l-sm
              label.block.text-u-c Type
              span.block Visa Europe

          .col-md-6
            .wrapper-md.bg-gray
              a.btn.btn-white.m-t-xs(href="#", data-toggle="modal", data-target="#documentDetail") See Document Details
    .clearfix

    #documentDetail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='documentDetailLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-body.m-t-md.m-b-md
            h4#documentDetailLabel.modal-title.text-u-c.m-l-lg.m-b-md.f-bold Dokumen yang dibutuhkan

            ol.m-b-md
              li.m-b Passport Asli (Lama &amp; Baru, Berlaku Diatas 6 Bulan)
              li.m-b Foto 3 Lembar Berwarna Ukuran 3,5 X 4,5 Latar Belakang Putih
              li.m-b Surat Sponsor
              li.m-b Surat Referensi Bank
              li.m-b Fotocopy Bukti Keuangan (3 Bulan Terakhir)
              li.m-b Fotocopy SIUP (Jika Pemilik)
              li.m-b Fotocopy KK
              li.m-b Fotocopy KTP
              li.m-b Fotocopy Akte Lahir
              li.m-b Fotocopy Surat Ganti Nama (Jika Ada)
              li.m-b Konfirmasi Hotel
              li.m-b Print Out Tiket
              li.m-b Asuransi Perjalanan
              li.m-b Tidak Boleh Ada PENDUL ( ALAMAT PENDUDUK LUAR )

    .visa-doc-info.m-t-xl
      ul
        li
          .block This tour is strongly not recommended for children under 5 years of age
        li
          .block 60% of tour price plus visa fees for child aged 6-12 years sharing a bed with parents
        li
          .block 80% of tour price plus visa fees for child aged 6-12 years with an extra bed
        li
          .block Children older than 12 years of age, as per adult rate
        li.m-t-sm
          .block When entering Tibet via Kathmandu, visitors must spend at least two nights in Kathmandu for final processing of Tibet visa as per the visa working days at the Chinese Embassy in Kathmandu: Monday, Tuesday, Wednesday, Thursday and Friday. To apply for a Chinese visa we need:
          ul.m-t-xs
            li Colour passport size photo
            li Chinese Embassy visa form (duly filled by each visitor)
            li Colour, clear scanned copy of passport must be provided to us at least 30 days prior to the arrival
            li Original passports on arrival in Kathmandu? A Tibet visa will also be valid for China. If travelling onward to China, please let us know programme in China and length of stay in order to apply for a visa as per duration and itinerary of visit.

    .info-harga.m-t-lg
      .include
        h6.m-b-md HARGA TERMSUK

        ol
          li
            p.m-b-md Ticket pesawat udara p.p. kelas ekonomi (non-endorsable, non-refundable & non-reroutable berdasarkan harga group / promosi).
          li
            p.m-b-md Penginapan di hotel berdasarkan 2 (dua) orang dalam 1 kamar (twin sharing).
          li
            p.m-b-md Acara tour, transportasi dan makan sesuai yang tercantum dalam acara perjalanan. (MP – Makan Pagi; MS – Makan Siang; MM – Makan Malam).
          li
            p.m-b-md Berat maksimum sebesar 20kg untuk 1 bagasi atau sesuai dengan peraturan maskapai penerbangan yang digunakan; dan berat maksimum 7 kg untuk 1 handbag kecil untuk dibawa ke kabin pesawat atau sesuai dengan peraturan maskapai penerbangan yang digunakan.
          li
            p.m-b-md Satu buah tas cantik bagi setiap peserta.
          li
            p.m-b-md Tour Leader dari SAPTA TOUR.

      .exclude
        h6.m-b-md HARGA TIDAK TERMSUK

        ol
          li
            p.m-b-md Harga Tidak Termasuk
          li
            p.m-b-md Airport tax International &amp; Jakarta, fuel surcharge, dan tax lainnya.
          li
            p.m-b-md Asuransi perjalanan Zurich Insurance (11-15 days Individual USD 50 / Family USD 70).
          li
            p.m-b-md Biaya dokumen perjalanan seperti : paspor, visa, entry permit, dll.
          li
            p.m-b-md Pengeluaran pribadi seperti : telepon, room service, laundry, mini bar, tambahan makanan dan minuman serta pengeluaran lainnya.
          li
            p.m-b-md Tour tambahan (Optional Tour) yang mungkin diadakan selama perjalanan.
          li
            p.m-b-md Excess baggage (biaya kelebihan barang bawaan di atas 20 kg), Biaya bea masuk yang dikenakan oleh duane di Jakarta maupun di negara yang dikunjungi. <br />Biaya Single Supplement.
          li
            p.m-b-md PPN 1%.

      .clearfix
