#creditCartPaymentMethod.payment-method-block
  .block.credit-card-payment
    label.block.text-u-c.text-black.m-t.m-b.f-bold.m-r-md.text-14px Credit Card Payment
    .radio.m-r-xs.inline
      label
        input(type="radio", name="credit-card-type", value="visa")
        img.m-t-n-xs.m-r-sm(src="img/card-visa.png", alt="Visa Card", width="44")

    .radio.m-l-sm.m-r-xs.inline
      label
        input(type="radio", name="credit-card-type", value="master-card")
        img.m-t-n-xs.m-r-sm(src="img/card-master-card.png", alt="Master Card", width="44")

    .radio.m-l-sm.inline
      label
        input(type="radio", name="credit-card-type", value="american-express")
        img.m-t-n-xs.m-r-sm(src="img/card-american-express.png", alt="American Express Card", width="44")
    .clearfix

    .m-t-md
      .boxing.cc-number.b.b.m-b.m-r-md
        label.block.text-xs.m-b-sm Credit Card Number
        input.cc-number.credit-card-input(type="tel", autocomplete="cc-number", placeholder="•••• •••• •••• ••••")

      .boxing.b.ccv.b.m-b
        label.block.text-xs.m-b-sm CCV 3 Digit
        input.cc-cvc(type="text", pattern="\d+", name="ccv", maxlength="3", placeholder="XXX")
      .clearfix

    .form-group
      .pull-left.m-r-md
        .boxing.selectbox.m-r-md.b.pos-rlt
          label.block.text-xs Expired on Month
          select(name="month")
            option January
            option February
            option March
            option April
            option May
            option June
            option July
            option August
            option September
            option October
            option November
            option(selected="selected") Desember

      .pull-left
        .boxing.selectbox.inline.b.pos-rlt.m-r-none
          label.block.text-xs Expired on Year
          select(name="year")
            option 2015
            option 2016
            option(selected="selected") 2017
            option 2018
            option 2019
            option 2020
            option 2021

      .clearfix

  .b-b.m-r-n-md.m-l-n-md.m-t-md

  .block.billing-address-block.m-t-md

    .boxing.name.b.b
      label.block.text-xs.m-b-sm Name as written in Credit Card
      input.credit-card-input(type="text", value="Anissa Sudirman")

    .boxing.selectbox.m-t.b.pos-rlt
      label.block.text-xs Country
      select(name="country")
        option(selected="selected") Indonesia
        option Singapore
        option Malaysia
        option Thailand
        option Vietname
        option India
        option Australia

    .boxing.selectbox.m-t.b.pos-rlt
      label.block.text-xs City
      select(name="city")
        option(selected="selected") Jakarta
        option Bandung
        option Surabaya
        option Medan
        option Semarang


    .boxing.phone-number.b.m-t.b
      label.block.text-xs.m-b-sm Phone Number
      input.credit-card-input(type="text", value="08123456789")

    .boxing.post-code.b.b.inline.m-t
      label.block.text-xs.m-b-sm Post Code
      input.credit-card-input(type="text", value="11520")

    p.text-sm.m-t-md
      | Dengan mengklik tombol Make Payment, Anda telah menyetujui&nbsp;
      a.text-yellow(href="#") Syarat dan Ketentuan
      | &nbsp;dan&nbsp;
      a.text-yellow(href="#") Kebijakan Privasi
      |  Saptatour.com
  .b-b.m-r-n-md.m-l-n-md.m-t-md

  .m-t-md
    button.btn.btn-primary.btn-submit.text-u-c.width-100(type="submit") Make Payment
