.booking-page {
  margin-top: 70px;
  overflow-x:hidden;

  &.flight-payment,
  &.hotel-payment {
    margin-top: 0
  }

  .display-table {
    display: table;
  }

  .display-cell {
    display: table-cell;
    vertical-align: top;
  }

  .content-left {
    position: relative;
    z-index: 1;
    width: 700px;
    padding-right: 33px;
    background-color: #fff;
  }

  p {
    line-height: 24px;
  }

  .section-title {
    font-size: 30px;
    color: #4c4c4c;
  }

  .b {
    border-color: #d0d0d0;
  }

  .dashed {
    border-top: 1px dashed #e5e5e5;
  }

  .participants {
    line-height: 17px;

    > div {
      vertical-align: top;
      position: relative;
      display: table-cell;

      input {
        font-family: "Gotham Book"
      }

      span {
        &.bg-white {
          padding-left: 15px;
        }
        &.increase,
        &.decrease {
          width: 30px;
          padding-left: 0;
          display: inline-block;

          .ico {
            cursor: pointer;
          }
        }
      }

      .ico {
        position: absolute;
        left: 0;

        &-adult {
          top: -3px;
        }
        &-child {
          top: -6px;
        }

        &-baby {
          top: 1px;
          left: -3px;
        }

        &-left,
        &-right {
          top: -16px;
        }
      }
    }

    .label {
      color: #353535;
      font-size: 12px;
      line-height: 17px;
    }

    span {
      margin-right: 5px;
    }
  }

  .aside {
    width: 240px;
    background: #f4f4f4;
    padding-left: 35px;
    position: relative;

    h5 {
      color: #4c4c4c;
      font-size: 26px;
    }

    ul {
      background: #fff;
      -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 1px 4px 1px rgba(0, 0, 0, 0.1);

      li {
        position: relative;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;

        &:first-child {
          color: #000000;
          font-family: "Gotham Black";
          line-height: 20px !important;
          font-size: 15px;

          .f-light {
            font-family: "Gotham Book";
            font-weight: normal;
          }
        }
      }

      &.bg-yellow {
        -webkit-box-shadow: 0px 0px 0px 1px rgba(227, 222, 153, 1), 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 1px rgba(227, 222, 153, 1), 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
        background-color: #ffffcc;
      }
    }

    ul.tour-ticket {

      li {
        padding: 10px 20px 10px 50px;
        height: 50px;
        line-height: 30px;

        &:first-child {
          height: 68px;
          padding: 15px 0;
        }

        &:last-child {
          border-bottom: none;
        }

        .ico {
          position: absolute;
          top: 13px;
          left: 20px;

          &-departure {
            top: 17px;
          }
          &-return {
            top: 12px;
          }

          &-adult {
            top: 11px;
            left: 26px;
          }

          &-airline-circle {
            left: 22px;
            top: 14px;
          }
        }

        &.bg-white {
          background-color: #fff;
        }
        &.bg-light {
          background-color: #f8f8f8;
        }
      }

      &.outbound-flight,
      &.inbound-flight {
        li {
          height: 50px;
          min-height: 50px;
          height: auto !important;

          &:first-child {
            height: 48px;
            padding: 15px 0;
          }

          &.schedule {
            height: 80px;
            line-height: 18px;

            .ico-departure {
              top: 30px
            }

            .ico-return {
              top: 26px
            }
          }

          .ico {
            &-bag {
              top: 17px;
            }

            &-adult {
              left: 23px
            }
            &-marker {
              top: 17px;
            }
          }

          &.airline {
            padding-left: 15px;
          }

          label {
            color: #888;
            font-size: 11px;
            font-family: "Gotham Black"
          }
        }
      }
    }

    ul.tour-pricing {

      li {
        padding: 14px 15px 14px 25px;
        font-family: "Gotham Black";
        font-size: 13px;
        color: #000;

        span {
          line-height: 20px;

          &.gray {
            font-size: 11px;
            color: #888;
          }

          &.light {
            font-family: "Gotham Book"
          }

          &.pricing {
            display: table;
            margin-top: 5px;

            .currency {
              vertical-align: top;
              display: table-cell;
              line-height: 12px;
            }
            .price {
              padding-left: 5px;
              display: table-cell;
              font-size: 20px;
              line-height: 18px;
            }

          }
        }

        &.bg-light {
          background-color: #f8f8f8;
        }
      }
    }

    ul.hotel-booking-summary {

      li {
        padding: 10px 20px;
        height: 50px;
        min-height: 50px;
        height: auto !important;
        line-height: 30px;

        &:first-child {
          height: 68px;

          .ico {
            position: static;
          }
          .block.bg-white {
            padding-left: 0
          }
        }

        &:last-child {
          border-bottom: none;
        }

        .block.bg-white {
          padding-left: 35px;
        }

        .ico {
          position: absolute;
          top: 13px;
          left: 20px;

          &-departure {
            top: 17px;
          }
          &-return {
            top: 12px;
          }

          &-adult {
            top: 11px;
            left: 26px;
          }

          &-airline-circle {
            left: 22px;
            top: 14px;
          }

          &-hotel-in,
          &-hotel-out {
            top: 15px;
            left: 22px
          }

          &-room {
            top: 15px;
            left:25px
          }
        }

        &.bg-white {
          background-color: #fff;
        }
        &.bg-light {
          background-color: #f8f8f8;
        }
      }

      &.outbound-flight,
      &.inbound-flight {
        li {
          height: 50px;
          min-height: 50px;
          height: auto !important;

          &:first-child {
            height: 48px;
            padding: 15px 0;
          }

          &.schedule {
            height: 80px;
            line-height: 18px;

            .ico-departure {
              top: 30px
            }

            .ico-return {
              top: 26px
            }
          }

          .ico {
            &-bag {
              top: 17px;
            }

            &-adult {
              left: 23px
            }
            &-marker {
              top: 17px;
            }
          }

          &.airline {
            padding-left: 15px;
          }

          label {
            color: #888;
            font-size: 11px;
            font-family: "Gotham Black"
          }
        }
      }
    }

    p {
      line-height: 18px;
      color: #939393;
      font-size: 11px;

      a {
        color: #e67b00
      }

      &.text-dark {
        color: #000;
      }

      .text-sm {
        font-size: 12px;
      }
    }

    .btn-primary {
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      color: #fff;
      -webkit-box-shadow: 0px -2px 0px 0px #50aaba;
      box-shadow: 0px -2px 0px 0px #50aaba;
    }
  }

  .flight-payment-step-2 {
    .aside {
      padding-left: 0;
      width: 100%;
      background: none;

      .outbound-flight,
      .inbound-flight {
        width: 320px;
      }

      ul {
        -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 2px 3px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 2px 3px 2px rgba(0, 0, 0, 0.1)
      }
    }
  }

  .wrapping-gray {
    background: #f4f4f4;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }

  &.flight-payment {
    .bank-tranfer-choose {
      font-size: 13px;
      line-height: 23px;
    }

    .bg-warn-msg {
      background-color: #ffffcc;
      line-height: 24px;
    }

    .bank-account-list {
      .bank-item {
        padding-bottom: 25px;
        border-bottom: 1px dashed #e5e5e5;

        // &:last-child {
        //   padding-bottom: 0;
        //   border-bottom: 0;
        // }

        li {
          label {
            margin-bottom: 0;
            width: 146px;
          }

          span {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }

    .mandiri-token {
      ul {
        li {
          label {
            .m-b-none;
            width: 120px;
          }

          > div {
            line-height: 18px;
            width: 100px;
            font-size: 11px;
          }
        }
      }
    }
  }
}


.booking-thank-you {
  padding-top: 30px;

  .section-title {
    .booking-page .section-title
  }

  .thank-your-header {
    background: #f4f4f2;
    height: 36px;
    line-height: 36px;
    margin-bottom: 70px;
    font-size: 13px;

     .tour-name {
      width: 220px;
      padding: 0 0 0 20px;
    }

    .count-adult,
    .tour-date {
      padding-left: 20px;
    }

    .tour-date {
      width: 320px;
    }

    .tour-name,
    .tour-date {
      border-right: 2px solid #fff;
    }
  }

  .thank-your-message {
    width: 780px;
    margin: 0 auto;

    a {
      color: #ff9966;
    }
  }
}

.custom-destination-block {

  .title-box {
    font-family: "Gotham Rounded";
    font-size: 30px;
    font-weight: 200;
  }

  article {
    p {
      font-size: 14px;
      margin-bottom: 0;
      line-height: 24px
    }
  }

  .hint {
    color: #cc6600;
    font-family: "Gotham Rounded"
  }

  .question {
    font-size: 29px;
    font-family: "Gotham Rounded";
    letter-spacing: -1px;
    line-height: 45px;
  }

  .sapta-form {
    .boxing {
      width: 295px;

      &.answer {
        width: 100%
      }

    }
    .btn-submit {
      width: auto;
      margin: 0 auto
    }
  }
}
