.flight-page {
  .head-title {
    color: #4c4c4c;
    font-size: 30px;

    &.text-white {
      color: #fff;
    }
  }

  .flight-lists {
    padding-bottom: 20px;

    .item {
      height: 210px;

      img {
        max-width: 100%;
        height: 210px;
        position: relative;
        z-index: 0;
      }

      .destination {
        font-family: "Gotham Black";
        font-size: 18px;
        z-index: 1;
        left: 0;
        bottom: 0;
        height: 121px;
        line-height: 23px;
        padding-top: 40px;
        width: 100%;
        background: url(../img/overlay-box.png) repeat-x bottom left;
        color: #fff;

        .flight-class {
          font-size: 11px;
          font-family: "Gotham Book"
        }

        &.hotel {
          padding-top: 65px;

          .hotel-counts {
            margin-top: 5px;
            letter-spacing: 1px;
            font-size: 11.3px;
          }
        }
      }

      .pricing {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        color: #8f3000;
        font-size: 10px;
        text-align: center;
        padding: 11px 27px;
        line-height: 20px;

        .price {
          font-family: "Gotham Black";
          font-size: 20px;
          color: #393030;
        }

        .currency {
          font-size: 14px;
        }
      }
    }
    .bg-orange {
      background-color: #fcbc56;
    }
  }
}

.why-book-withs-sapta {
  padding: 60px 0 30px 0;

  .reason {
    span {
      &.bg-white {
        display: block;
        margin: 0 auto 0;
        height:70px;
      }
    }

    p {
      padding: 0 16px;
      line-height: 24px;
    }

    h6 {
      padding: 10px;
      font-family: "Gotham Black";
      font-size: 13px;
      line-height: 21px;
    }
  }
}


.outbond-flight-list,
#selectedFlights {
  .flight-item {
    background: #fff;
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 2px rgba(216, 216, 216, 0.5);
    box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 2px rgba(216, 216, 216, 0.5);
    height: 78px;

    .column {
      height: 78px;
      border-color: #d8d8d8;

      label {
        font-size: 11px;
        margin-bottom: 0;
        font-family: "Gotham Black";
        color: #888;
      }

      .light {
        font-family: "Gotham Book";
        font-size: 11px;
        font-weight: 200;
        color: #888;
      }
    }

    > .arline {
      padding-top: 13px;
      width: 95px;
      text-align: center;

      img {
        max-width: 30px;
        max-height: 30px;
      }
    }

    > .schedule {
      width: 425px;
      background: url(../img/bg-shedule-departure.png) no-repeat center left;

      .departure.pos-rlt,
      .return.pos-rlt {
        height: 78px;
        padding-left: 45px;

        .ico {
          position: absolute;
          top: 35px;
          left: 15px;

          &-return {
            top: 29px;
          }
        }

        .time {
          margin-top: 15px;
          font-size: 11px;
        }
        .date {
          font-size: 13px;

          strong {
            font-family: "Gotham Black"
          }
        }
      }

      .return.pos-rlt {
        padding-left: 40px;
        width: 182px;
      }

      .arrow {
        display: block;
        position: absolute;
        top: 0;
        left: 187px;
        background: url(../img/arrow-thin-medium.png) no-repeat center 0;
        width: 26px;
        height: 78px;
        z-index: 0;
      }

      .duration {
        left: 178px;
        top: 50%;
        margin-top: -12.5px;
        position: absolute;
        width: 60px;
        text-align: center;
        font-family: "Gotham Black";
        font-size: 11px;
        color: #000;
        height: 25px;
        line-height: 25px;
        display: block;
        border-radius: 2px;
        #gradient > .vertical(#f4f4f4, #fff);
        font-family: "Gotham Black";
        -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
      }
    }

    > .transit {
      width: 130px;
      padding-left: 23px;

      label {
        margin-top: 25px;
      }

      .ico {
        top: 45px;
        margin-top: -13px;
        right: 15px;
      }
    }

    > .pricing {
      width: 160px;
      padding-left: 23px;
      background: #f8f8f8;
      color: #158ea3;
      padding-top: 14px;

      .price,
      .currency {
        font-family: "Gotham Black";
        font-size: 18px;
        line-height: 15px;
        vertical-align: top;
      }

      .currency {
        font-size: 13px;
        margin-top: -2px;
        margin-right: 3px;
      }
    }

    > .button {
      font-family: "Gotham Black";
      width: 130px;
      line-height: 78px;
      background: #158ea3;
      text-shadow: 1px 2px 0px #006678;
      a {
        color: #fff;
        font-size: 13.89px;
        letter-spacing: 0.9px;
      }
    }
  }
}

#selectedFlights {
  background: #fcaf56;
  padding: 55px;

  .isBlock {
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  }

  .flight-item {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 78px;

    .flight-class {
      width: 130px;
      height: 77px;
      text-align: center;

      label {
        margin-top: 23px;
      }
    }
  }

  .select-departure-flight {
    .b-b;

    .schedule {
      height: 77px;
    }
  }

  .book-now-flights {
    height: 156px;
    .b-l;
    width: 158px;
    background: #fff;
    padding-left: 23px;

    > .pricing {
      padding-top: 25px;
      padding-top: 14px;

      label {
        font-size: 11px;
        margin-bottom: 0;
        font-family: "Gotham Black";
        color: #888;

        &.light {
          font-family: "Gotham Book";
          font-size: 11px;
          font-weight: 200;
          color: #888;
        }
      }

      .price,
      .currency {
        color: #158ea3;
        font-family: "Gotham Black";
        font-size: 18px;
        line-height: 15px;
        vertical-align: top;
      }

      .currency {
        font-size: 13px;
        margin-top: -2px;
        margin-right: 3px;
      }
    }

    .btn-primary {
      padding: 10px 15px;
      -webkit-box-shadow:0px -2px 0px 0px #53aebd;
      box-shadow:0px -2px 0px 0px #53aebd;

      &:hover {
        border-color: #158ea3;
      }

      &:active,
      &:focus {
        border-color: #158ea3;
        -webkit-box-shadow:0px -2px 0px 0px #0f6776;
        box-shadow:0px -2px 0px 0px #0f6776;
      }
    }
  }
}

.flight-payment-step-1 {
  #btnAddMorePassenger {
    text-shadow: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.flight-payment-step-2 {
  .passenger-item {
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 2px rgba(216, 216, 216, 0.5);
    box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 1px 3px 2px rgba(216, 216, 216, 0.5);
    height: 74px;
    min-height: 74px;
    height: auto !important;

    .column {
      padding: 13px 22px 15px;
      float: left;
      height: 74px;
      min-height: 74px;
      height: auto !important;
      border-color: #d8d8d8;

      label {
        font-size: 11px;
        margin-bottom: 0;
        color: #888;
        font-family: "Gotham Black"
      }

      .number {
        color: #d9d9d9;
        font-size: 31px;
        font-family: "Gotham Black";
        top: 20px;
        line-height: 22px;
        position: absolute;
        left: 13px;
      }

      &:first-child {
        padding-left: 68px;
        width: 255px;
      }

      &:nth-child(2) {
        width: 133px;
      }

      &:nth-child(3) {
        width: 140px;
      }

      &:nth-child(4) {
        width: 135px;
      }
    }
  }
}

.ssl-message {
  p {
    width: 74%;
  }
}

.flight-payment-step-5 {
  font-size: 13px;

  .btn-download-e-ticket {
    display: inline-block;
    width: 296px;
    height: 50px;
    background-image: url(../img/icon-bg-white.png);
    background-position: -2px -258px;
    text-indent: -9999px;
    overflow: hidden;
  }

  .section-title {
    .booking-page .section-title
  }

  .ticket-header {
    background: #f4f4f2;
    height: 36px;
    line-height: 36px;
    margin-bottom: 70px;

     .order-number {
      width: 160px;
      text-align: center;
    }

    .departure,
    .return {
      padding-left: 20px;
    }

    .departure {
      width: 377px;
    }

    .departure,
    .order-number {
      border-right: 2px solid #fff;
    }
  }

  .ticket-has-created {
    background-color: #f4f4f2;
    padding: 35px;
    font-size: 13px;
  }

  .ssl-message {
    border-top: 1px dashed #e5e5e5;

    p {
      width: 80%;
      padding-top: 14px;
      font-size: 11px;
    }
  }

  .tanda-bukti-pemesanan {
    padding: 50px 80px;
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 2px 6px 1px rgba(0, 0, 0, 0.1);

    .f-bold {
      font-size: 15px;
    }

    .info {
      width: 50%;
      height: 270px;
      border-color: #e6e6e6;

      &.right {
        padding-left: 48px;
        line-height: 23px;
      }
    }

    ol {
      margin-left: 0;
      padding-left: 16px;
      width: 100%;
    }
  }

  .message-customer-service {
    color: #999;
    font-size: 11px;

    a {
      color: #ff9966
    }
  }
}
