.footer {
  text-align: center;
  background: #f9e723 url(../img/footer-bg.png) no-repeat bottom center;
  border-bottom: 30px solid #4d4d4d;
  padding-bottom: 255px;

  h3 {
    margin: 30px 0 50px 0;
  }

  .appLogoContainer {
    padding: 50px 0 20px 0;
  }

  .appLogo {
    margin: 15px auto 30px;
    background: url("../img/appLogo.png") no-repeat center center;
    height: 182px;
    width: 175px;
    display: block;
  }

  .qrCode {
    background: #fff url("../img/qrCode.png") no-repeat scroll center center / contain ;
    border: 5px solid #fff;
    border-radius: 5px;
    display: inline-block;
    height: 130px;
    margin-right: 15px;
    width: 130px;
  }
  .downloadLinks {
    display: inline-block;
    height: 130px;
    width: 215px;
  }

  .downloadLinks .download,
  .downloadLinks .universalLink {
    background: #000 none no-repeat scroll center center / 60% auto;
    border-radius: 5px;
    display: inline-block;
    height: 60px;
    width: 215px;

    &:active,
    &:visited,
    &:hover {
      color: #fff !important;
      text-decoration: none !important;
    }

    &.appleStore {
      background-image: url("../img/appleStore.png");
    }
    &.googlePlay {
      background-image: url("../img/googlePlay.png");
    }
  }


  @media (max-width: @screen-md-min) {
    h3 {
      margin: 10px 0 20px 0;
      font-size: 35px;
    }

    .appLogo {
      background-size: contain;
      width: 100px;
      height: 118px;
    }

    .qrCode {
      display: none;
    }

    .downloadLinks {
      width: 100%;
      height: auto;
      display: inline-block;
      text-align: center;

      .download {
        background: no-repeat;
        background-size: 60%;
        border-radius: 5px;
        display: inline-block;
        width: 130px;
        height: 40px;
        background-position: center;
        background-color: #000;

        &.appleStore {
          margin-right: 5px;
        }
      }
    }
  }
}
