.hotel-page {
  .tip-inquiry {
    margin-top: 0
  }
}

.sidebar-hotel {
  overflow-x:hidden;

  .wrapping-gray {
    background: #f4f4f4;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .display-table {
    display: table;
  }

  .display-cell {
    display: table-cell;
    vertical-align: top;
    padding-top: 40px;
  }

  .content-right {
    position: relative;
    z-index: 1;
    width: 760px;
    padding-left: 25px;
    background-color: #fff;
  }

  .aside {
    width: 220px;
    background: #f4f4f4 url(../img/bg-hotel-sidebar.png) repeat-y top right;
    position: relative;

    form {
      padding-right: 30px;

      .boxing {
        background-color: #fff;
        width: 100%;
      }

      .b {
        border-color: #d0d0d0
      }

      .radio {
        label {
          span.inline {
            padding-top: 3px;
          }
        }
      }

      .checkbox {
        .ico {
          margin-top: 3px;
        }
        input {

        }
      }

      .price-range {
        input {
          padding-left: 25px;
        }
        .placeholder {
          left: 12px;
          bottom: 9px;
          font-size: 11px;
          .text-u-c;
        }
      }

      .price-range {
        .boxing {
          width: 150px;
        }

        .ico-price-range {
          right: -10px;
          top: 26px;
        }
      }
    }

    .toggle {
      .ico {
        right: 0;
        top: 0;
        margin-top: -7px;
        cursor: pointer;
      }
    }
  }
}

.search-result-hotel-block {
  .hotem-item {
    height: 130px;
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 4px 7px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 0px 0px 1px #d8d8d8, 0px 4px 7px 0px rgba(216, 216, 216, 0.6);

    .column {
      height: 130px;
      border-color: #d8d8d8;

      &.picture-thumb {
        width: 130px;
        padding: 3px;
        .b-r;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &.hotel-info {
        width: 330px;
        padding: 15px 20px;
        .pos-rlt;

        .hotel-name {
          font-size: 18px;
          color: #393030;
          line-height: 22px;
        }
        .location {
          font-size: 10px;
          color: #8f3000;
        }

        .hotel-star {
          line-height: 12px;
        }

        .fasilitas {
          bottom: 15px;
          right: 30px;
          width: 260px;
          text-align: right;
        }
      }

      &.rating {
        width: 110px;
        .b-r;
        .b-l;

        .text-primary {
          margin-top: 40px;
          margin-bottom: 10px;
        }
      }

      &.pricing {
        width: 123px;
        color: #888;
        font-size: 11px;

        .block,
        label {
          padding:0 0 0 10px;
        }

        .price {
          color: @brand-primary;
          line-height: 17px;

          .currency {
            font-size: 13px;
            top: 0;
          }

          .rate {
            margin-left: 5px;
            font-size: 18px;

            small {
              font-size: 12px;
            }
          }
        }

        a {
          width: 100%;
          border-top: 2px solid #52adbc;
          .m-t-xs;

          &:hover,
          &:focus {
            outline: 0;
          }

          &.text-primary {
            color: #fff;
            line-height: 43px;
            background: @brand-primary;
          }
        }
      }
    }
  }
}
