doctype html
html(lang="en")
  head
    base(href="/mobile")
    include ../includes/head

  body.mobile

    include ../includes/aside-menu

    #container

      include ../includes/header

      #main-wrap.pos-rlt

        block main

      include ../includes/footer

    include ../includes/foot
