extends layouts/default

include include/mixin

block main

  mixin headerActive('index')

  #home.home-page

    include section/banner

    include section/artist-profile

    include section/timeline

    include section/deals

    include section/shipping

    include section/share-and-win

    include section/testimony
