.ico {
  background: url(../img/icon-bg-green.png);
  background-repeat: no-repeat;
  display: inline-block;

  &-tours {
    width: 19px;
    height: 16px;
    background-position: -86px -4px;
  }
  &-flight {
    width: 21px;
    height: 14px;
    background-position: -129px -6px;
  }
  &-hotel {
    width: 14px;
    height: 19px;
    background-position: -177px 0px;
  }
  &-document {
    width: 15px;
    height: 18px;
    background-position: -220px 0px;
  }
  &-blog {
    width: 16px;
    height: 16px;
    background-position: -264px -4px;
  }

  &-phone {
    width: 18px;
    height: 20px;
    background-position: 0 -3px;
  }
  &-email {
    width: 20px;
    height: 15px;
    background-position: -43px -6px
  }

  &-fb,
  &-tw {
    width: 18px;
    height: 18px;
    text-indent: -9999px;
    overflow: hidden;
  }

  &-fb {
    background: url(../img/social-media-ico.png) no-repeat 0 0;
  }

  &-tw {
    background: url(../img/social-media-ico.png) no-repeat -29px 0;
  }
}

.bg-white {
  .ico {
    background: url(../img/icon-bg-white.png) no-repeat;
    display: inline-block;

    &-phone {
      width: 36px;
      height: 35px;
      background-position: -2px 0px;
    }

    &-twentyfour-hour {
      width: 54px;
      height: 65px;
      background-position: -3px -65px;
    }

    &-luggage {
      width: 30px;
      height: 26px;
      background-position: -62px -8px;
    }

    &-time {
      width: 21px;
      height: 21px;
      background-position: -118px -12px;
    }

    &-hotel {
      width: 14px;
      height: 19px;
      background-position: -195px -13px;
    }

    &-calendar {
      width: 16px;
      height: 16px;
      background-position: -160px -16px;
    }

    &-food {
      width: 13px;
      height: 20px;
      background-position: -230px -12px;
    }

    &-departure {
      width: 22px;
      height: 11px;
      background-position: -355px -20px;

      &-lg {
        width: 41px;
        height: 15px;
        background: url(../img/ico-departure-lg.png) no-repeat 0 0;
      }
    }

    &-return {
      width: 19px;
      height: 15px;
      background-position: -393px -15px;

      &-lg {
        width: 35px;
        height: 25px;
        background: url(../img/ico-return-lg.png) no-repeat 0 0;
      }
    }

    &-idea {
      width: 24px;
      height: 22px;
      background-position: -429px -175px;
    }

    &-switch {
      width: 20px;
      height: 21px;
      background: url(../img/ico-switch.png) no-repeat;
      cursor: pointer;
    }

    &-adult {
      width: 11px;
      height: 23px;
      background-position: -264px -9px;
    }

    &-child {
      width: 11px;
      height: 26px;
      background-position: -292px -5px;
    }

    &-baby {
      width: 15px;
      height: 11px;
      background-position: -323px -19px;
    }

    &-right {
      height: 24px;
      width: 24px;
      background: url(../img/arrow-right.png) no-repeat 0 0;
    }

    &-left {
      height: 24px;
      width: 24px;
      background: url(../img/arrow-left.png) no-repeat 0 0;
    }

    &-airline-circle {
      width: 17px;
      height: 17px;
      background-position: -427px -14px;
    }

    &-customer-service {
      height: 64px;
      width: 75px;
      background-position: -95px -64px;
    }

    &-customer-service {
      height: 64px;
      width: 75px;
      background-position: -95px -64px;
    }

    &-safe {
      height: 65px;
      width: 48px;
      background-position: -212px -64px;
    }

    &-payment {
      height: 50px;
      width: 73px;
      background-position: -313px -75px
    }

    &-tax {
      width: 120px;
      height: 53px;
      background-position: -436px -77px
    }

    &-info {
      width: 16px;
      height: 16px;
      background-position: -593px -16px;
    }

    &-check {
      width: 16px;
      height: 16px;
      background-position: -569px -17px;
    }

    &-cross {
      width: 16px;
      height: 16px;
      background-position: -544px -17px;
    }

    &-warn {
      width: 14px;
      height: 14px;
      background-position: -517px -18px;
    }

    &-chair {
      width: 15px;
      height: 15px;
      background-position: -624px -17px;
    }

    &-bag {
      width: 15px;
      height: 15px;
      background-position: -653px -17px;
    }

    &-marker {
      width: 10px;
      height: 15px;
      background-position: -680px -15px;
    }

    &-hotel-in {
      width: 25px;
      height: 18px;
      background-position: -707px -13px;
    }

    &-hotel-in {
      width: 25px;
      height: 18px;
      background-position: -743px -13px;
    }

    &-waiting {
      width: 17px;
      height: 20px;
      background-position: -695px -93px;
    }

    &-gear {
      width: 33px;
      height: 33px;
      background-position: -730px -84px;
    }

    &-wifi {
      width: 17px;
      height: 13px;
      background-position: -459px -17px;
    }

    &-star {
      width: 12px;
      height: 12px;
      background-position: -490px -18px;
    }
  }
}
