.footer
  .appLogoContainer
    h3.subtitle Jual Beli di Ponsel Kamu

    span.appLogo

    h4 Ayo Download Sekarang!

  span.qrCode
  span.downloadLinks
    a.download.appleStore.bgImg_contain(target="_blank", href="http://app.appsflyer.com/id959841443?pid=OrganicA&amp;c=lp_home_ios2")
    a.download.googlePlay.bgImg_contain(target="_blank", href="http://app.appsflyer.com/com.shopee.id?pid=OrganicA&amp;c=lp_home_and2")

  .copyright.text-center
    span &copy; 2015 Shopee
