/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  background: #fff;
  border: none;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 0 0 rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  outline: 0;
  text-decoration: none;
  display: block;
  width: 42px;
  height: 65px;
  margin: -30px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0.9;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url(../img/slider-arraw.png) no-repeat 0 0;
  background-position: 0 0;
}
.flex-direction-nav a.flex-next {
  background-position: -43px 0;
}
@media (max-width: 992px) {
  .flex-direction-nav a {
    width: 21px;
    height: 32.5px;
    background-size: 42.5px 32.5px;
    margin-top: -15px;
  }
  .flex-direction-nav a.flex-next {
    background-position: -21px 0;
  }
}
.flex-direction-nav .flex-prev {
  left: 30px;
}
.flex-direction-nav .flex-next {
  right: 30px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 30px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 30px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
header {
  border-bottom: 1px solid #ccc;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 120;
}
@media (max-width: 480px) {
  header {
    height: 40px;
    line-height: 40px;
  }
}
header .background {
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
header #shopeemall {
  position: relative;
  color: #444 !important;
  font-family: "Roboto", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial !important;
  font-size: 14px !important;
  vertical-align: middle;
  border-right: 1px solid #ebebeb;
  margin-right: 20px;
  padding-right: 52px !important;
  line-height: normal !important;
  height: 100% !important;
}
@media (max-width: 480px) {
  header #shopeemall {
    margin-right: 20px;
    padding: 0 !important;
    font-size: 12px !important;
    border: none;
    font-weight: normal !important;
    display: inline-block;
    text-align: center;
  }
}
header #shopeemall .badge {
  position: absolute;
  right: 16px;
  top: -16px;
  background-color: #ff5722;
  font-size: 8px !important;
  font-weight: 400;
}
@media (max-width: 480px) {
  header #shopeemall .badge {
    right: -20px;
    top: -10px;
  }
}
.vHelper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#nav.container {
  background-color: transparent;
  font-size: 0;
  text-align: right;
}
@media (max-width: 480px) {
  #nav.container {
    padding-right: 0;
  }
}
#nav .topMenu.home {
  background: rgba(0, 0, 0, 0) url("../img/logo_gray.png") no-repeat scroll center center / contain;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 150px;
}
@media (max-width: 480px) {
  #nav .topMenu.home {
    height: 40px;
    width: 100px !important;
  }
}
#nav .vHelper {
  height: 70px;
}
@media (max-width: 480px) {
  #nav .vHelper {
    height: 40px;
  }
}
#nav .icon {
  background: rgba(0, 0, 0, 0) none no-repeat scroll center top;
  display: inline-block;
  margin: 0 8px;
  padding: 0;
  vertical-align: middle;
}
@media (max-width: 480px) {
  #nav .icon {
    display: none;
  }
}
#nav .icon :hover {
  background-position: center bottom;
}
#nav .icon.icon_facebook {
  background-image: url("../img/icons.png");
  background-position: -57px -188px;
  height: 23px;
  width: 23px;
}
#nav .icon.icon_facebook:hover {
  background-image: url("../img/icons.png");
  background-position: -85px -188px;
  height: 23px;
  width: 23px;
}
#nav .icon.icon_inst {
  background-image: url("../img/icons.png");
  background-position: -29px -188px;
  height: 23px;
  width: 23px;
}
#nav .icon.icon_inst:hover {
  background-image: url("../img/icons.png");
  background-position: -169px -188px;
  height: 23px;
  width: 23px;
}
#nav .icon.icon_twitter {
  background-image: url("../img/icons.png");
  background-position: -141px -188px;
  height: 23px;
  width: 23px;
}
#nav .icon.icon_twitter:hover {
  background-image: url("../img/icons.png");
  background-position: -113px -188px;
  height: 23px;
  width: 23px;
}
.subtitle {
  color: #f1592b;
  font-family: "Roboto", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial;
  font-weight: 600;
  font-size: 50px;
}
@media (max-width: 992px) {
  .subtitle {
    font-size: 30px;
    margin-bottom: 30px !important;
  }
}
.footer {
  text-align: center;
  background: #F4F4F4 !important;
  padding-bottom: 60px;
  position: relative;
}
.footer h3 {
  margin: 30px 0 40px 0;
}
.footer h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer .appLogoContainer {
  padding: 30px 0 10px 0;
}
.footer .appLogo {
  margin: 80px auto 55px;
  background: url("../img/appLogo.png") no-repeat center center;
  background-size: 150px 150px;
  height: 150px;
  width: 150px;
  display: block;
}
.footer .qrCode {
  background: #fff url("../img/qrCode.png") no-repeat scroll center center / contain;
  border: 5px solid #fff;
  border-radius: 5px;
  display: inline-block;
  height: 130px;
  margin-right: 15px;
  width: 130px;
}
.footer .downloadLinks {
  display: inline-block;
  height: 130px;
  width: 215px;
}
.footer .downloadLinks .download,
.footer .downloadLinks .universalLink {
  background: #000 none no-repeat scroll center center / 60% auto;
  border-radius: 5px;
  display: inline-block;
  height: 70px;
  width: 180px;
}
.footer .downloadLinks .download:active,
.footer .downloadLinks .universalLink:active,
.footer .downloadLinks .download:visited,
.footer .downloadLinks .universalLink:visited,
.footer .downloadLinks .download:hover,
.footer .downloadLinks .universalLink:hover {
  color: #fff !important;
  text-decoration: none !important;
}
.footer .downloadLinks .download.appleStore,
.footer .downloadLinks .universalLink.appleStore {
  background-image: url("../img/appleStore.png");
}
.footer .downloadLinks .download.googlePlay,
.footer .downloadLinks .universalLink.googlePlay {
  background-image: url("../img/googlePlay.png");
}
.footer .copyright {
  width: 100%;
  padding: 8px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #4d4d4d;
  font-size: 14px;
}
@media (max-width: 480px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer h3 {
    margin: 10px 0 20px 0;
    font-size: 35px;
  }
  .footer .appLogo {
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: 40px;
  }
  .footer h4 {
    margin-bottom: 0;
  }
  .footer .qrCode {
    display: none;
  }
}
.hero-banner {
  margin-top: 70px;
}
@media (max-width: 480px) {
  .hero-banner {
    margin-top: 40px;
  }
}
.hero-banner.home {
  height: 500px;
  position: relative;
}
.hero-banner .flexslider {
  z-index: 1;
}
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 480px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.artist-profile-block .subtitle {
  margin: 0 0 70px 0;
}
.artist-profile-block .artis-item {
  min-width: 177px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}
.artist-profile-block .artis-item:nth-child(6n+1) {
  margin-right: 0;
}
.artist-profile-block .artis-item img {
  display: block;
  margin: 0 0 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.artist-profile-block .artis-item h5 {
  text-transform: uppercase;
  color: #f1592b;
  font-size: 18px;
  font-weight: 600;
  display: block;
  width: 177px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-profile-block .artis-item h5.spesial {
  font-size: 16px;
}
.artist-profile-block .artis-item span {
  color: #444;
  font-size: 16px;
}
@media (max-width: 480px) {
  .artist-profile-block .artis-item {
    width: 105px !important;
    min-width: 105px;
    margin-right: 5px;
  }
  .artist-profile-block .artis-item:nth-child(6n+1) {
    margin-right: 5px;
  }
  .artist-profile-block .artis-item h5 {
    width: auto;
    margin-bottom: 5px;
    font-size: 11px;
  }
  .artist-profile-block .artis-item img {
    width: 100%;
  }
  .artist-profile-block .artis-item span {
    font-size: 10px;
  }
}
.share-and-win {
  background: #F4F4F4 url(../img/share-and-win-bg2.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 480px) {
  .share-and-win {
    min-height: 500px;
  }
}
.share-and-win .subtitle {
  color: #fff;
}
.share-and-win .social-media {
  margin: 50px 0 0 0;
}
@media (max-width: 480px) {
  .share-and-win .social-media {
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.share-and-win .social-media .icon {
  display: inline-block;
  margin-right: 25px;
  height: 55px;
  width: 56px;
  background: url(../img/sosmed-icon.png) no-repeat;
}
.share-and-win .social-media .icon.facebook {
  background-position: -1px -113px;
}
.share-and-win .social-media .icon.twitter {
  background-position: -1px -1px;
}
.share-and-win .social-media .icon.linkedin {
  background-position: -1px -57px;
}
.share-and-win .social-media .icon.gplus {
  background-position: -64px -57px;
}
.share-and-win .social-media .icon.email {
  background-position: -64px -2px;
  width: 65px;
  height: 55px;
}
@media (max-width: 480px) {
  .share-and-win .social-media .icon {
    margin-right: 5px;
  }
  .share-and-win .social-media .icon.email {
    background-position: -64px 1px;
  }
}
.share-and-win .form-submit-email {
  width: 375px;
  margin: 60px auto 0;
}
.share-and-win .form-submit-email h5 {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px 0;
}
.share-and-win .form-submit-email #mc_embed_signup input.email,
.share-and-win .form-submit-email #mc_embed_signup input.button {
  display: inline-block;
  border: 0;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  outline: 0;
}
.share-and-win .form-submit-email #mc_embed_signup input.email {
  background: #fff;
  border-radius: 2px 0 0 2px;
  padding: 14px 6px;
  float: left;
  margin: 0;
  width: 258px;
}
.share-and-win .form-submit-email #mc_embed_signup input.email:focus {
  -webkit-box-shadow: inset 0 0 0 1px #23b29c;
  box-shadow: inset 0 0 0 1px #23b29c;
  -webkit-box-shadow: '' inset 0 0 0 1px #23b29c 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' inset 0 0 0 1px #23b29c 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' inset 0 0 0 1px #23b29c 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: '' inset 0 0 0 1px #23b29c 1px 2px rgba(0, 0, 0, 0.2);
}
.share-and-win .form-submit-email #mc_embed_signup input.button {
  background: #23b29c;
  color: #fff;
  width: 105px;
  height: 50px;
  padding: 0;
  line-height: 16px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
.share-and-win .form-submit-email #mc_embed_signup input.button:hover {
  background: #1f9d89;
}
.share-and-win .form-submit-email #mc_embed_signup input.button:active,
.share-and-win .form-submit-email #mc_embed_signup input.button:focus {
  background: #1b8777;
}
@media (max-width: 480px) {
  .share-and-win .form-submit-email {
    width: auto;
    margin-top: 50px;
  }
  .share-and-win .form-submit-email #mc_embed_signup form {
    padding: 0;
  }
  .share-and-win .form-submit-email #mc_embed_signup form input.email {
    width: 200px;
  }
  .share-and-win .form-submit-email #mc_embed_signup form input.button {
    width: 80px;
  }
}
.shipping-block {
  padding-bottom: 0;
}
.shipping-content {
  border-bottom: 50px solid #d1d1d1;
  width: 100%;
  margin-top: 60px;
  position: relative;
}
.shipping-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.testimony-section .subtitle {
  margin-bottom: 100px;
}
.testimony-section #carousel,
.testimony-section #testimony-slider {
  width: 975px;
  margin: 0 auto;
}
.testimony-section #testimony-slider {
  margin-bottom: 50px;
}
.testimony-section #testimony-slider .content-testimony {
  width: 600px;
  margin: 0 auto;
}
.testimony-section #testimony-slider .content-testimony blockquote {
  width: 495px;
  float: left;
  padding: 0 0 0 35px;
  background: url(../img/blockquote-up.png) no-repeat top left;
  font-size: 24px;
  color: #4d4d4d;
  border-left: 0;
  margin: 0;
  position: relative;
}
.testimony-section #testimony-slider .content-testimony blockquote:after {
  display: block;
  content: " ";
  clear: both;
}
.testimony-section #testimony-slider .content-testimony blockquote a {
  color: #f1592b;
}
.testimony-section #testimony-slider .content-testimony blockquote a:hover {
  color: #f47e5b;
}
.testimony-section #testimony-slider .content-testimony blockquote p {
  padding-bottom: 45px;
  background: url(../img/blockquote-down.png) no-repeat bottom right;
}
.testimony-section #testimony-slider .content-testimony blockquote span {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 35px;
  font-size: 14px;
  color: #23b29c;
}
.testimony-section #testimony-slider .slides img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.testimony-section #testimony-slider .flex-direction-nav {
  display: block;
}
.testimony-section #testimony-slider .flex-direction-nav a {
  width: 48px;
  height: 48px;
  margin-top: -24px;
}
.testimony-section #testimony-slider .flex-direction-nav a.flex-prev {
  background: url(../img/testimony-arrow-prev.png) no-repeat 0 0;
  left: 80px;
}
.testimony-section #testimony-slider .flex-direction-nav a.flex-next {
  background: url(../img/testimony-arrow-next.png) no-repeat 0 0;
  right: 80px;
}
.testimony-section #carousel {
  margin-bottom: 30px;
}
.testimony-section #carousel .slides li {
  width: 244px !important;
  height: 244px;
  overflow: hidden;
}
.testimony-section #carousel .flex-direction-nav a {
  width: 67px;
  height: 67px;
  background: url(../img/carousel-arrow.png) no-repeat;
}
.testimony-section #carousel .flex-direction-nav a.flex-prev {
  left: -85px;
  background-position: 0 0;
}
.testimony-section #carousel .flex-direction-nav a.flex-next {
  right: -85px;
  background-position: -68px 0;
}
@media (max-width: 992px) {
  .testimony-section #testimony-slider {
    width: 85%;
  }
  .testimony-section #testimony-slider .content-testimony {
    width: 100%;
    margin: 0 auto;
    padding: 0 6px;
  }
  .testimony-section #testimony-slider .content-testimony blockquote {
    width: 72%;
    background: none;
    padding-left: 10px;
    font-size: 14px;
  }
  .testimony-section #testimony-slider .content-testimony blockquote p {
    background: 0;
    padding-bottom: 15px;
    line-height: 17px;
  }
  .testimony-section #testimony-slider .content-testimony blockquote span {
    left: 10px;
    bottom: 0;
  }
  .testimony-section #testimony-slider .slides img {
    width: 60px;
    height: 60px;
  }
  .testimony-section #testimony-slider .flex-direction-nav a.flex-prev {
    left: -37px;
  }
  .testimony-section #testimony-slider .flex-direction-nav a.flex-next {
    right: -37px;
  }
  .testimony-section #carousel {
    width: 85%;
    display: none;
  }
  .testimony-section #carousel .slides li {
    width: 204px !important;
    height: 204px;
  }
  .testimony-section #carousel .flex-direction-nav a.flex-prev {
    left: -70px;
  }
  .testimony-section #carousel .flex-direction-nav a.flex-next {
    right: -70px;
  }
}
@media (max-width: 480px) {
  .testimony-section #carousel {
    width: 204px !important;
  }
  .testimony-section #carousel .flex-direction-nav a.flex-prev {
    left: -70px;
  }
  .testimony-section #carousel .flex-direction-nav a.flex-next {
    right: -70px;
  }
}
.section.timeline {
  position: relative;
  padding-top: 0;
  height: 3261px;
  background: url(../img/timeline/bg-gradient.png) repeat-x top center;
}
.section.timeline > .container {
  position: relative;
  height: 3261px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section .bubble-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 750px;
  z-index: 1;
  background: url(../img/timeline/bg-bottom.png) repeat-x bottom center;
}
.section .great-sale-bottom {
  background: url(../img/timeline/great-sale-bottom.png) no-repeat top center;
  width: 435px;
  height: 384px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 4;
  margin-left: -217.5px;
}
.section .bg-bubble {
  background: url(../img/timeline/bg-bubble.png) no-repeat top center;
  position: absolute;
  top: 0;
  width: 1280px;
  height: 100%;
  left: 50%;
  margin-left: -640px;
}
#cd-timeline {
  position: relative;
  padding: 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2531px;
  width: 92px;
  background: url(../img/timeline/ruler.png) no-repeat 0 0;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline::before {
    left: 50%;
    top: 185px;
    margin-left: -25px;
  }
}
.cd-timeline-block {
  position: relative;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:first-child .get-your-best-deal {
  width: 406px;
  height: 264px;
  background: url(../img/timeline/timeline-0.png) no-repeat 0 0;
  position: absolute;
  right: 20px;
  top: 80px;
}
.cd-timeline-block:first-child .ico-shopee-flag {
  display: block;
  position: absolute;
  left: 50%;
  width: 75px;
  height: 117px;
  top: 193px;
  margin-left: -7px;
  background: url(../img/timeline/shopee-flag.png) no-repeat 0 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-content {
  position: relative;
  text-align: right;
}
.cd-timeline-content.selebriti-comment {
  margin-right: 35px;
}
.cd-timeline-content.toko-selebritis {
  position: absolute;
  left: 40px;
  top: -110px;
}
.cd-timeline-content.incrane1212 {
  margin-top: 140px;
  margin-right: 105px;
}
.cd-timeline-content.daily-checkin {
  position: absolute;
  left: 40px;
  top: -30px;
}
.cd-timeline-content.love-share-win {
  margin-top: 200px;
  right: 105px;
}
.cd-timeline-content.lelang-barang-artis {
  position: absolute;
  left: 40px;
  top: -130px;
}
.cd-timeline-content.pyramid-discount {
  margin-top: 135px;
  right: 65px;
}
.cd-timeline-content.top-spender-competition {
  position: absolute;
  left: 40px;
  top: -65px;
}
.cd-timeline-content.showoff1212 {
  margin-top: 125px;
  right: 60px;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 0;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
    margin-right: 30px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
}
/*# sourceMappingURL=shopee-1212.css.map */