.tour-form.inline-text.pos-abt.form
  form.container(action="", method="POST", autocomplete="off")
    .left
      label.block You can leave some fields blank.
      div
        span I’d like to visit
        input(type="text", value="Europe", name="destination", size="5")
        span on
        input(type="text", value="March 2015", name="date", size="5")

      div
        span Show me
        input(type="text", value="winter", name="season", size="5")
        span  destinations with
        input(type="text", value="scenic view", name="view", size="5")
        span  and
        input(type="text", value="adventure", name="activity", size="5")
        span  , sort by
        input(type="text", value="price low to high", name="price", size="5")

    .right
      a.pull-left.btn-submit.btn.btn-white.m-auto.m-l-lg(href="tours.html")
        span.inline.m-r-md.m-l-xs.text-u-c Find Tours
        i.fa.fa-angle-right

      a.pull-right.btn.btn-white.m-r-md(href="tours.html")
        span.text-sm.block.m-l-sm See All Tours
