.flight-form.inline-text.pos-abt.form
  form.container(action="", method="POST", autocomplete="off")
    .left
      div
        span I’d like to book a
        input(type="text", value="two ways", size="5")
        span ticket from
        input(type="text", value="jakarta", size="5")
        span to
        input(type="text", value="type city", size="5")
        span on
        input.date(type="text", value="type date", readonly="readonly", size="5")
        span , returning on
        input.date(type="text", value="type date", readonly="readonly", size="5")
        span  for
        input(type="text", value="one", name="activity", size="5")
        span  adult and
        input(type="text", value="no", name="price", size="5")
        span  children in
        input(type="text", value="economy", name="price", size="5")
        span  class

    .right
      a.pull-left.btn-submit.btn.btn-white.m-auto.m-l-lg(href="flights.html")
        span.inline.m-r-md.m-l-xs.text-u-c Find Flights
        i.fa.fa-angle-right

      a.pull-right.btn.btn-white.m-l-md(href="flights.html")
        span.block.m-r-sm.m-l-sm Why Book With Us
