.hotel-form.inline-text.pos-abt.form
  form.container(action="", method="POST", autocomplete="off")
    .left
      div
        span I’d like to find a hotel in
        input(type="text", value="two ways", size="5")
        span for
        input(type="text", value="jakarta", size="5")
        span checking in on
        span &nbsp;,&nbsp;
        input.date(type="text", value="02/01/15", size="5")
        span checking out on
        input.date(type="text", value="02/01/15", size="5")

    .right
      a.pull-left.btn-submit.btn.btn-white.m-auto.m-l-lg(href="flights.html")
        span.inline.m-r-md.m-l-xs.text-u-c Find Flights
        i.fa.fa-angle-right

      a.pull-right.btn.btn-white.m-l-md(href="flights.html")
        span.block.m-r-sm.m-l-sm Why Book With Us
