extends layouts/default

include include/mixin

block main

  mixin headerActive('document')

  .document-page.about-page.p-t-70
    .banner
      h2.head-title.text-white.text-center About Sapta Tour
    .wrapping-gray
    .container.display-table
      .content-left.display-cell.b-r

        article.m-b-xl
          h3.text-rounded.m-b-xl Our&nbsp;
            span.text-yellow Background

          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint &nbsp;
            a(href="#") occaecat cupidatat
            |  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          p
            img(src="img/sapta-tours-about.jpg", alt="")


          h3.text-rounded.m-b-xl Key&nbsp;
            span.text-yellow Facts

          p
            strong.f-bold History

          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          p
            strong.f-bold Vision & Mission

          p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur

          p
            strong.f-bold Who We Work With

          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

          p.text-primary
            strong At vero oset accusamus

          p Et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.

          p.text-primary
            strong Similique sunt in culpa

          p Qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

        .wrapper-xl.b-dashed-t-gray

      .aside.display-cell
        h4.text-rounded.m-b-xl Useful Links

        ul.list-unstyled
          li
            a.active(href="document.html") About Sapta Tour
          li
            a(href="document-passport.html") Frequently Asked Questions
          li
            a(href="document-insurance.html") Privacy Policy
          li
            a(href="#") Terms & Conditions
          li
            a(href="#") Career
