extends layouts/default

include include/mixin

block main
  .blog-page.p-t-70
    .banner
      h3.text-white.text-center Sapta Blog

  .container.m-t-md

    .col-md-6
      .pull-right
        .block-category-dropdown
          label Category
          .dropdown
            a#dropdownCategory.block.dropdown-toggle(data-toggle="dropdown", aria-expanded="true")
              span.block All Category
              span.caret.md
            ul.dropdown-menu(role="menu", aria-labelledby="dropdownCategory")
              li(role="presentation")
                a(role="menuitem", tabindex="-1", href="#") All Category
                a(role="menuitem", tabindex="-1", href="#") International
                a(role="menuitem", tabindex="-1", href="#") Asia
                a(role="menuitem", tabindex="-1", href="#") Europe
                a(role="menuitem", tabindex="-1", href="#") Indonesia
                a(role="menuitem", tabindex="-1", href="#") Jiuzhaigou

      .clearfix

    .col-md-6
      .block-sortby-dropdown
        label Sort By
        .dropdown
          a#dropdownSortBy.block.dropdown-toggle(data-toggle="dropdown", aria-expanded="true")
            span.block Newest
            span.caret.md
          ul.dropdown-menu(role="menu", aria-labelledby="dropdownSortBy")
            li(role="presentation")
              a(role="menuitem", tabindex="-1", href="#") Newest
              a(role="menuitem", tabindex="-1", href="#") Latest
              a(role="menuitem", tabindex="-1", href="#") Popular

    .clearfix


    .blog-post-list.row.m-t-md

      .post-item.col-md-6
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Korea.jpg", alt="")

          mixin postHeader('International', 'Top 10 most romantic Destinations in the world ')

      .post-item.col-md-6
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/New-Zealand.jpg", alt="")

          mixin postHeader('Oceania', 'New Zealand Hobbiton')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Kyoto.jpg", alt="")
          mixin postHeader('Asia', 'Kyoto’s hidden Gems')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Nice.jpg", alt="")
          mixin postHeader('Europe', 'Russia Scandinavia')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/packing.jpg", alt="")
          mixin postHeader('Tips', 'How to Pack light during winter travel')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Eastern-Europe.jpg", alt="")
          mixin postHeader('Europe', 'Eastern Europe')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Jiuzhaigou.jpg", alt="")
          mixin postHeader('Asia', 'Beautiful Jiu ZHai Gou and Beyond')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Sky-Lantern-Festival-Taiwan.jpg", alt="")
          mixin postHeader('Europe', 'Russia Scandinavia')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Maldives.jpg", alt="")
          mixin postHeader('Europe', 'Russia Scandinavia')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Bangkok02.jpg", alt="")
          mixin postHeader('Asia', 'Sacred Places in Asia')

      .post-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Bangka-Belitung.jpg", alt="")
          mixin postHeader('Indonesia', 'The Best Beaches in Indonesia')

  .wrapper-lg.container.text-center.m-t-lg.m-b-lg
    a.btn.btn-white.m-auto(href="#")
      span.block.m-r-md.m-l-md Load More Post
