extends layouts/default

include include/mixin

block main
  mixin headerActive('blog')

  .blog-detail-page.p-t-70
    .container.m-t-xl
      label.wrapper-lg.pad-b-n.text-light.text-u-c.block.text-center.text-yellow International
      h2.m-t-xs.head-title.text-center.text-u-c most romantic cities in the world

      figure.post-image-featured.img-full.m-t-xl
        img(src="img/destinations/Maldives.jpg", alt="")

      article.post-wrapping.b-dashed-b-gray
        .pull-left.social-share
          .pull-right
            span.block.m-t-sm.st_facebook_vcount(class='', displayText='Facebook')
            span.block.m-t-sm.st_twitter_vcount(class='', displayText='Tweet')
            span.block.m-t-sm.st_pinterest_vcount(class='', displayText='Pinterest')
            script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js", async="true")
            script.
              stLight.options({doNotHash: false, doNotCopy: false, hashAddressBar: false});

        .post-content.pull-right
          .post-detail
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            p.big-text 1. Paris, France

            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

            p.big-text 2. London, UK

            img(src="img/destinations/london.jpg", alt="")
            p &nbsp;

            p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            p.big-text 3. Budapest, Hungary

            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

            p.big-text 4. Prague, Czech Republic

            img(src="img/destinations/Prague-02.jpg", alt="")
            p &nbsp;
            p
              | eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur

            p.big-text 5. Maldives
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

          .bloc.post-meta
            p Written by Sapta Tour
        .clearfix

    .related-blog-post.m-b-xl
      h4.text-center.text-rounded.m-b-xl You Might Also Like
        span.text-orange  These Articles

      .container
        .row
          .post-item.col-md-4
            .pos-rlt.wrapping
              figure
                img(src="img/destinations/Kyoto.jpg", alt="")
              mixin postHeader('Japan', 'Kyoto’s hidden Gems')

          .post-item.col-md-4
            .pos-rlt.wrapping
              figure
                img(src="img/destinations/Nice.jpg", alt="")
              mixin postHeader('Europe', 'Explore Provence and French Riviera')

          .post-item.col-md-4
            .pos-rlt.wrapping
              figure
                img(src="img/destinations/Sky-Lantern-Festival-Taiwan.jpg", alt="")
              mixin postHeader('Europe', 'Russia Scandinavia')

        .clearfix

        .col-md-12
          .row
            a.block.btn-show-more.c-text(href="#") Show me more
              strong  Articles

        .clearfix

