extends layouts/default

include include/mixin

block main
  mixin headerActive('booking')

  .booking-page
    .wrapping-gray
    .container.display-table
      .content-left.display-cell.p-t-70.b-r
        p.m-b-lg
          strong.f-bold Perhatian:
          |  Harga yang tertera adalah sebagai perkiraan terdekat. Dengan menekan tombol Make Booking, Anda akan terdaftar sebagai peminat. Customer Service kami akan menghubungi Anda via telepon/Email. Transaksi akhir tidak dilakukan di website ini.

        form.sapta-form.booking
          h4.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Contact&nbsp;
            span.text-yellow Details

          .form-group
            .boxing.name.b.m-t-md
              label.block.text-xs Name
              input(type="text", value="Anissa Sudirman")

            .boxing.phone-number.b.m-t-md.m-r-md.pull-left
              label.block.text-xs Phone Number
              input(type="text", value="", placeholder="+62 (home or mobile number)")

            .boxing.email.b.m-t-md.pull-left
              label.block.text-xs Email
              input(type="text", value="Anissa@gmail.com")
            .clearfix

            .dashed.m-t-xl.m-b-xl

            h4.section-title.m-b-lg.text-c-l.text-left.text-rounded Tour&nbsp;
              span.text-yellow Participants

            .block.participants
              .adult.pull-left.m-r-lg
                span.label.inline Adult
                span.bg-white.pos-rlt.increase
                  i.ico.ico-left
                span.inline.bg-white.pos-rlt
                  i.ico.ico-adult
                  input(type="text", value="1", size="1", maxlength="1", readonly="readonly")
                span.bg-white.pos-rlt.decrease
                  i.ico.ico-right

              .child.pull-left.m-r-lg
                span.label.inline Child
                span.bg-white.pos-rlt.increase
                  i.ico.ico-left
                span.inline.bg-white.pos-rlt
                  i.ico.ico-child
                  input(type="text", value="0", size="1", maxlength="1", readonly="readonly")
                span.bg-white.pos-rlt.decrease
                  i.ico.ico-right

              .infant.pull-left.m-r-lg
                span.label.inline Infant
                span.bg-white.pos-rlt.increase
                  i.ico.ico-left
                span.inline.bg-white.pos-rlt
                  i.ico.ico-baby
                  input(type="text", value="0", size="1", maxlength="1", readonly="readonly")
                span.bg-white.pos-rlt.decrease
                  i.ico.ico-right

              .clearfix

            .dashed.m-t-xl.m-b-xl

            h4.section-title.m-b-lg.text-c-l.text-left.text-rounded Tour&nbsp;
              span.text-yellow Preferences

            .boxing.departure.b.m-b-md.m-r-sm.pull-left
              label.block.text-xs Departure
              .pos-rlt.chooseDate
                input(type="text", class="date", readonly="readonly")

            .pull-left.pos-rlt.bg-white
              i.ico.ico-switch.block.m-t-md.switch-date

            .boxing.return.b.m-b-md.m-l-sm.pull-left.pos-rlt
              label.block.text-xs Return
              .pos-rlt.chooseDate
                input(type="text", class="date", readonly="readonly")
            .clearfix

            .boxing.airline.b.m-t-md.pull-left
              label.block.text-xs Preferred Airline
              input(type="text", value="Garuda Indonesia")
            .clearfix

            .dashed.m-t-xl.m-b-xl

            .boxing.message.b.m-t-md.m-b-lg.pull-left
              label.block.text-xs Let us know if there’s any other comments or requests about this booking
              textarea.message(placeholder="Type Message")
            .clearfix

            button.btn.btn-primary.btn-submit.pull-right.m-b-lg(type="submit") Make Booking
            .clearfix.m-b-xl
      .aside.display-cell.p-t-70

        h5.m-t-xs.m-b-lg.text-rounded Tour Details
        ul.list-unstyled.tour-ticket
          li.text-center
            span.block The Best
            span.block Of West Europe
          li.bg-light.bg-white
            i.ico.ico-departure
            span.inline Kamis, 12 Feb ‘15
          li.bg-light.bg-white
            i.ico.ico-return
            span.inline Minggu, 22 Feb ‘15
          li.bg-white
            i.ico.ico-time
            span.inline 10 Days
          li.bg-white
            i.ico.ico-airline-circle
            span.inline Garuda Indonesia
          li.bg-white
            i.ico.ico-adult
            span.inline
              span#count-adult 2
              |  Person

        ul.list-unstyled.tour-pricing.m-t-lg
          li
            span.block Total Price
          li
            span.block.gray.text-u-c 2 Adults Twin Share
            span.block.light 2 x USD 3000
            strong.block $ 6000
          li
            span.block.gray.text-u-c Indonesia Airport Tax
            span.block.light 2 x Rp 100,000
            strong.block Rp 200,000
          li
            span.block.gray.text-u-c International Airport Tax
            span.block.light 2 x USD 500
            strong.block USD 1000
          li
            span.block.gray.text-u-c Total Price
            span.block.text-primary.pricing
              span.currency USD
              span.price
                span $
                span.number 7020


        p.m-t-lg Pihak Tour tetap dapat meng-update harga. Harga final akan Anda dapatkan langsung dari Customer Service kami
