extends layouts/default

include include/mixin

block main
  mixin headerActive('booking')

  .container.p-t-70
    .booking-thank-you.m-t-xl
      .thank-your-header
        .tour-name.pull-left
          span Tour&nbsp;
          strong.f-bold Best of West Europe

        .tour-date.pull-left 10 Days | 12 Feb 2015 - 22 Feb 2015
        .count-adult.pull-left 2 Adults Twin Share
        .clearfix

      .thank-your-message
        h4.text-center.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Status Penerbitan&nbsp;
          span.text-yellow E-Ticket Anda

        p.message-thank-you.text-center
          .m-l-xxl.m-r-xxl.text-center.text-blackTerima
            | kasih telah melakukan pemesana di Saptatour.com. Staff kami akan segera memproses pemesanan ini dan menghubungi Anda via email/telepon. Bila Anda memiliki pertanyaan, silakan hubungi kami di 021 270 2727 atau email&nbsp;
            a(href="mailto:callcenter@saptatour.com") callcenter@saptatour.com

          .m-t-lg.text-center.block.f-bold.text-u-c.text-md meanwhile, check out these traveling tips and guides on our blog:

      .row.m-t-xl.b-dashed-t-gray

        .featured.blog-inspirations.m-t-xl
          .row
            .col-md-6.blog-item.pos-rlt
              img(src="img/destinations/Prague-02.jpg", alt="")

              .pos-rlt.post-header.bg-orange
                .post-item.text-darker.pos-abt.text-u-c.wrapper
                  label.inline.m-l-sm.f-normal.text-u-c Blog
                  h3.m-l-sm.m-t-none
                    a.text-darker.f-bold(href="blog-detail.html") Top 10 most romantic Destinations in the world

            .col-md-6.blog-item.pos-rlt
              img(src="img/destinations/Asia.jpg", alt="")

              .pos-rlt.post-header.bg-orange
                .post-item.text-darker.pos-abt.text-u-c.wrapper
                  label.inline.m-l-sm.f-normal.text-u-c Blog
                  h3.m-l-sm.m-t-none
                    a.text-darker.f-bold(href="blog-detail.html") Japan Off the beaten tracks


            .clearfix

          .col-md-12
            .row
              a.block.btn-show-more.c-text(href="#") Show me more
                strong  Inspirations
          .clearfix


      .m-b-xl.wrapper-lg
