extends layouts/default

include include/mixin

block main

  mixin headerActive('tours')

  .tours-page.p-t-70
    .banner
      h3.text-white.text-center.f-bold Custom Destinations

  .container.custom-destination-block
    .wrapper-xl.b-dashed-b-gray
      article.text-center.text-md.m-r-xl.m-l-xl
        p Here at Sapta Tour, we strive to fulfill our customers’ wishes for a perfect holiday just for you.
        p We’ve compiled <strong class="f-bold">8 questions</strong> to aid in discovering your preferences. We will then work out a custom destination for you and contact you via phone or email

    form.sapta-form.m-t(method="GET", action="custom-destinations.html")

      h3.title-box.m-b-none.m-t-lg.m-b-lg
        | Contact
        span.text-orange  Details

      .contact-details.m-b-lg.b-dashed-b-gray
        .form-group.pull-left.m-r
          .boxing.b
            label.block.text-xs Name as written in passport
            input.block.m-b-xs(type="text", placeholder="", value="Anissa Sudirman")

        .form-group.pull-left.m-r
          .boxing.b
            label.block.text-xs Phone Number
            input.bloc.m-b-xs(type="text", value="", placeholder="+62 (home or mobile number)")

        .form-group.pull-left
          .boxing.b
            label.block.text-xs Email
            input.block.m-b-xs(type="text", value="Anissa@gmail.com")
        .clearfix.m-b-lg

      .questions-1.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question One
        .question.f-light  How many people are in your party, what gender and ages are they?
        .hint.text-u-c.f-light Are there any physical limitations, will there be children or babies, etc.
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-2.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Two
        .question.f-light Tell us what you have in mind, where do you want to go?
        .hint.text-u-c.f-light the sum of your idea of a perfect tour, your prefered destination or activities
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-3.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Three
        .question.f-light Are there landmarks or special place you want to see?
        .hint.text-u-c.f-light Specific Places you want to visit
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-4.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Four
        .question.f-light When do you want to travel and how long?
        .hint.text-u-c.f-light Any specific dates and length of your travel
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-5.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Five
        .question.f-light What is your budget?
        .hint.text-u-c.f-light i.e., $1000 - $1500
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-6.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Six
        .question.f-light What kind of food do you prefer?
        .hint.text-u-c.f-light i.e., same as home, gourmet, local cuisine, interesting and unusual, cooking ourselves
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-6.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Seven
        .question.f-light What kind of lodging do you prefer?
        .hint.text-u-c.f-light i.e., chain motel or hotel, local inn, b&b, cabin, camping
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .questions-6.m-b-xl.b-dashed-b-gray
        .f-bold.text-u-c.m-t Question Eight
        .question.f-light Anything else you want to tell us?
        .hint.text-u-c.f-light any other interests you would like to include on your trip, etc.
        .boxing.b.answer.m-t-md.m-b-xl
          textarea.block(placeholder="Please Type Your Answer Here", rows="5")

      .wrapper-md.m-b-xl
        button.btn.btn-primary.btn-submit.text-c-l.block.m-b-lg(type="submit") Submit Custom Tour Request
        .m-b-xl
