extends layouts/default

include include/mixin

block main

  mixin headerActive('document')

  .document-page.p-t-70
    .banner
      h2.head-title.text-white.text-center Visa &amp; Documents
    .wrapping-gray
    .container.display-table
      .content-left.display-cell.b-r
        article
          h3.text-rounded.m-b-xl Apa Itu&nbsp;
            span.text-yellow Visa

          p Visa adalah sebuah dokumen resmi yang Anda perlukan untuk masuk ke negara tujuan dalam periode waktu tertentu. Visa asli yang biasanya di stempel di paspor penerima sangat diperlukan jika Anda hendak berkunjung ke suatu negara tertentu.
          p Harap diperhatikan bahwa Visa kedatangan hanya dapat diperpanjang atas persetujuan Direktur Jenderal Imigrasi Republik Indonesia dalam hal bencana alam, sakit atau kecelakaan, tidak dapat dialihkan ke jenis visa lain. Pelancong yang melewati waktu yang telah ditentukan akan dikenakan denda sebesar US $ 20.- per hari / orang (untuk tinggal di bawah 60 hari) sedangkan lebih dari 60 hari tinggal akan menjalani 5 (lima) tahun hukuman penjara atau denda IDR 25.000.000 (mata uang lokal).

          h5.text-u-c.f-bold.font-lg Syarat-syarat visa

          p Berikut beberapa syarat visa negara-negara tujuan wisata, bisnis maupun kebutuhan lainnya, Persyaratan visa dapat berubah sewaktu- waktu / bertambah sesuai dengan permintaan Kedutaan.

        .flags-list.row.m-b-xl
          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/austria.png", alt="")
              span.inline.f-bold.m-l-md.text-md Austria

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/belanda.png", alt="")
              span.inline.f-bold.m-l-md.text-md Belanda

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/belgia.png", alt="")
              span.inline.f-bold.m-l-md.text-md Belgia

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/inggris.png", alt="")
              span.inline.f-bold.m-l-md.text-md Inggris

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/china.png", alt="")
              span.inline.f-bold.m-l-md.text-md China

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/denmark.png", alt="")
              span.inline.f-bold.m-l-md.text-md Denmark

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/finland.png", alt="")
              span.inline.f-bold.m-l-md.text-md Finland

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/france.png", alt="")
              span.inline.f-bold.m-l-md.text-md France

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/germany.png", alt="")
              span.inline.f-bold.m-l-md.text-md Germany

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/greece.png", alt="")
              span.inline.f-bold.m-l-md.text-md Greece
          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/hungary.png", alt="")
              span.inline.f-bold.m-l-md.text-md Hungary

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/italy.png", alt="")
              span.inline.f-bold.m-l-md.text-md Italy

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/norway.png", alt="")
              span.inline.f-bold.m-l-md.text-md Norway

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/polandia.png", alt="")
              span.inline.f-bold.m-l-md.text-md Polandi

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/portugal.png", alt="")
              span.inline.f-bold.m-l-md.text-md Portugal

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/slovakia.png", alt="")
              span.inline.f-bold.m-l-md.text-md Slovakia

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/spanyol.png", alt="")
              span.inline.f-bold.m-l-md.text-md Spanyol

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/swedia.png", alt="")
              span.inline.f-bold.m-l-md.text-md Swedia

          .col-md-4.m-b-md
            .flag-item
              img(src="img/flag/swiss.png", alt="")
              span.inline.f-bold.m-l-md.text-md Swiss

        .clearfix

        .m-b-xl

      .aside.display-cell
        ul.list-unstyled
          li
            a.active(href="document.html") Visa
          li
            a(href="document-passport.html") Passport
          li
            a(href="document-insurance.html") Travel Insurance
