extends layouts/default

include include/mixin

block main

  mixin headerActive('document')

  .document-page.document-passport.p-t-70
    .banner
      h2.head-title.text-white.text-center Visa &amp; Documents
    .wrapping-gray
      .container.display-table
        .content-left.display-cell.b-r

          article.m-b-xl
            h3.text-rounded.m-b-xl Dokumen&nbsp;
              span.text-yellow Passport

            .subtitle-article.text-u-c.f-bold.text-lg Persyaratan Paspor Republik Indonesia

            ol
              li Asli
              li Kartu Keluarga
              li Akte Lahir
              li Ijazah
              li Surat Nikah (apabila sudah menikah)
              li Surat Sponsor (apabila bekerja)
              li Biaya Rp 650.000, waktu pengerjaan ± 14 Hari Kerja

            .subtitle-article.text-u-c.f-bold.text-lg Persyaratan Paspor Republik Indonesia Untuk Anak (Belum memiliki KTP)

            ol
              li KTP Kedua Orang tua
              li Kartu Keluarga
              li Akte Lahir
              li Fotocopy Paspor Bapak / Ibu
              li Surat izin dari orang tua dengan materai Rp 6000
              li Surat Nikah Orang Tua
              li Biaya Rp 750.000, waktu pengerjaan ± 14 Hari Kerja

        .aside.display-cell
          ul.list-unstyled
            li
              a(href="document.html") Visa
            li
              a.active(href="document-passport.html") Passport
            li
              a(href="document-insurance.html") Travel Insurance
