extends layouts/default

include include/mixin

block main

  mixin headerActive('document')

  .document-page.document-passport.p-t-70
    .banner
      h2.head-title.text-white.text-center Visa &amp; Documents
    .wrapping-gray
      .container.display-table
        .content-left.display-cell.b-r

          article.m-b-xl
            h3.text-rounded.m-b-xl Travel&nbsp;
              span.text-yellow Insurance

            p Produk asuransi perjalanan kami telah dikembangkan untuk memberikan Anda ketenangan selama melakukan perjalanan. AXA melihat bahwa orang-orang bepergian untuk tujuan yang berbeda-beda, Ada yang untuk berlibur bersama keluarga, untuk ketenangan selama mereka belajar; untuk pertemuan bisnis, untuk permainan golf; atau kombinasi dari semuanya. Dengan polis kami yang telah dirancang dengan hati-hati, kami yakin polis ini akan memenuhi kebutuhan asuransi perjalanan Anda. Dimanapun tujuan perjalanan anda, SmartTraveller akan memberikan penutupan asuransi yang lengkap untuk melindungi anda dan keluarga. Ada beberapa plan yang dapat anda pilih sesuai dengan kebutuhan asuransi perjalanan anda:

            ul.list-unstyled.m-b-xl
              li Spesial Asia
              li Seluruh Dunia – Gold
              li Seluruh Dunia – Platinum
              li Anda juga dapat memilih untuk mendapatkan perlindungan satu perjalanan saja atau sepanjang tahun.

            .subtitle-article.text-u-c.f-bold.text-lg Jasa bantuan

            p Sebagai nasabah SmartTraveller, Anda secara langsung menjadi anggota Global Assistance & Healthcare selama melakukan perjalanan. Sebagai Medical Assistance provider yang berpengalaman dalam memberikan pelayanan dan bantuan kesehatan, Global Assistance & Healthcare memiliki representative di lebih dari 70 negara di dunia. Global Assistance & Healthcare memiliki tim medis yang terdedikasi untuk memberikan bantuan medis darurat maupunjasa konsultasi medis. Global Assistance & Healthcare sangat mudah dihubungi. Kapan dan dimana saja Anda membutuhkan pertolongan, bantuan diberikan dengan cepat dan profesional. Sebagai tambahan, layanan bantuan 24 jam per hari - 365 hari per tahun telah didedikasikan untuk melayani nasabah SmartTraveller. Saat Anda di luar negeri dan terjadi masalah kesehatan DARURAT yang dijamin dalam polls SmartTraveller, silahkan hubungi nomor 24-hours Alarm Centre untuk mendapatkan jasa bantuan dan saran medis. Jangan lupa untuk menyebutkan nomor sertifikat, nama lengkap dan agen perjalanan Anda.

        .aside.display-cell
          ul.list-unstyled
            li
              a(href="document.html") Visa
            li
              a.active(href="document-passport.html") Passport
            li
              a(href="document-insurance.html") Travel Insurance
