doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Email Template 1
    <link href="css/email-template-1.css" media="all" rel="stylesheet" type="text/css" />

  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    table.body-wrap
      tr
        td.container(width='835')
          table.main(width='100%', cellpadding='0', cellspacing='0')
            tr
              td.header
                .content-wrap
                  table(width='100%', cellpadding='0', cellspacing='0')
                    tr
                      td
                        img(src="img/logo-for-email.png", alt="")
                      td.alignright.va-bottom
                        span Your booking number is&nbsp;
                        h2.invoice-number 31032000

            tr
              td.content-wrap
                table(width='100%', cellpadding='0', cellspacing='0')
                  tr
                    td.content-block.padding30
                      p Dear Esperanza Wendyono,
                      p Your booking has been confirmed, thank you for choosing Sapta Tours. Your flight itinerary and payment details will be emailed to you shortly.
                      p
                        | Want to check your itinerary immediately? Just use&nbsp;
                        a(href='#') My Orders
                      p Your booking date is Wed 19 Mar 2014.
                  tr
                    td
                      table.b-full.tabel-content(width='100%', cellpadding='0', cellspacing='0')
                        tr
                          td.flight-number.va-middle
                            label.block FLIGHT
                            span.block DJ7532
                          td.icon-flight
                            img(src="img/icon-plane-departure.png", alt="")
                          td.flight-departure
                            span.block.airport Ngu Rahrai Airport
                            span.block.time Rabu, <strong>20 Feb ‘15</strong> - 09.00 AM
                            label.block.city Denpasar (DPS)
                          td.icon-flight
                            img(src="img/icon-plane-arrive.png", alt="")
                          td.flight-arrive
                            span.block.airport Soekarno Hatta Interational Airport (Terminal 3)
                            span.block.time Rabu, <strong>20 Feb ‘15</strong> - 09.00 AM
                            label.block.city Denpasar (DPS)
                        tr
                          td.flight-number
                            label.block FLIGHT
                            span.block DJ7532
                          td.icon-flight
                            img(src="img/icon-plane-departure.png", alt="")
                          td.flight-departure
                            span.block.airport Ngu Rahrai Airport
                            span.block.time Rabu, <strong>20 Feb ‘15</strong> - 09.00 AM
                            label.block.city Denpasar (DPS)
                          td.icon-flight
                            img(src="img/icon-plane-arrive.png", alt="")
                          td.flight-arrive
                            span.block.airport Soekarno Hatta Interational Airport (Terminal 3)
                            span.block.time Rabu, <strong>20 Feb ‘15</strong> - 09.00 AM
                            label.block.city Denpasar (DPS)
            tr
              td
                .footer
                  table(width='100%')
                    tr
                      td(width="85%")
                        | Jika mengalami kendala, mohon hubungi Sapta Tours di <strong>021 270 272</strong> atau email&nbsp;
                        a(href="mailto:info@saptatours.com")
                          strong info@saptatours.com
                        | <br />
                        strong &copy; 2015 Sapta Tours. All rights reserved.
                      td.alignright(width="15%")
                        a(href="https://www.facebook.com/karejo", target="_blank")
                          img(src="img/icon-facebook.png", alt="")
                        | &nbsp; &nbsp;
                        a(href="https://twitter.com/karejob", target="_blank")
                          img(src="img/icon-twitter.png", alt="")
