extends layouts/default

include include/mixin

block main
  mixin headerActive('fights')

  .flight-page.p-t-70
    .container.m-t-xl
      .row
        h2.head-title.text-left.text-rounded.col-xs-6.m-t-none
          | Search
          span.text-yellow  Results
        .text-left.text-rounded.col-xs-6.text-right
          a.text-orange.m-t-sm.block(href="flights.html") &#8592; BACK TO FLIGHTS

      .m-t-lg.search-result-empty
        | Sorry, we can’t find any flight for your destination for now. Please try again later or enter a different search.

    .container.m-t-xl
      h2.head-title.text-left.text-rounded.m-b-md
        | Great Value
        span.text-yellow  Fares

      .flight-lists.row
        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bromo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Tokyo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bali01.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Surabaya
              span.block.to To Denpasar
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Malaysia.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Denpasar
              span.block.to To Malaysia
              span.block.flight-class Economy Return

  include helpers/inquiry


