extends layouts/default

include include/mixin

block main
  mixin headerActive('hotels')

  .hotel-page.p-t-70
    .container.m-t-xl.m-b-xl
      .row
        h2.head-title.text-left.text-rounded.col-xs-6.m-t-none
          | Search
          span.text-yellow  Results
        .text-left.text-rounded.col-xs-6.text-right
          a.text-orange.m-t-sm.block(href="hotels.html") &#8592; BACK TO HOTELS

      .m-t-md.search-result-empty
        | Sorry, we can’t find any flight for your destination for now. Please try again later or enter a different search.

    .container.m-t-xl.m-b-xl
      .row
        h2.head-title.text-left.text-rounded.col-xs-6.m-t-none
          | Popular
          span.text-yellow  Hotels

      .popular-hotel-on-empty-results.m-b-xl
        .row
          .col-md-6.m-t-md
            .hotel-item
              .column.pull-left.picture-thumb.pos-rlt
                  a(href="#")
                    img(src="img/destinations/hotel02.jpg", alt="")

              .column.pull-left.hotel-info
                span.block.f-bold.text-u-c.hotel-name.m-b-xs W Retreat &amp; Spa Bali Seminyak
                span.block.f-light.location Seminyak / Kerobokan

                span.block.hotel-star.bg-white.m-t-sm
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  span.inline.m-l-xs.m-t-n-xs Hotel

                .fasilitas.pos-abt
                  span.bg-white
                    i.ico.ico-wifi
                    span &nbsp;Free Wi-Fi

          .col-md-6.m-t-md
            .hotel-item
              .column.pull-left.picture-thumb.pos-rlt
                  a(href="#")
                    img(src="img/destinations/hotel04.jpg", alt="")

              .column.pull-left.hotel-info
                span.block.f-bold.text-u-c.hotel-name.m-b-xs ALILA VILLAS ULUWATU
                span.block.f-light.location Uluwatu

                span.block.hotel-star.bg-white.m-t-sm
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  span.inline.m-l-xs.m-t-n-xs Hotel

                .fasilitas.pos-abt

        .row
          .col-md-6.m-t-md
            .hotel-item
              .column.pull-left.picture-thumb.pos-rlt
                  a(href="#")
                    img(src="img/destinations/hotel01.jpg", alt="")

              .column.pull-left.hotel-info
                span.block.f-bold.text-u-c.hotel-name.m-b-xs AYANA RESORT & SPA
                span.block.f-light.location Jimbaran

                span.block.hotel-star.bg-white.m-t-sm
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  span.inline.m-l-xs.m-t-n-xs Hotel

                .fasilitas.pos-abt
                  span.bg-white
                    i.ico.ico-wifi
                    span &nbsp;Free Wi-Fi

          .col-md-6.m-t-md
            .hotel-item
              .column.pull-left.picture-thumb.pos-rlt
                  a(href="#")
                    img(src="img/destinations/hotel05.jpg", alt="")

              .column.pull-left.hotel-info
                span.block.f-bold.text-u-c.hotel-name.m-b-xs NUSA DUA BEACH HOTEL SPA
                span.block.f-light.location Nusa Dua / Benoa

                span.block.hotel-star.bg-white.m-t-sm
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  i.ico.ico-star
                  span.inline.m-l-xs.m-t-n-xs Hotel

                .fasilitas.pos-abt
                  span.bg-white
                    i.ico.ico-wifi
                    span &nbsp;Free Wi-Fi

    include helpers/inquiry
