extends layouts/default

include include/mixin

block main

  mixin headerActive('tours')

  .p-t-70.container.m-t-xl.m-b-xl
    .row
      h2.head-title.text-left.text-rounded.col-xs-6.m-t-none
        | Search
        span.text-yellow  Results
      .text-left.text-rounded.col-xs-6.text-right
        a.text-orange.m-t-sm.block(href="tours.html") &#8592; BACK TO TOURS

    .m-t-md.search-result-empty
      | Sorry, we can’t find any flight for your destination for now. Please try again later or enter a different search.


  .container.m-t-xl.m-b-xl
    h2.head-title.text-rounded
      | Popular
      span.text-yellow  Destinations

    .tour-list-popular-empty-results.m-t-md
      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Maldives.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Hong-Kong_vew_sunset.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Bangkok02.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)
