extends layouts/default

include include/mixin

block main
  mixin headerActive('fights')

  .flight-page.p-t-70

    .container.m-t-xl
      h2.head-title.text-rounded.m-b-lg
        span.bg-white.inline.m-r-md
          i.ico.ico-return-lg
        | Outbond
        span.text-yellow  Flight

    .container.outbond-flight-list
      p.text-md Please select your inbound flight:

      mixin flightOutbound({name:'Air Asia', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Air Asia', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_citilink.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_citilink.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Garuda Indonesia', logo: 'img/icon_garuda.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Garuda Indonesia', logo: 'img/icon_garuda.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

    .container.text-center.m-t-lg
      a.btn.btn-white.m-auto(href="#")
        span.block.m-r-md.m-l-md Load More Result

    #selectedFlights.m-t-xl
      .container
        h3.head-title.text-rounded.m-t-none.m-b-lg.text-white.text-center Selected Flights

        .isBlock
          .pull-left
            .flight-item.select-departure-flight
              .arline.column.b-r.pull-left
                img.block.m-auto(src="img/icon_airasia.png", alt="")
                span.block Air Asia

              .schedule.pos-rlt.column.pull-left

                .departure.pos-rlt.bg-white.pull-left
                  i.ico.ico-departure
                  span.block.time 13.00 PM
                  span.block.date
                    | Kamis, &nbsp;
                    strong 12 Feb '15
                  label.text-u-c.block Jakarta (CKG)

                span.arrow
                .duration 2h 30m

                .return.pos-rlt.bg-white.pull-right
                  i.ico.ico-return
                  span.block.time 16.00 PM
                  span.block.date
                    | Kamis, &nbsp;
                    strong 12 Feb '15
                  label.text-u-c.block Denpasar (DPS)


              .transit.column.b-r.b-l.pull-left.bg-white.pos-rlt
                label.text-u-c.block transit
                span.block 1 Stop
                  .ico.ico-info.pos-abt

              .flight-class.column.pull-left
                label.text-u-c.block Class
                span.block Economy

            .flight-item.select-retrun-flight
              .arline.column.b-r.pull-left
                img.block.m-auto(src="img/icon_airasia.png", alt="")
                span.block Air Asia

              .schedule.pos-rlt.column.pull-left

                .departure.pos-rlt.bg-white.pull-left
                  i.ico.ico-departure
                  span.block.time 13.00 PM
                  span.block.date
                    | Kamis, &nbsp;
                    strong 12 Feb '15
                  label.text-u-c.block Jakarta (CKG)

                span.arrow
                .duration 2h 30m

                .return.pos-rlt.bg-white.pull-right
                  i.ico.ico-return
                  span.block.time 16.00 PM
                  span.block.date
                    | Kamis, &nbsp;
                    strong 12 Feb '15
                  label.text-u-c.block Denpasar (DPS)


              .transit.column.b-r.b-l.pull-left.bg-white.pos-rlt
                label.text-u-c.block transit
                span.block 1 Stop
                  .ico.ico-info.pos-abt

              .flight-class.column.pull-left
                label.text-u-c.block Class
                span.block Economy
          .pull-left
            .book-now-flights
              .pricing.column.pull-left
                label.text-u-c.block Total Price
                span.block.m-t-xs
                  span.inline.currency Rp
                  span.inline.price
                    span.big 2,000
                    span.small ,000
                label.light per person

                a.btn.btn-primary.btn-submit.m-t-md.btn-md(href="flight-inbound.html") Book Now

          .clearfix
