extends layouts/default

include include/mixin

block main
  mixin headerActive('fights')

  .flight-page.p-t-70

    .container.m-t-xl
      h2.head-title.text-center.text-rounded.m-b-lg
        | Popular Great
        span.text-yellow  Value Fares

      .flight-lists.row
        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bromo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Tokyo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bali01.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Surabaya
              span.block.to To Denpasar
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Malaysia.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Denpasar
              span.block.to To Malaysia
              span.block.flight-class Economy Return

      .flight-lists.row
        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bromo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Tokyo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bali01.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Surabaya
              span.block.to To Denpasar
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Malaysia.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Denpasar
              span.block.to To Malaysia
              span.block.flight-class Economy Return

      .flight-lists.row
        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bromo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Tokyo.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50

            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Jakarta
              span.block.to To Surabaya
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Bali01.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Surabaya
              span.block.to To Denpasar
              span.block.flight-class Economy Return

        .col-md-3.item
          a.block.pos-rlt(href="flight-outbound.html")
            img(src="img/destinations/Malaysia.jpg", alt="")
            span.block.text-u-c.pricing.bg-orange.pos-abt
              span.block From
              span.block.price
                span.currency $
                span.amount 50
            span.destination.text-center.pos-abt.text-u-c.text-white
              span.block.from Denpasar
              span.block.to To Malaysia
              span.block.flight-class Economy Return

      .m-t-sm.b-dashed-b-gray.m-b-xl

    .container.wrapper.why-book-withs-sapta.b-dashed-b-gray

      h2.head-title.text-center.text-rounded
        | Why Book With
        span.text-yellow  Sapta Tour ?

      .content.row
        .col-md-3.reason.text-center
          span.bg-white
            i.ico.ico-customer-service

          h6.text-u-c The only 24 hours Tour &amp; travel in indonesia
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem my accusantium doloremque et laudantium, totam rem aperiam, eaque ipsa quae ab illo et conse.

        .col-md-3.reason.text-center
          span.bg-white
            i.ico.ico-safe
          h6.text-u-c Guaranteed safe and secure transaction
          p Gerspiciatis unde omnis iste natus error sit voluptatem my accusantium doloremque et laudantium, eaque ipsa quae ab illo et conse totam rem aperiam, inventore veritatis et quasi lorem ipsum.


        .col-md-3.reason.text-center
          span.bg-white
            i.ico.ico-payment

          h6.text-u-c Variety of payment method
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam consecteteu

        .col-md-3.reason.text-center
          span.bg-white
            i.ico.ico-tax
          h6.text-u-c Tax inclusive prices displayed
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem my accusantium doloremque et laudantium, totam rem aperiam, eaque ipsa quae ab illo et conse.

    .container
      include helpers/featured-blog-inspirations

  include helpers/inquiry


