extends layouts/default

include include/mixin

block main
  mixin headerActive('fights')

  .flight-page.p-t-70

    .container.m-t-xl
      h2.head-title.text-rounded.m-b-lg
        span.bg-white.inline.m-r-md
          i.ico.ico-departure-lg
        | Outbond
        span.text-yellow  Flight

    .container.outbond-flight-list
      p.text-md Please select your outbound flight:

      mixin flightOutbound({name:'Air Asia', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Air Asia', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_airasia.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_citilink.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Citilink', logo: 'img/icon_citilink.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Lion Air', logo: 'img/icon_lion.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, 'No', '967,000')

      mixin flightOutbound({name:'Garuda Indonesia', logo: 'img/icon_garuda.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

      mixin flightOutbound({name:'Garuda Indonesia', logo: 'img/icon_garuda.png'},{time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, {time:'08.00 AM', day:'Selasa', date:'20 Feb ‘15', airport:'Denpasar (DPS)'}, '1 Stop', '967,000')

    .container.text-center.m-t-lg
      a.btn.btn-white.m-auto(href="#")
        span.block.m-r-md.m-l-md Load More Result


  include helpers/inquiry


