extends layouts/default

include include/mixin

block main
  mixin headerFlightPayment(4)

  .container.p-t-70
    .flight-payment-step-4.e-ticket

      script.
        //- remove this when implementation to backend, this just a demo
        window.setTimeout(function() {
          window.location.href = location.origin + '/flight-payment-step-5.html'
        }, 3000);

      .ticket-header
        .order-number.pull-left
          span Order No.
          strong.f-bold 3100020

        .departure.pull-left QZ 888H | CGK - DPS | Kamis, 12 Feb 2015
        .return.pull-left QZ 8298 | DPS - CGK | Minggu, 16 Feb 2015
        .clearfix

      h4.text-center.section-title.m-t-sm.m-b-lg.text-c-l.text-left.text-rounded Status Penerbitan&nbsp;
        span.text-yellow E-Ticket Anda

      p.message-thank-you.text-center
        .m-l-xxl.m-r-xxl.text-center.text-black Terima kasih telah melakukan pemesana di Saptatour.com. Di bawah ini adalah status pemesanan Anda. Halaman ini akan diperbaharui secara otomatis. Mohon jangan tutup halaman ini sampai proses selesai.
        .m-t-lg.text-center.block.f-bold.text-u-c.text-md Pemesanan Anda saat ini sedang dalam tahap:

      .row.m-t-lg
        .col-md-8
          .ticket-has-created
            .pull-left.bg-white
              i.ico.ico-gear

            .pull-left.m-l-sm
              span.block.f-bold Sedang memproses E-Ticket and

              span.block.m-t-xs Pembayaran anda telah kami terima dan saat ini E-Ticket Anda sedang dalam <br />proses penerbitan di sistem kami
            .clearfix

        .col-md-4.waiting-ticket.text-center
          p.m-t-md E-Ticket akan diterbitkan dalam:
          .block.m-t-xs.bg-white
            i.ico.ico-waiting.animate-spin
            span.m-l-sm.text-xl.f-bold.text-primary.inline 29 Menit 46 Detik

        .clearfix

      .tanda-bukti-pemesanan.m-t-lg
        h4.m-b-xl.text-center.section-title.text-c-l.text-left.text-rounded Tanda Bukti Pemesanan&nbsp;
          span.text-yellow (Bukan Tiket)

        .pull-left.info.b-r
          strong.f-bold No. Pesanan
          span.block.m-t-xs 31000020

          strong.f-bold.m-t-md.block Daftar Penumpang

          ol
            li.m-t-sm
              span.block Ms Esperanza Kumala Wendyono
              span.block Jenis tiket: Dewasa
            li.m-t-md
              span.block Mr Alexander Adijana
              span.block Jenis tiket: Dewasa

        .pull-left.info.right
          strong.f-bold.block.m-b-sm Info Penerbangan
          p
            span.block Penerbangan:  Jakarta ke Denpasar (AirAsia)
            span.block Tanggal:  Kamis, 12 Feb 2015 (Jam 13.00

            span.block.m-t-md Penerbangan:  Denpasar ke Jakarta (AirAsia)
            span.block Tanggal:  Senin, 16 Feb 2015 (Jam 13.00


          p.m-t-lg
            strong.f-bold.block.m-b-sm Informasi Pembayaran
            span.block Harga total:  Rp 1,500,000
            span.block Cara Pembayaran:  Kartu Kredit


        .clearfix

      .m-t-lg.m-b-xl.message-customer-service Jika mengalami kesulitan, Anda dapat menghubungi Customer Service 24 Hours kami di  021 270 2727 ataul email kami di&nbsp;
        a(href="#") callcentre@saptatours.com

      include helpers/ssl-message
