extends layouts/default

include include/mixin

block main
  mixin headerHotelPayment(3)

  .booking-page.hotel-payment
    .wrapping-gray
    .container.display-table
      .content-left.display-cell.p-t-70.b-r
        .hotel-payment-step-3

          .m-b-lg
            img.block.pull-left.m-r-sm.m-t-xs(src="img/ico-big-check.png", alt="")
            span.block.pull-left.l-h-2x
              | Pemesanan dan harga untuk&nbsp;
              strong.f-bold MIss Esperanza Kumala Wendyono
              |  telah dikonfirmasi.<br /> Mohon selesaikan pembayaran untuk menghindari pembatalan oleh maskapai.
            span.block.clearfix
          .dashed.clearfix

          h4.section-title.m-t-lg.m-b-lg.text-c-l.text-left.text-rounded Payment

          form.sapta-form.hotel-payment(action="flight-payment-step-5.html", method="GET")
            .payment-method-control.form-inline.m-b-xl
              label.text-u-c.text-md.text-black.m-b-none.f-bold.m-r-md.pull-left Select Payment Method
              .radio.m-t-none.m-b-none.pull-left
                label.m-b-none
                  input(type="radio", name="paymentMethod", value="credit-cart")
                  span.inline.m-l-sm Credit Card
              .radio.m-t-none.m-b-none.m-l-lg.pull-left
                label.m-b-none
                  input(type="radio", name="paymentMethod", value="bca-bank-tranfer")
                  span.inline.m-l-sm BCA bank transfer
              span.block.clearfix
            .dashed.clearfix.m-b-xl

            h4.section-title.m-t-lg.m-b-lg.text-c-l.text-left.text-rounded Credit Card
              span.text-yellow Payment

            .credit-cart-choose.form-inline.m-b-lg

              .form-inline.m-b-lg
                .form-group
                  label.m-b-none Select Card Type:
                .radio.m-l-md.m-r-xs
                  label
                    input(type="radio", value="visa")
                    img.m-l-sm(src="img/card-visa.png", alt="Visa Card", width="50")

                .radio.m-l-sm.m-r-xs
                  label
                    input(type="radio", value="master-card")
                    img.m-l-sm(src="img/card-master-card.png", alt="Master Card", width="50")

                .radio.m-l-sm
                  label
                    input(type="radio", value="american-express")
                    img.m-l-sm(src="img/card-american-express.png", alt="American Express Card", width="50")
                .clearfix

              .form-group
                .boxing.cc-number.b.b.m-b-md.m-r-md.inline
                  label.block.text-xs Credit Card Number
                  input.cc-number.credit-card-input(type="tel", autocomplete="cc-number", placeholder="•••• •••• •••• ••••")

                .boxing.b.ccv.b.m-b-md.inline
                  label.block.text-xs CCV 3 Digit
                  input.cc-cvc(type="text", pattern="\d+", name="ccv", maxlength="3", placeholder="XXX")
                .clearfix

              .form-group.m-b-xl
                .boxing.selectbox.inline.m-r-md.b.m-t-md.pos-rlt
                  label.block.text-xs Expired on Month
                  select(name="month")
                    option(value="January") January
                    option(value="February") February
                    option(value="March") March
                    option(value="April") April
                    option(value="May") May
                    option(value="June") June
                    option(value="July") July
                    option(value="August") August
                    option(value="September") September
                    option(value="October") October
                    option(value="October") November
                    option(value="Desember", selected="selected") Desember

                .boxing.selectbox.inline.b.m-t-md.pos-rlt
                  label.block.text-xs Expired on Year
                  select(name="year")
                    option 2015
                    option 2016
                    option(selected="selected") 2017
                    option 2018
                    option 2019
                    option 2020
                    option 2021

              h5.f-bold.text-md.text-u-c.block.m-b-sm.m-t-xl Credit Card Billing Address

              .form-group.m-b-none.m-t-sm
                .boxing.name.b.b.m-b-md.m-r-md.pull-left
                  label.block.text-xs Name as written in Credit Card
                  input.credit-card-input(type="text", value="Esperanza Kumala Wendyono")

                .boxing.selectbox.pull-left.m-r-md.b.pos-rlt
                  label.block.text-xs Country
                  select(name="country")
                    option(value="Indonesia", selected="selected") Indonesia
                    option(value="Singapore") Singapore
                    option(value="Malaysia") Malaysia
                    option(value="Thailand") Thailand
                    option(value="Vietname") Vietname
                    option(value="India") India
                    option(value="Australia") Australia
                .clearfix

              .form-group.m-b-none
                .boxing.selectbox.pull-left.m-r-md.b.m-t-xs.pos-rlt
                  label.block.text-xs City
                  select(name="city")
                    option(value="Jakarta", selected="selected") Jakarta
                    option(value="Bandung") Bandung
                    option(value="Surabaya") Surabaya
                    option(value="Medan") Medan
                    option(value="Semarang") Semarang

                .boxing.post-code.b.b.m-t-xs.m-r-md.pull-left
                  label.block.text-xs Post Code
                  input.credit-card-input(type="text", value="11520")

                .boxing.phone-number.b.m-t-xs.b.pull-left
                  label.block.text-xs Phone Number
                  input.credit-card-input(type="text", value="08123456789")

              .form-group.row.m-t-xl.m-b-xl
                .col-md-8.m-t-md.m-b-md
                  | Dengan mengklik tombol&nbsp;
                  strong.f-bold Make Payment
                  | , Anda telah menyetujui&nbsp;
                  a.text-yellow(href="#") Syarat dan Ketentuan
                  | &nbsp;dan&nbsp;
                  a.text-yellow(href="#") Kebijakan Privasi
                  |  Saptatour.com

                .col-md-4.m-t-md.m-b-md
                  button.pull-right(type="submit", class="btn btn-primary btn-submit pull-right m-b-lg text-md") Make Payment
                  span.block.clearfix

          .dashed.clearfix.m-b-n-md.m-t-lg

          include helpers/ssl-message

      .aside.display-cell.p-t-70
        ul.list-unstyled.bg-yellow
          li.text-md
            span.wrapper.block
              strong.f-bold Order Number&nbsp;
              strong.f-light 378938

        ul.list-unstyled.hotel-booking-summary.m-t-lg
          li
            .block.bg-white.text-center
              span.block.text-md.text-center.m-b-xs Pan Pacific Nirwana Resort Bali
              span.block.bg-white
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
                i.ico.ico-star
          li.bg-light
            .block.m-t-sm
              img.m-auto.block(src="img/destinations/room02.jpg", width="122", height="122")
              span.block.f-bold.m-t-sm.text-center Twin Room Standard

          li
            .block.bg-white
              i.ico.ico-time
              span.inline.light 2 Nights

          li
            .block.bg-white.hotel-check-in-date
              i.ico.ico-hotel-in
              span.light Kamis,
              span.f-bold 12 Feb '15

          li
            .block.bg-white.hotel-check-in-date
              i.ico.ico-hotel-out
              span.light Kamis,
              span.f-bold 12 Feb '15

          li
            .block.bg-white
              i.ico.ico-adult
              span.inline
                span#count-adult 2
                |  Person

          li
            .block.bg-white.room-count-block
              i.ico.ico-room
              span.inline
                span#count-room 1
                |  Rooms

        ul.list-unstyled.tour-pricing.m-t-lg
          li
            span.block Total Price
          li
            span.block.gray.text-u-c Twin Room Standard
            span.block.light 2 x USD 150
            strong.block $ 300
          li
            span.block.gray.text-u-c Tax Fee
            strong.block $ 50
          li.bg-light
            span.block.gray.text-u-c Total Price
            span.block.text-primary.pricing
              span.currency USD
              span.price
                span $
                span.number 7020
