extends layouts/default

include include/mixin

block main
  mixin headerActive('')

  .account-page.p-t-70
    .banner
      h2.head-title.text-white.text-center Visa &amp; Documents

    .my-booking-page
      .wrapping-gray
      .container.display-table

        .aside.display-cell.p-t-70.pull-right
          ul.list-unstyled.m-r-md.m-b-xl
            li
              a(href="#") Profile Settings
            li
              a.active(href="#") My Bookings
            li
              a(href="#") Credit Card Settings
            li
              a(href="#") Passenger List

          .clearfix.wrapper-xl

        .content-right.display-cell.p-t-70.b-l.m-b-xl
          .my-booking-block
            h3.title-block.text-rounded.m-b-lg
              | My&nbsp;
              span.text-yellow Bookings

            .m-b-xl.filtering

              .block-category-dropdown.pull-left.m-r-md
                label Category
                .dropdown
                  a#dropdownCategory.block.dropdown-toggle(data-toggle="dropdown", aria-expanded="true")
                    span.block All Category
                    span.caret.md
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownCategory")
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", href="#") All Category
                      a(role="menuitem", tabindex="-1", href="#") International
                      a(role="menuitem", tabindex="-1", href="#") Asia
                      a(role="menuitem", tabindex="-1", href="#") Europe
                      a(role="menuitem", tabindex="-1", href="#") Indonesia
                      a(role="menuitem", tabindex="-1", href="#") Jiuzhaigou

              .block-sortby-dropdown.pull-left
                label Sort By
                .dropdown
                  a#dropdownSortBy.block.dropdown-toggle(data-toggle="dropdown", aria-expanded="true")
                    span.block Newest
                    span.caret.md
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownSortBy")
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", href="#") Newest
                      a(role="menuitem", tabindex="-1", href="#") Latest
                      a(role="menuitem", tabindex="-1", href="#") Popular
              .clearfix

            .order-list.m-b-xl
              .order-item.order-flight-item.b-dashed-b-gray.m-b-md
                .content.m-b-md

                  .order-head.b-dashed-b-gray
                    .column.type-order.bg-white.pos-rlt.b-dashed-r-gray
                      i.ico.ico-flight-md
                      span.block.f-bold Flights

                    .column.second.b-dashed-r-gray
                      span.order-id.text-rounded.block.m-b-xs Order 02
                      span.order-date.block Tuesday, 21 March 2015

                    .column.download
                      a.bg-white.m-t-md.inline(href="#")
                        span.ico.ico-download-voucher

                  .order-info
                    .column-left.b-dashed-r-gray
                      strong.f-bold No. Pesanan
                      span.block.m-t-xs 31000020

                      strong.f-bold.m-t-md.block Daftar Penumpang

                      ol
                        li.m-t-sm
                          span.block Ms Esperanza Kumala Wendyono
                          span.block Jenis tiket: Dewasa
                        li.m-t-md
                          span.block Mr Alexander Adijana
                          span.block Jenis tiket: Dewasa

                    .column-right
                      strong.f-bold.block.m-b-sm Info Penerbangan
                      p
                        span.block Penerbangan:  Jakarta ke Denpasar (AirAsia)
                        span.block Tanggal:  Kamis, 12 Feb 2015 (Jam 13.00

                        span.block.m-t-md Penerbangan:  Denpasar ke Jakarta (AirAsia)
                        span.block Tanggal:  Senin, 16 Feb 2015 (Jam 13.00


                      p.m-t-lg
                        strong.f-bold.block.m-b-sm Informasi Pembayaran
                        span.block Harga total:  Rp 1,500,000
                        span.block Cara Pembayaran:  Kartu Kredit

                    .clearfix


              .order-item.order-hotel-item.b-dashed-b-gray.m-b-md
                .content.m-b-md
                  .order-head.b-dashed-b-gray
                    .column.type-order.bg-white.pos-rlt.b-dashed-r-gray
                      i.ico.ico-hotel-md
                      span.block.f-bold Hotel

                    .column.second.b-dashed-r-gray
                      span.order-id.text-rounded.block.m-b-xs Order 02
                      span.order-date.block Tuesday, 21 March 2015

                    .column.download
                      a.bg-white.m-t-md.inline(href="#")
                        span.ico.ico-download-voucher

                  .order-info
                    .column-left.b-dashed-r-gray
                      strong.f-bold No. Pesanan
                      span.block.m-t-xs 31000020

                      strong.f-bold.m-t-md.block Daftar Penumpang

                      ol
                        li.m-t-sm
                          span.block Ms Esperanza Kumala Wendyono
                          span.block Jenis tiket: Dewasa
                        li.m-t-md
                          span.block Mr Alexander Adijana
                          span.block Jenis tiket: Dewasa

                    .column-right
                      strong.f-bold.block.m-b-sm Info Kamar
                      p
                        span.block Kamar: Twin Room Standard
                        span.block Durasi: 2 Malam
                        span.block Check In: Kamis, 12 Feb 2015
                        span.block Check Out: Minggu, 15 Feb 2015
                        span.block Jumlah Kamar: 1 Kamar
                        span.block Jumlah Tamu: 2 Tamu

                      p.m-t-md
                        strong.f-bold.block.m-b-sm Informasi Pembayaran
                        span.block Harga total:  Rp 1,500,000
                        span.block Cara Pembayaran:  Kartu Kredit


              .order-item.order-tours-item.m-b-md
                .content.m-b-md
                  .order-head.b-dashed-b-gray
                    .column.type-order.bg-white.pos-rlt.b-dashed-r-gray
                      i.ico.ico-bag-md
                      span.block.f-bold Tours

                    .column.second.b-dashed-r-gray
                      span.order-id.text-rounded.block.m-b-xs Order 03
                      span.order-date.block Saturday, 15 April 2015

                    .column.download
                      a.bg-white.m-t-md.inline(href="#")
                        span.ico.ico-download-voucher

                  .order-info
                    .column-left.b-dashed-r-gray
                      strong.f-bold No. Pesanan
                      span.block.m-t-xs 31000020

                      strong.f-bold.m-t-md.block Daftar Penumpang

                      ol
                        li.m-t-sm
                          span.block Ms Esperanza Kumala Wendyono
                          span.block Jenis tiket: Dewasa
                        li.m-t-md
                          span.block Mr Alexander Adijana
                          span.block Jenis tiket: Dewasa

                    .column-right
                      strong.f-bold.block.m-b-sm Info Tour
                      p
                        span.block Nama Tour: Best of West Europe
                        span.block Durasi: 12 Malam
                        span.block Check In: Kamis, 12 Feb 2015
                        span.block Check Out: Minggu, 12 Feb 2015
                        span.block Jumlah Kamar: 1 Kamar
                        span.block Jumlah Tamu: 2 Tamu

                      p.m-t-md
                        strong.f-bold.block.m-b-sm Informasi Pembayaran
                        span.block Harga total:  Rp 1,500,000
                        span.block Cara Pembayaran:  Kartu Kredit

            .clearfix.wrapper-xl
