extends layouts/default

include include/mixin

block main
  mixin headerActive('')

  .account-page.p-t-70
    .banner
      h2.head-title.text-white.text-center My Account

    .my-passenger.sidebar-gray
      .wrapping-gray
      .container.display-table

        .aside.display-cell.p-t-70.pull-right
          mixin myAccountMenu('passenger')

          .clearfix.wrapper-xl

        .content-right.display-cell.p-t-70.b-l.m-b-xl
          .my-credit-block
            h3.title-block.text-rounded.m-b-lg
              | Passenger&nbsp;
              span.text-yellow  List

            .my-passenger-list
              .block.passenger-item.m-b-md
                include include/passenger-item

              .block.passenger-item.m-b-md.open
                include include/passenger-item

            .m-t-n-sm
              a.pull-left.block.btn-white.text-c-l.btn(href="#", id="btnAddCreditCard")
                span.block.pull-left.m-r-sm +
                strong.block.pull-right  Add Credit Card
          .clearfix.wrapper-xl
