extends layouts/default

include include/mixin

block main
  mixin headerActive()

  .registe-page.p-t-70

    .container.m-t-xl
      h2.wrapper-md.head-title.text-center.text-rounded.m-b-lg Register&nbsp;
        span.text-yellow A New Account

      form.sapta-form.form-register(action="my-booking.html")
        .head-bar.m-b-lg
          span.pull-left.f-bold.text-u-c.block ALREADY HAVE AN ACCOUNT?
          .pull-right.m-r-sm
            a.btn.btn-login.m-r-xs(href='#', data-toggle="modal", data-target="#loginModal") Login
            a.m-r-xs.btn.btn-fb(href="#", target="_blank") Login with Facebook

        .form-group.m-t-sm
          .boxing.register.b.pull-left.m-r-md
            label.block.text-xs First Name
            input(type="text", value="Anisa")
          .boxing.register.b.pull-left
            label.block.text-xs Lastname Name
            input(type="text", value="Sudirman")

          .clearfix.m-b-md

          .boxing.register.b.pull-left.m-r-md
            label.block.text-xs Phone Number
            input(type="text", placeholder="+62 (home or mobile number)")
          .boxing.register.b.pull-left
            label.block.text-xs Email Address
            input(type="text", value="Anisa@gmail.com")

          .clearfix.m-b-md

          .boxing.register.b.pull-left.m-r-md
            label.block.text-xs Password
            input(type="text", placeholder="Enter Password")

          .boxing.register.b.pull-left
            label.block.text-xs Re-enter Password
            input(type="text", placeholder="Re-enter Password")

          .clearfix.wrapper-xl

          .b-dashed-b-gray.m-b-xl

          button.btn.btn-primary.btn-submit.pull-right.m-b-xl(type="submit") Create New Account

          .wrapper-xl.m-b-xl
