extends layouts/default

include include/mixin

block main

  mixin headerActive('tours')

  .tours-page.p-t-70
    .banner
      h3.text-white.text-center International Destinations

  .container.m-t-xl
    h2.head-title.text-center
      | Tour
      span.text-yellow  Destinations

    p.text-center.m-t-md.m-b-md.text-md
      | We have
      strong  25 items
      |  under
      strong  International Destinations.
      |  Please use the search bar on top to refine the results

    .tour-list.row
      .tour-item
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Russia.jpg", alt="")

          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-6
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Korea.jpg", alt="")

          mixin dealInfo('Asia', 'KOrea Winter Sky Resort', 7, 1000)

      .tour-item.col-md-6
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/New-Zealand.jpg", alt="")

          mixin dealInfo('Oceania', 'New Zealand Hobbiton', 7, 3000)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Kyoto.jpg", alt="")
          mixin dealInfo('Asia', 'Kyoto’s hidden Gems', 7, 2500)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Nice.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Singapore.jpg", alt="")
          mixin dealInfo('Asia', 'Manina Bay Singapore', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Eastern-Europe.jpg", alt="")
          mixin dealInfo('Europe', 'Eastern Europe', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Jiuzhaigou.jpg", alt="")
          mixin dealInfo('Asia', 'Beautiful Jiu ZHai Gou and Beyond', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Sky-Lantern-Festival-Taiwan.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Maldives.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Hong-Kong_vew_sunset.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

      .tour-item.col-md-4
        .pos-rlt.wrapping
          figure
            img(src="img/destinations/Bangkok02.jpg", alt="")
          mixin dealInfo('Europe', 'Russia Scandinavia', 7, 400)

  .wrapper-lg.container.text-center.m-t-lg.m-b-lg
    a.btn.btn-white.m-auto(href="#")
      span.block.m-r-md.m-l-md Load More Destinations
