extends layouts/default

include include/mixin

block main

  mixin headerActive('tours')

  .tour-detail-page.p-t-70
    .container.m-t-xl
      label.wrapper-lg.pad-b-n.text-light.text-u-c.block.text-center.text-yellow Europe
      h2.m-t-xs.head-title.text-center.text-u-c The Best of West Europe

    .container
      .featured-tour-detail.m-t-lg
        figure.feature-image.pos-rlt
          img(src="img/destinations/Paris-02.jpg", alt="")

          .info.bg-white.pos-abt
            a.days-trip.tour.text-center(href="tour-detail.html")
              i.ico.ico-time
              span.count 10
              label.text-u-c.text-sm DAYS

            a.pricing.tour.text-center(href="tour-detail.html")
              label.block.text-u-c.text-light FROM
              span.currency  $
              span.price 3500

    #summary.feature-summary
      .container
        .first-col.pull-left
          h4.m-t-none.text-darker.title-summary Chateaux, chic beach resorts, cheese and wine

          a.m-t-lg.btn.btn-primary.btn-s-xl.book-now(href="booking.html") Book Now

        .second-col.pull-left
          .summary-text
            p In this trip,  you can have all you want to see and taste in France. But this in-depth experience also peels back the layers to reveal the soul of this great country. Slow-paced and scenic, the South of France is the heart of this trip – with time in Paris, before heading to Provence and the proverbial 'playground of the glitterati', the French Riviera.

          .details.bg-white
            .m-t-md
              .inline.bg-white.pull-left.m-r-sm
                i.ico.ico-hotel

              .cities.iniline
                span Dubai
                span Moscow
                span St. Petersburg
                span Helsinki
                span Stockholm
                span Karlstad
                span Hamar
                span Flam
                span Gudvangen
                span Flam
                span Voss
                span Bergen
                span Bruravik
                span Geilo
                span Oslo
                span Copenhagen

            .m-t-sm
              .inline.bg-white.pull-left.m-r-sm

                i.ico.ico-calendar

              .cities.iniline
                span 12 Feb
                span 21 Feb
                span 04 Mar

        .clearfix

    .nav-go-to
      .container
        ul.list-unstyled
          li
            span.text-u-c Jump to
          li
            a.current(href="#summary") Summary
          li
            a(href="#pricelist") Pricelist
          li
            a(href="#visa") Visa &amp; Other Info
          li
            a(href="#book-and-availability") Booking &amp; Availability

    include tour/itenary

    include tour/pricelist

    include tour/book-and-availability

    include tour/visa

    include helpers/inquiry
