#atmTransferPaymentMethod.hidden.payment-method-block

  h4.section-title.m-t-lg.m-b-md.text-c-l.text-left.text-rounded ATM Transfer
    span.text-yellow &nbsp;Payment


  .bank-tranfer-choose.form-inline.m-b-lg
    .wrapper-lg.bg-warn-msg.m-b-md.m-t-md.text-center
      .block.f-bold Transfer Amount
      .block.f-bold.text-xl.m-t-xs IDR 2,500,000*

    p.text-center.text-11 * Subject to your prefered bank's transfer fee and a minimum transaction of Rp50.000,- for Bank Mandiri

    .f-bold.text-lg.text-u-c.m-b.m-t-lg ATM Transfer Step-by-step

    ol.pad-none.m-l-lg
      li.m-t-md Click the Confirm Payment button

      li.m-t-md Please complete payment through the Prima(BCA), ATM Bersama(Mandiri), or Alto(Permata) ATM network

      li.m-t-md You will receive a unique account number and instructions on how to pay (you can receive    instructions via email if you input your mail address below)

      li.m-t-md Once payment is complete, you will receive a confirmation email

    .clearfix.b-dashed-b-gray.m-t-xl

    .m-t-xl.m-b-xl
      .f-bold.text-lg.text-u-c.m-b.m-t-lg Payment Instructions

      .f-bold.m-b.m-t-lg How to pay via ATM BCA/ PRIMA network:

      ol.pad-none.m-l
        li.m-t-md Enter your PIN.
        li.m-t-md On the main menu, choose 'Other Transaction'.
        li.m-t-md Choose 'Transfer'.
        li.m-t-md Choose 'Other Bank Account'.
        li.m-t-md Enter '013' for Bank Permata then press 'Correct'.
        li.m-t-md Enter the amount to be paid, then choose 'Correct'. Note, if the amount entered is not the same as the invoiced amount, the transaction will be denied.
        li.m-t-md Enter (the 16 digit account number) then press 'Correct'.
        li.m-t-md Amount to be paid &amp; account number will appear on the payment confirmation page. If the information is correct, press 'Correct'.
        li.m-t-md Transaction Success.

    .clearfix

    button(type="submit", class="btn btn-primary btn-submit pull-right m-b-lg m-t-md") Confirm Payment

    .clearfix
