nav#slide-menu
  form.form-search.wrapper-sm(action="#", method="GET")
    .form-group.pos-rlt
      i.ico.ico-mobile.ico-search
      input(type="text", placeholder="Search")

  .user-info.wrapper-sm.m-t-sm.text-md
    span.inline Hi Michael
    span.inline.m-r-xs.m-l-xs &nbsp;|&nbsp;
    a(href="#") Logout

  .m-t-sm
    ul.table-view.main-menu
      li.table-view-cell
        a(href='tours.html')
          i.ico.ico-tours
          span.inline Tours

      li.table-view-cell
        a(href='hotels.html')
          i.ico.ico-flight
          span.inline Flight

      li.table-view-cell
        a(href='hotels.html')
          i.ico.ico-hotel
          span.inline Hotels

      li.table-view-cell
        a(href='document.html')
          i.ico.ico-document
          span.inline Visa &amp; Passport

      li.table-view-cell
        a(href='blog.html')
          i.ico.ico-blog
          span.inline Blog

      //- li.table-view-cell.access-menu
      //-   a(href='blog.html')
      //-     i.ico.ico-mobile.ico-login
      //-     span.inline Login

      //- li.table-view-cell.access-menu
      //-   a(href='blog.html')
      //-     i.ico.ico-mobile.ico-register
      //-     span.inline Register

    ul.list-style.bg-black
      li.access-menu
        a(href='blog.html')
          span.inline Profile Setting

      li.access-menu
        a(href='blog.html')
          span.inline My Bookings

      li.access-menu
        a(href='blog.html')
          span.inline My Credit Card Setting

      li.access-menu
        a(href='blog.html')
          span.inline Passenger List


    ul.list-style
      li
        a(href='blog.html')
          span.inline About
      li
        a(href='blog.html')
          span.inline FAQ
      li
        a(href='blog.html')
          span.inline Contact Us
