extends layouts/default

include includes/mixin

block main
  .static-page.pad10.about-sapta-tour-page
    h2.text-lg.f-bold.m-t-sm.m-b.text-center About Sapta Tour

    .wrapper.b.pad15.m-b-md
      h4.text-14px Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      h4.text-primary.text-md Our Background

      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor. Enim ad minim veniam, quis nostrud exercitation ullamco?

      p
        strong History

      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

      p
        strong Vision & Mission

      p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?

      p
        strong Who We Work With

      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labor.

      p
        strong Lorem Ipsum dolor sit amet

      p  Quis nostrud exercitation ullamco? Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  velit esse cillum dolore.

      p
        strong Enim ad minim veniam

      p Quis nostrud exercitation ullamco? Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  velit esse cillum dolore.

