extends layouts/default

include includes/mixin

block main
  .static-page.document-page
    .heading-static-page
      h2.title-page.text-u-c.f-bold.text-center Visa &amp; Documents

    .wrap
      .static-page-tabs.b-t
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a.text-u-c.text-center(href='#page-visa-document', aria-controls='page-visa-document', role='tab', data-toggle='tab') Visa
          li(role='presentation')
            a.text-u-c.text-center(href='#page-passport', aria-controls='page-passport', role='tab', data-toggle='tab') Passport
          li(role='presentation')
            a.text-u-c.text-center(href='#page-insurance', aria-controls='page-insurance', role='tab', data-toggle='tab') Insurance

      .tab-content
        #page-visa-document.tab-pane.active(role='tabpanel')
          .summary-wrap.block.pad10.b-b
            h6.f-bold.text-md.text-u-c.m-b-md Apa itu visa
            p.m-b-md Visa adalah sebuah dokumen resmi yang Anda perlukan untuk masuk ke negara tujuan dalam periode waktu tertentu. Visa asli yang biasanya di stempel di paspor penerima sangat diperlukan jika Anda hendak berkunjung ke suatu negara tertentu.

            p.m-b-md Harap diperhatikan bahwa Visa kedatangan hanya dapat diperpanjang atas persetujuan Direktur Jenderal Imigrasi Republik Indonesia dalam hal bencana alam, sakit atau kecelakaan, tidak dapat dialihkan ke jenis visa lain. Pelancong yang melewati waktu yang telah ditentukan akan dikenakan denda sebesar US $ 20.- per hari / orang (untuk tinggal di bawah 60 hari) sedangkan lebih dari 60 hari tinggal akan menjalani 5 (lima) tahun hukuman penjara atau denda IDR 25.000.000 (mata uang lokal).

          .summary-wrap.block.pad10
            h6.f-bold.text-md.text-u-c.m-b-md Syarat-syarat Visa

            p.m-b-md.m-t-md Berikut beberapa syarat visa negara-negara tujuan wisata, bisnis maupun kebutuhan lainnya, Persyaratan visa dapat berubah sewaktu- waktu / bertambah sesuai dengan permintaan Kedutaann

            .flags-list.row.m-b-md
              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/austria.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Austria
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/belanda.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Belanda
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/belgia.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Belgia
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/inggris.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Inggris
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/china.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md China
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/denmark.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Denmark
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/finland.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Finland
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/france.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md France
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/germany.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Germany
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/greece.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Greece
                .clearfix
              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/hungary.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Hungary
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/italy.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Italy
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/norway.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Norway
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/polandia.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Polandi
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/portugal.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Portugal
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/slovakia.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Slovakia
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/spanyol.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Spanyol
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/swedia.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Swedia
                .clearfix

              .wrapper-md.b.m-b-sm.flag-item
                .pull-left
                  img(src="img/flag/swiss.png", alt="")
                .pull-left
                  span.m-t-sm.inline.f-bold.m-l-md.text-md Swiss
                .clearfix

            .clearfix

        #page-passport.tab-pane(role='tabpanel')
          .summary-wrap.block.pad10.b-b
            h6.f-bold.text-md.text-u-c.m-b-md Passport

            .subtitle-article.text-u-c.f-bold Persyaratan Paspor Republik Indonesia

            ol.m-t.pad-none.m-l-md
              li.m-b-xs Asli
              li.m-b-xs Kartu Keluarga
              li.m-b-xs Akte Lahir
              li.m-b-xs Ijazah
              li.m-b-xs Surat Nikah (apabila sudah menikah)
              li.m-b-xs Surat Sponsor (apabila bekerja)
              li.m-b-xs Biaya Rp 650.000, waktu pengerjaan ± 14 Hari Kerja

            .subtitle-article.text-u-c.f-bold.m-t-md Persyaratan Paspor Republik Indonesia Untuk Anak (Belum memiliki KTP)

            ol.m-t.pad-none.m-l-md
              li.m-b-xs KTP Kedua Orang tua
              li.m-b-xs Kartu Keluarga
              li.m-b-xs Akte Lahir
              li.m-b-xs Fotocopy Paspor Bapak / Ibu
              li.m-b-xs Surat izin dari orang tua dengan materai Rp 6000
              li.m-b-xs Surat Nikah Orang Tua
              li.m-b-xs Biaya Rp 750.000, waktu pengerjaan ± 14 Hari Kerja

        #page-insurance.tab-pane(role='tabpanel')
          .summary-wrap.block.pad10.b-b
            h6.f-bold.text-md.text-u-c.m-b-md Insurance

            p Produk asuransi perjalanan kami telah dikembangkan untuk memberikan Anda ketenangan selama melakukan perjalanan. AXA melihat bahwa orang-orang bepergian untuk tujuan yang berbeda-beda, Ada yang untuk berlibur bersama keluarga, untuk ketenangan selama mereka belajar; untuk pertemuan bisnis, untuk permainan golf; atau kombinasi dari semuanya.
            p Dengan polis kami yang telah dirancang dengan hati-hati, kami yakin polis ini akan memenuhi kebutuhan asuransi perjalanan Anda. Dimanapun tujuan perjalanan anda, SmartTraveller akan memberikan penutupan asuransi yang lengkap untuk melindungi anda dan keluarga. Ada beberapa plan yang dapat anda pilih sesuai dengan kebutuhan asuransi perjalanan anda:

            ul.list-unstyled.m-b-md
              li Spesial Asia
              li Seluruh Dunia – Gold
              li Seluruh Dunia – Platinum
              li Anda juga dapat memilih untuk mendapatkan perlindungan satu perjalanan saja atau sepanjang tahun.

            .subtitle-article.text-u-c.f-bold.m-b.text-md Jasa bantuan

            p Sebagai nasabah SmartTraveller, Anda secara langsung menjadi anggota Global Assistance & Healthcare selama melakukan perjalanan. Sebagai Medical Assistance provider yang berpengalaman dalam memberikan pelayanan dan bantuan kesehatan, Global Assistance & Healthcare memiliki representative di lebih dari 70 negara di dunia. Global Assistance & Healthcare memiliki tim medis yang terdedikasi untuk memberikan bantuan medis darurat maupunjasa konsultasi medis. Global Assistance & Healthcare sangat mudah dihubungi.
            p Kapan dan dimana saja Anda membutuhkan pertolongan, bantuan diberikan dengan cepat dan profesional. Sebagai tambahan, layanan bantuan 24 jam per hari - 365 hari per tahun telah didedikasikan untuk melayani nasabah SmartTraveller. Saat Anda di luar negeri dan terjadi masalah kesehatan DARURAT yang dijamin dalam polls SmartTraveller, silahkan hubungi nomor 24-hours Alarm Centre untuk mendapatkan jasa bantuan dan saran medis. Jangan lupa untuk menyebutkan nomor sertifikat, nama lengkap dan agen perjalanan Anda.
