extends layouts/without-header

include includes/mixin

block main
  #main-wrap.form-pencarian.pos-rlt
    form.form-find.sapta-form(id="formFindHotels", method="GET", action="hotel-search.html")
      h4.text-u-c.title-search.text-center.m-b-lg Find Flights
        span.close

      .form-group
        .boxing.flight-from.selectbox.b.m-b-sm.pos-rlt
          label.block.text-xs Search Hotels In
          select.block(name="location")
            option(selected="selected") Jakarta
            option() Singapore
            option() Malaysia
            option() Medan
            option() Bali/Denpasar

      .form-group
        .boxing.flight-to.selectbox.b.m-b-sm.pos-rlt
          label.block.text-xs Duration
          select.block(name="nationality")
            option(value="1") 1 Nights
            option(value="2") 2 Nights
            option(value="3") 3 Nights
            option(value="4") 4 Nights
            option(value="5") 5 Nights

      .form-group
        .boxing.b.m-b-sm.pos-rlt.check-in
          label.block.text-xs Check In
          .pos-rlt.chooseDate
            input(type="text", class="date", readonly="readonly")
        .clearfix

      .form-group
        .pull-right.text-right.checkbox-date
          label.f-bold Check Out:&nbsp;
          span.day-date Minggu, 02 Jan 2015
        .clearfix

      //- .form-group
      //-   .boxing.b.m-b-sm.pos-rlt.check-out
      //-     label.block.text-xs Check Out
      //-     .pos-rlt.chooseDate
      //-       input(type="text", class="date", readonly="readonly")
      //-   .clearfix


      button.text-u-c.text-white.text-left.btn-flight(type="submit")
        | Find Hotels
        span.icon
