extends layouts/default

include includes/mixin

block main
  .flight-booking-block.flight-booking-step-1
    .flight-booking-header.b-b
      .tour-title.f-bold.text-14px Jakarta (CGK) - Denpasar (DPS)
      a.text-orange(href='#') Detail Pemesanan

    form.sapta-form(id="flightBookingStep1", method="GET", action="mobile/flight-booking-2.html")

      .flight-booking-progress.step-1
        span.current Details
        span Review
        span Payment
        span Ticket

      .account-login.text-center
        span.block.text-14px.text-u-c.f-bold.m-b Already Have An account?
        .block
          a.btn-login(href="#login") Login
          a.btn-fb-login(href="#fb-login", id="FbLogin") Login with Facebook


      label.f-bold.text-14px.text-u-c Contact Details

      .form-group.m-t-md.m-b-md
        .boxing.name.b.m-t-md
          label.block.text-xs.m-b-sm Name
          input.bloc.m-b-xs(type="text", value="Anissa Sudirman")

        .boxing.phone-number.b.m-t-md.m-r-md.pull-left
          label.block.text-xs.m-b-sm Phone Number
          input.bloc.m-b-xs(type="text", value="", placeholder="+62 (home or mobile number)")

        .boxing.email.b.m-t-md.pull-left
          label.block.text-xs.m-b-sm Email
          input.block.m-b-xs(type="text", value="Anissa@gmail.com")
        .clearfix

      .passenger-list.m-t-lg
        .passenger-info-detail
          label.f-bold.text-14px.text-u-c.block Adult Passenger 01 Details

          .block.m-t.warn-message.m-b-md
            em.f-bold Perhatian:&nbsp;
            em Nama pernumpang rute International harus tepat dan sesuai Paspor, sedangkan domestik dapat sesuai KTP/SIM/Paspor. Data Penumpang tidak dapat diubah setelah halaman

          .form-group
            .boxing.selectbox.b.m-b-sm.pos-rlt
              label.block.text-xs Title
              select.block(name="")
                option Miss
                option Mr
                option Mrs

          .form-group
            .boxing.b.m-b-sm
              label.block.text-xs.m-b-sm Name as written in passport
              input.block.m-b-xs(type="text", placeholder="Passenger’s Name", value="Anissa Sudirman")

          .form-group
            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Day of Birth
                select(name="day")
                  option(selected="selected") 29
                  option() 1
                  option() 2
                  option() 3
                  option() 4

            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Month of Birth
                select(name="month")
                  option 01
                  option 02
                  option 03
                  option 04
                  option 05
                  option 06
                  option 07
                  option(selected="selected") 08
                  option 09
                  option 10
                  option 11
                  option 12

            .pull-left
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Year of Birth
                select(name="year")
                  option 1987
                  option(selected) 1986
                  option 1985
                  option 1984
                  option 1983
                  option 1982
            .clearfix

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Passport Number
              input.bloc.m-b-xs(type="text", value="A 893720")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Nationality
              input.bloc.m-b-xs(type="text", value="Indonesia")

          .form-group
            .boxing.selectbox.b.m-t-sm.pos-rlt
              label.block.text-xs Baggage Jakarta - Bali
              select.block(name="")
                option No Baggage
                option 20 KG
                option 30 KG

          .form-group
            .boxing.selectbox.b.m-t-sm.pos-rlt
              label.block.text-xs Baggage Bali - Jakarta
              select.block(name="")
                option No Baggage
                option 20 KG
                option 30 KG

        .passenger-info-detail
          label.f-bold.text-14px.text-u-c.block Adult Passenger 02 Details

          .block.m-t.warn-message.m-b-md
            em.f-bold Perhatian:&nbsp;
            em Nama pernumpang rute International harus tepat dan sesuai Paspor, sedangkan domestik dapat sesuai KTP/SIM/Paspor. Data Penumpang tidak dapat diubah setelah halaman

          .form-group
            .boxing.selectbox.b.m-b-sm.pos-rlt
              label.block.text-xs Title
              select.block(name="")
                option Miss
                option Mr
                option Mrs

          .form-group
            .boxing.b.m-b-sm
              label.block.text-xs.m-b-sm Name as written in passport
              input.block.m-b-xs(type="text", placeholder="Passenger’s Name", value="Anissa Sudirman")

          .form-group
            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Day of Birth
                select(name="day")
                  option(selected="selected") 29
                  option() 1
                  option() 2
                  option() 3
                  option() 4

            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Month of Birth
                select(name="month")
                  option 01
                  option 02
                  option 03
                  option 04
                  option 05
                  option 06
                  option 07
                  option(selected="selected") 08
                  option 09
                  option 10
                  option 11
                  option 12

            .pull-left
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Year of Birth
                select(name="year")
                  option 1987
                  option(selected) 1986
                  option 1985
                  option 1984
                  option 1983
                  option 1982
            .clearfix

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Passport Number
              input.bloc.m-b-xs(type="text", value="A 893720")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Nationality
              input.bloc.m-b-xs(type="text", value="Indonesia")

          .form-group
            .boxing.selectbox.b.m-t-sm.pos-rlt
              label.block.text-xs Baggage Jakarta - Bali
              select.block(name="")
                option No Baggage
                option 20 KG
                option 30 KG

          .form-group
            .boxing.selectbox.b.m-t-sm.pos-rlt
              label.block.text-xs Baggage Bali - Jakarta
              select.block(name="")
                option No Baggage
                option 20 KG
                option 30 KG

      .add-more-passenger-block.b-b.text-center
        a.btnAdMorePassenger.btn.btn-white.text-14px.f-bold.m-auto(href="#") Add More Passenger

      .form-group.m-t-lg.m-b-lg
        button.btn.btn-primary.btn-submit.m-b-lg.text-u-c(type="submit") Continue
