extends layouts/default

include includes/mixin

block main
  .top-banner.flights
    span.block.text-center.m-b-sm.m-t-md
      i.ico.ico-mobile.ico-flight-md.m-t-xs
    h3.banner-title.text-u-c.text-center Great Value Fares
    h5.subtitle.text-u-c.text-center Why Book with sapta Tours?

  .featured-destination-list
    mixin featuredDestination('Bali01.jpg', 'Jakarta to Osaka', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('Tokyo.jpg', 'Tokyo', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('Bali-02.jpg', 'Bali', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('Singapore.jpg', 'Singapore', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('Hongkong.jpg', 'Hongkong', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('london.jpg', 'London', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')

    mixin featuredDestination('Paris.jpg', 'Paris', 'Economy Return', '<span class="pricing block f-bold"><span class="currency">$</span><span class="price text-lg">800</span></span>', 'flight')


  .spinner-block
    .spinner Loading...
