extends layouts/default

include includes/mixin

block main
  .flight-booking-block.flight-booking-step-5

    .flight-booking-progress.step-5.m-t-md
      span Details
      span Review
      span Payment
      span.current Ticket

    .flight-ticket-block.text-center
      span.block.text-14px.f-bold.text-u-c Status Penerbitan E-Ticket Anda
      p.m-t-md.text-black.text-14px Terima kasih telah melakukan pemesanan di Saptatour.com. Di bawah ini adalah status pemesanan Anda. Halaman ini akan diperbaharui secara otomatis. Mohon jangan tutup halaman ini sampai proses selesai.

      .process-creating-ticket-block.b-b.m-b-lg
        .bg-light.message.process.text-black.pos-rlt.m-b-xs
          i.ico.ico-mobile.ico-gear.pos-abt
          span.block.f-bold.text-14px Sedang memproses E-Ticket
          p.text-black.m-b-none.text-sm Pembayaran anda telah kami terima dan saat ini E-Ticket Anda sedang dalam proses penerbitan di sistem kami. Terima kasih untuk bersabar.

        .bg-light.creating.process.text-black.pos-rlt
          i.ico.ico-mobile.ico-waiting.pos-abt
          span.block E-Ticket akan diterbitkan dalam:
          span.block.f-bold.text-primary.duration 29 Menit 46 Detik

      .block.ticket-detail-info
        span.block.text-u-c.text-14px.f-bold Tanda BUkti Pemesanan <br/> (BUkan Tiket)

        .pad-v-15.b-dashed-b-gray.b-dashed-t-gray.m-t-md.m-b-md
          .block.m-b-sm.f-bold.text-14px.m-t-xs No. Pesanan
          .block.ticket-number.m-b-xs 31000020

        .daftar-penumpang-block.b-dashed-b-gray
          span.block.m-b.f-bold Daftar Penumpang

          .penumpang-item
            span.block 1.  Ms Esperanza Kumala Wendyono
            span.block
              label Jenis tiket:&nbsp;
              span.jenis-tiket Dewasa

          .penumpang-item
            span.block 2. Mr Alexander Adijana
            span.block
              label Jenis tiket:&nbsp;
              span.jenis-tiket Dewasa

        .info-penerbangan.b-dashed-b-gray
          span.block.m-b.f-bold Info Penerbangan
          .outbound-flight
            .block
              label.inline Penerbangan:&nbsp;
              span Jakarta ke Denpasar (AirAsia)
            .block
              label.inline Tanggal:&nbsp;
              span Kamis, 12 Feb 2015 (Jam 13.00
          .inbound-flight
            .block
              label.inline Penerbangan:&nbsp;
              span Denpasar ke Jakarta (AirAsia)
            .block
              label.inline Tanggal:&nbsp;
              span Senin, 16 Feb 2015 (Jam 13.00

        .informasi-pembayaran
          span.block.m-b.f-bold.m-b Informasi Pembayaran
          .block.m-b-xs
            label Harga total:&nbsp;
            span.pricing Rp 1,500,000

          .block.m-b-lg
            label Cara Pembayaran:&nbsp;
            span.payment-type Kartu Kredit

      .call-center-message
        | Jika mengalami kesulitan, Anda dapat menghubungi Customer Service 24 Hours kami di  021 270 2727 ataul email kami di&nbsp;
        a.text-orange(href="mailto:callcentre@saptatours.com") callcentre@saptatours.com
