extends layouts/default

include includes/mixin

block main

  .flight-results-page
    .filter-sorter-block
      .sorting-block.pull-left.m-r-xs
        label.pull-left.inline.text-u-c.m-r-sm Sort By
        span.inline.pull-left.m-r-sm
          i.ico.ico-mobile.ico-arrow-up-sm

      .filtering-block.pull-left.m-l-sm
        label.pull-left.inline.text-u-c.m-r-sm FIlter Result
        span.inline.pull-left
          i.ico.ico-mobile.ico-arrow-down-sm
      .clearfix

    .outbound-flight-selected.text-center
      span.inline Outbound Flight:&nbsp;
      span.inline.flight-number.f-bold QZ 818
      span.inline.separator |
      a.changes-outbound-flight(href="mobile/flight-results.html") Change

    .search-criteria-block.text-center.b-b.b-t
      .trip-location.inline.f-bold.text-14px.m-t
        span.inline.departure Jakarta
        span.inline &nbsp;-&nbsp;
        span.inline.arrival Bali
      .trip-date
        span Friday, 12 March 2015

    .flight-result-items
      .flight-card.pos-rlt
        figure.airline-logo.pull-left
          img(src="img/icon_airasia.png", alt="")

        .travel-summary.pull-left
          .airline-name.f-bold AIR ASIA

          .travel-time
            span.pull-left.departure Jakarta
            span.pull-left.departure-time 12.00 pm (Fri)
            .clearfix

          .travel-time
            span.pull-left.arrival Bali
            span.pull-left.arrival-time 12.45 pm (Fri)
            .clearfix

          .travel-info.text-u-c
            span.inline.stops Direct Flight
            span &nbsp; - &nbsp;
            span.inline.duration.f-bold 1 Hour 45 Minutes

          .fare-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 900,000
            span.extra-info / person
        .clearfix
        a.pos-abt.book-btn-sm.btn-yellow(href="mobile/flight-return-results.html") BOOK

      .flight-card.pos-rlt
        figure.airline-logo.pull-left
          img(src="img/icon_citilink.png", alt="")

        .travel-summary.pull-left
          .airline-name.f-bold CITILINK

          .travel-time
            span.pull-left.departure Jakarta
            span.pull-left.departure-time 12.00 pm (Fri)
            .clearfix

          .travel-time
            span.pull-left.arrival Bali
            span.pull-left.arrival-time 12.45 pm (Fri)
            .clearfix

          .travel-info.text-u-c.pos-rlt
            span.inline.stops Direct Flight
            span &nbsp; - &nbsp;
            span.inline.duration.f-bold 1 Hour 45 Minutes
            span.inline.extra-info
              i.ico.ico-mobile.ico-info-circle

          .fare-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 900,000
            span.extra-info / person
        .clearfix

        a.pos-abt.book-btn-sm.btn-yellow(href="mobile/flight-return-results.html") BOOK

      .flight-card.pos-rlt
        figure.airline-logo.pull-left
          img(src="img/icon_airasia.png", alt="")

        .travel-summary.pull-left
          .airline-name.f-bold AIR ASIA

          .travel-time
            span.pull-left.departure Jakarta
            span.pull-left.departure-time 12.00 pm (Fri)
            .clearfix

          .travel-time
            span.pull-left.arrival Bali
            span.pull-left.arrival-time 12.45 pm (Fri)
            .clearfix

          .travel-info.text-u-c
            span.inline.stops Direct Flight
            span &nbsp; - &nbsp;
            span.inline.duration.f-bold 1 Hour 45 Minutes

          .fare-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 900,000
            span.per-person / person
        .clearfix
        a.pos-abt.book-btn-sm.btn-yellow(href="mobile/flight-return-results.html") BOOK

      .flight-card.pos-rlt
        figure.airline-logo.pull-left
          img(src="img/icon_garuda.png", alt="")

        .travel-summary.pull-left
          .airline-name.f-bold GARUDA INDONESIA

          .travel-time
            span.pull-left.departure Jakarta
            span.pull-left.departure-time 12.00 pm (Fri)
            .clearfix

          .travel-time
            span.pull-left.arrival Bali
            span.pull-left.arrival-time 12.45 pm (Fri)
            .clearfix

          .travel-info.text-u-c
            span.inline.stops Direct Flight
            span &nbsp; - &nbsp;
            span.inline.duration.f-bold 1 Hour 45 Minutes

          .fare-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 900,000
            span.extra-info / person
        .clearfix

        a.pos-abt.book-btn-sm.btn-yellow(href="mobile/flight-return-results.html") BOOK

      .flight-card.pos-rlt
        figure.airline-logo.pull-left
          img(src="img/icon_lion.png", alt="")

        .travel-summary.pull-left
          .airline-name.f-bold LION AIR

          .travel-time
            span.pull-left.departure Jakarta
            span.pull-left.departure-time 12.00 pm (Fri)
            .clearfix

          .travel-time
            span.pull-left.arrival Bali
            span.pull-left.arrival-time 12.45 pm (Fri)
            .clearfix

          .travel-info.text-u-c
            span.inline.stops Direct Flight
            span &nbsp; - &nbsp;
            span.inline.duration.f-bold 1 Hour 45 Minutes

          .fare-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 900,000
            span.extra-info / person
        .clearfix

        a.pos-abt.book-btn-sm.btn-yellow(href="mobile/flight-return-results.html") BOOK

  .spinner-block
    .spinner Loading...
