extends layouts/default

include includes/mixin

block main
  .hotel-booking-block.hotel-booking-step-5

    .hotel-booking-progress.step-5.m-t-md
      span Details
      span Review
      span Payment
      span.current Ticket

    .hotel-ticket-block.text-center
      span.block.text-14px.f-bold.text-u-c Status Penerbitan E-Ticket Anda
      p.m-t-md.text-black.text-14px Terima kasih telah melakukan pemesanan di Saptatour.com. Di bawah ini adalah status pemesanan Anda. Halaman ini akan diperbaharui secara otomatis. Mohon jangan tutup halaman ini sampai proses selesai.

      .download-ticket-block.b-b.m-b-lg
        .bg-light.text-black.pos-rlt
          i.ico.ico-mobile.ico-check.pos-abt
          span.block.f-bold.text-14px E-Ticket Anda Telah Terbit!
          p.text-black.m-b-none.text-sm Mohon cek Inbox/Spam alamat email <strong>Anissa@gmail.com</strong> untuk mendapatkan e-ticket anda.

        .block.pad-v-10 E-Ticket dapat diunduh disini:

        a.btn-download-ticket.m-b-lg(href="#") Download E-Ticket

      .block.ticket-detail-info
        span.block.text-u-c.text-14px.f-bold Tanda BUkti Pemesanan <br/> (BUkan Tiket)

        .pad-v-15.b-dashed-b-gray.b-dashed-t-gray.m-t-md.m-b-md
          .block.m-b-sm.f-bold.text-14px.m-t-xs No. Pesanan
          .block.ticket-number.m-b-xs 31000020

        .daftar-penumpang-block.b-dashed-b-gray
          span.block.m-b.f-bold Daftar Penumpang

          .penumpang-item
            span.block 1.  Ms Esperanza Kumala Wendyono
            span.block
              label Jenis tiket:&nbsp;
              span.jenis-tiket Dewasa

          .penumpang-item
            span.block 2. Mr Alexander Adijana
            span.block
              label Jenis tiket:&nbsp;
              span.jenis-tiket Dewasa

        .info-kamar.b-dashed-b-gray.text-sm
          .block.m-b.f-bold Info Kamar
          .block
            label.inline Kamar:&nbsp;
            span Twin Room Standard
          .block
            label.inline Durasi:&nbsp;
            span 2 Malam
          .block
            label.inline Check In:&nbsp;
            span Kamis, 12 Feb 2015
          .block
            label.inline Check Out:&nbsp;
            span Minggu, 15 Feb 2015
          .block
            label.inline Jumlah Kamar:&nbsp;
            span 1 Kamar
          .block.m-b-md
            label.inline Jumlah Tamu:&nbsp;
            span 2 Tamu


        .informasi-pembayaran
          span.block.m-b.f-bold.m-b Informasi Pembayaran
          .block.m-b-xs
            label Harga total:&nbsp;
            span.pricing Rp 1,500,000

          .block.m-b-lg
            label Cara Pembayaran:&nbsp;
            span.payment-type Kartu Kredit

      .call-center-message
        | Jika mengalami kesulitan, Anda dapat menghubungi Customer Service 24 Hours kami di  021 270 2727 ataul email kami di&nbsp;
        a.text-orange(href="mailto:callcentre@saptatours.com") callcentre@saptatours.com
