extends layouts/default

include includes/mixin

block main
  .top-banner.hotels
    span.block.text-center.m-b-xs.m-t-md
      i.ico.ico-mobile.ico-hotel-md
    h3.banner-title.text-u-c.text-center Top Hotel Destinations
    h5.subtitle.text-u-c.text-center Why Book with sapta Tours?

  .featured-destination-list
    mixin featuredDestination('Kilamanjaru.jpg', 'Surabaya', 125, null, 'hotels')

    mixin featuredDestination('Tokyo.jpg', 'Tokyo', 185, null, 'hotels')

    mixin featuredDestination('Bali-02.jpg', 'Bali', 205, null, 'hotels')

    mixin featuredDestination('Singapore.jpg', 'Singapore', 145, null, 'hotels')

    mixin featuredDestination('Hongkong.jpg', 'Hongkong', 85, null, 'hotels')

    mixin featuredDestination('london.jpg', 'London', 105, null, 'hotels')

    mixin featuredDestination('Paris.jpg', 'Paris', 105, null, 'hotels')


  .spinner-block
    .spinner Loading...
