extends layouts/default

include includes/mixin

block main
  .hotel-booking-block.hotel-booking-step-3
    .hotel-booking-header.b-b
      .tour-title.f-bold.text-14px Pan Pacific Nirwana Resort Bali
      a.text-orange(href='#') Detail Pemesanan

    form.sapta-form(id="flightBookingStep1", method="GET", action="mobile/hotel-booking-4.html")

      .hotel-booking-progress.step-3
        span.current Details
        span Review
        span Payment
        span Ticket

      .info-text-pemesanan.pos-rlt
        i.ico.ico-mobile.ico-check
        p Pemesanan dan harga untuk
          strong.guest-name MIss Esperanza Kumala Wendyono
          |  telah dikonfirmasi. Mohon selesaikan pembayaran untuk menghindari pembatalan oleh maskapai.

      .b-b.m-r-n-md.m-l-n-md.m-t-md

      .block.payment-type
        label.block.text-u-c.text-black.m-t.f-bold.m-r-md.text-14px Select Payment Method

        .m-t-sm.m-b-none.pull-left
          label.m-b-none
            input(type="radio", name="paymentMethod", checked, value="credit-cart", data-target="#creditCartPaymentMethod")
            span.inline.m-l-sm.text-14px Credit Card

        .m-t-sm.m-b-none.m-l-lg.pull-left
          label.m-b-none
            input(type="radio", name="paymentMethod", value="bca-bank-tranfer", data-target="#bankTransferPaymentMethod")
            span.inline.m-l-sm.text-14px BCA Bank transfer
        .clearfix

        .clearfix

      .b-b.m-r-n-md.m-l-n-md.m-t-md

      include payment/credit-card

      include payment/bank-transfer

      .m-b-md
