extends layouts/default

include includes/mixin

block main

  .hotel-results-page
    .filter-sorter-block
      .sorting-block.pull-left.m-r-xs
        label.pull-left.inline.text-u-c.m-r-sm Sort By
        span.inline.pull-left.m-r-sm
          i.ico.ico-mobile.ico-arrow-up-sm

      .filtering-block.pull-left.m-l-sm
        label.pull-left.inline.text-u-c.m-r-sm FIlter Result
        span.inline.pull-left
          i.ico.ico-mobile.ico-arrow-down-sm
      .clearfix

    .hotel-search-query.block.b-b.b-t
      .pull-left.date-info.m-r-sm.bg-white
        i.ico.ico-calendar
        span.inline
          span.checkin-date 19 Feb
          span &nbsp;-&nbsp;
          span.checkout-date Feb 21,
          span.total-night 2
          span  nights

      .pull-left.location.bg-white
        i.ico.ico-marker
        span.location-name Bali
      .clearfix

    .hotel-result-items
      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel03.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Mulia Resort Nusa Dua
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Nusa Dua/Benoa
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel02.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c W RETREAT & SPA BALI
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c SEMINYAK
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel01.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Ayana Resort & Spa
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Jimbaran
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix
          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix
      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel03.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Mulia Resort Nusa Dua
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Nusa Dua/Benoa
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel02.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c W RETREAT &amp; SPA BALI
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c SEMINYAK
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel01.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Ayana Resort & Spa
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Jimbaran
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix
          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

  .spinner-block
    .spinner Loading...
