extends layouts/without-header

include includes/mixin

block main
  #main-wrap.form-login-register.pos-rlt
    form.form-login.sapta-form(id="formFindFlight", method="GET", action="mobile/profile.html")
      h4.text-u-c.title-search.text-center.m-b-lg LOGIN
        a.close(href="/mobile") Close

      .form-group
        a.btn-fb-login.text-center(href="#fb-login", id="FbLogin") Login with Facebook

      .form-group.separator
        span.block.text-label OR

      .form-group.pad-h-15
        .boxing.name.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Name
          input.bloc.m-b-xs(type="text", value="Anissa Sudirman")

      .form-group.pad-h-15.m-b-lg
        .boxing.name.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Password
          input.bloc.m-b-xs(type="password", value="Password")

      button.text-u-c.text-white.text-left(type="submit")
        .block.span.m-r-lg.m-l-lg.f-bold LOGIN

      .form-group.m-t-lg.text-14px.f-light
        a.text-orange(href="/mobile/register.html") Create new account
        label.inline.m-l-xs.m-r.text-gray &nbsp;|
        a.text-orange(href="/mobile/forgot-password.html") Forgot password

