extends layouts/default

include includes/mixin

block main
  .user-booking-history.pad10
    h2.text-lg.f-bold.m-t-sm.m-b-md.text-center My Bookings

    .booking-item.b.m-b-sm

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray
        .pull-left.bg-white.text-center.b-dashed-r-gray
          i.ico.ico-flight-md
          span.block.f-bold.text-primary.text-md Flights
        .pull-left
          label.text-lg.f-bold.text-u-c.block Order 01
          label.text-gray.text-u-c.block.text-xs.f-bold.m-t-xs Tuesday, 21 March 2015
        .clearfix

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          .block.f-bold.m-b-sm.text-14px No. Pesanan
          .block.m-b-sm.text-13px 31000020

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          strong.f-bold.m-b.block.text-14px Daftar Penumpang

          ul.list-unstyled
            li.text-13px
              span.block 1. Ms Esperanza Kumala Wendyono
              span.block Jenis tiket: Dewasa
            li.m-t.text-13px
              span.block 2. Mr Alexander Adijana
              span.block Jenis tiket: Dewasa

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          .f-bold.block.text-14px Info Penerbangan

          .m-t.text-13px
            span.block Penerbangan:  Jakarta ke Denpasar (AirAsia)
            span.block Tanggal:  Kamis, 12 Feb 2015 (Jam 13.00

            span.block.m-t-md Penerbangan:  Denpasar ke Jakarta (AirAsia)
            span.block Tanggal:  Senin, 16 Feb 2015 (Jam 13.00

      .row-item.b-b.text-center
        .m-t-lg.m-b-lg
          .f-bold.block.m-b-sm.text-14px Informasi Pembayaran
          span.block.text-13px Harga total:  Rp 1,500,000
          span.block.text-13px Cara Pembayaran:  Kartu Kredit

      .row-item.pad-v-15.m-r-sm.m-l-sm
        a.btn-download-ticket.m-b-none(href="#") Download E-Ticket

    .booking-item.b.m-b-sm

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray
        .pull-left.bg-white.text-center.b-dashed-r-gray
          i.ico.ico-hotel-md
          span.block.f-bold.text-primary.text-md Hotel
        .pull-left
          label.text-lg.f-bold.text-u-c.block Order 02
          label.text-gray.text-u-c.block.text-xs.f-bold.m-t-xs Tuesday, 21 March 2015
        .clearfix

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          .block.f-bold.m-b-sm.text-14px No. Pesanan
          .block.m-b-sm.text-13px 31000020

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          strong.f-bold.m-b.block.text-14px Daftar Penumpang

          ul.list-unstyled
            li.text-13px
              span.block 1. Ms Esperanza Kumala Wendyono
              span.block Jenis tiket: Dewasa
            li.m-t.text-13px
              span.block 2. Mr Alexander Adijana
              span.block Jenis tiket: Dewasa

      .row-item.m-r-xs.m-l-xs.b-dashed-b-gray.text-center
        .m-t-lg.m-b-lg
          .f-bold.block.text-14px Info Penerbangan

          .m-t.text-13px
            span.block Penerbangan:  Jakarta ke Denpasar (AirAsia)
            span.block Tanggal:  Kamis, 12 Feb 2015 (Jam 13.00

            span.block.m-t-md Penerbangan:  Denpasar ke Jakarta (AirAsia)
            span.block Tanggal:  Senin, 16 Feb 2015 (Jam 13.00

      .row-item.b-b.text-center
        .m-t-lg.m-b-lg
          .f-bold.block.m-b-sm.text-14px Informasi Pembayaran
          span.block.text-13px Harga total:  Rp 1,500,000
          span.block.text-13px Cara Pembayaran:  Kartu Kredit

      .row-item.pad-v-15.m-r-sm.m-l-sm
        a.btn-download-ticket.m-b-none(href="#") Download E-Ticket
