extends layouts/default

include includes/mixin

block main
  .user-credit-cards.pad10
    h2.text-lg.f-bold.m-t-sm.m-b-md.text-center My Saved Credit Card

    .saved-credit-card-list
      ul.list-unstyled.credit-card-item.m-b
        li
          img.pos-abt(src="img/card-visa.png", alt="Visa Card", width="34")
          label.text-u-c.text-xs Credit Card Number
          spab.block.value.text-black xxxx xxxx xxxx 1250
        li
          label.text-u-c.text-xs CardHoolder’s Name
          spab.block.value.text-black Esperanza Kumala Wendyono
        li
          label.text-u-c.text-xs Expiry Date
          spab.block.value.text-black 12/15

      ul.list-unstyled.credit-card-item.m-b
        li
          img.pos-abt(src="img/card-master-card.png", alt="Master Card", width="34")
          label.text-u-c.text-xs Credit Card Number
          spab.block.value.text-black xxxx xxxx xxxx 1250
        li
          label.text-u-c.text-xs CardHoolder’s Name
          spab.block.value.text-black Esperanza Kumala Wendyono
        li
          label.text-u-c.text-xs Expiry Date
          spab.block.value.text-black 12/15

    .b-b.m-r-n-md.m-l-n-md

    form.sapta-form(id="addNewCreditCard", method="GET", action="mobile/hotel-booking-4.html")
      .block.credit-card-payment
        label.block.text-u-c.text-black.m-t-sm.m-b.f-bold.m-r-md.text-14px Add New Credit Card
        .radio.m-r-xs.inline.m-b-sm
          label
            input(type="radio", value="visa")
            img.m-l-sm(src="img/card-visa.png", alt="Visa Card", width="44")

        .radio.m-l-sm.m-r-xs.inline
          label
            input(type="radio", value="master-card")
            img.m-l-sm(src="img/card-master-card.png", alt="Master Card", width="44")

        .radio.m-l-sm.inline
          label
            input(type="radio", value="american-express")
            img.m-l-sm(src="img/card-american-express.png", alt="American Express Card", width="44")
        .clearfix

        .m-t-sm.form-group
          .boxing.cc-number.b.b.m-b.m-r-md
            label.block.text-xs.m-b-sm Credit Card Number
            input.cc-number.credit-card-input(type="tel", autocomplete="cc-number", placeholder="•••• •••• •••• ••••")

        .m-t-sm.form-group
          .boxing.selectbox.inline.m-r-md.b.pos-rlt
            label.block.text-xs Expired on Month
            select(name="month")
              option January
              option February
              option March
              option April
              option May
              option June
              option July
              option August
              option September
              option October
              option November
              option(selected="selected") Desember

          .boxing.selectbox.inline.b.pos-rlt.m-r-none
            label.block.text-xs Expired on Year
            select(name="year")
              option 2015
              option 2016
              option(selected="selected") 2017
              option 2018
              option 2019
              option 2020
              option 2021

        .m-t-sm.form-group
          .boxing.b.ccv.b.inline.m-b
            label.block.text-xs.m-b-sm CCV 3 Digit
            input.cc-cvc(type="text", pattern="\d+", name="ccv", maxlength="3", placeholder="XXX")
          .clearfix

      label.block.text-u-c.text-black.m-t-sm.m-b.f-bold.m-r-md.text-14px Billing Address

      .block.billing-address-block.m-t-md.m-b-md

        .boxing.name.b.b
          label.block.text-xs.m-b-sm Name as written in Credit Card
          input.credit-card-input(type="text", value="Anissa Sudirman")

        .boxing.selectbox.m-t.b.pos-rlt
          label.block.text-xs Country
          select(name="country")
            option Please Select Country
            option Indonesia
            option Singapore
            option Malaysia
            option Thailand
            option Vietname
            option India
            option Australia

        .boxing.selectbox.m-t.b.pos-rlt
          label.block.text-xs City
          select(name="city")
            option Please Select City
            option Jakarta
            option Bandung
            option Surabaya
            option Medan
            option Semarang


        .boxing.phone-number.b.m-t.b
          label.block.text-xs.m-b-sm Phone Number
          input.credit-card-input(type="text", value="08123456789")

        .boxing.post-code.b.b.inline.m-t
          label.block.text-xs.m-b-sm Post Code
          input.credit-card-input(type="text", value="11520")


      button.btn.btn-primary.btn-submit.text-u-c(type="submit") Save New Credit Card

    .b-b.m-r-n-md.m-l-n-md.m-t-md.m-b-md

    .add-more-passenger-block.text-center.m-b
      a.btnAdMorePassenger.btn.btn-white.text-14px.f-bold.m-auto(href="#") Add More Credit Card
