extends layouts/default

include includes/mixin

block main
  .user-passenger-list.pad10
    h2.text-lg.f-bold.m-t-sm.m-b-md.text-center My Saved Credit Card

    .passenger-list-block
      ul.list-unstyled.passenger-item.m-b
        li
          span.number.pos-abt 01
          label.text-u-c.text-xs Adult
          spab.block.value.text-black Miss Esperanza Kumala Wendyono
        li
          label.text-u-c.text-xs Passport No
          spab.block.value.text-black A D78JKI
        li
          label.text-u-c.text-xs Date of Birth
          spab.block.value.text-black 21 Aug 1985
        li
          label.text-u-c.text-xs Nationality
          spab.block.value.text-black Indonesian

      ul.list-unstyled.passenger-item.m-b
        li
          span.number.pos-abt 02
          label.text-u-c.text-xs Adult
          spab.block.value.text-black Mr Alexander Adijana
        li
          label.text-u-c.text-xs Passport No
          spab.block.value.text-black A D78JKI
        li
          label.text-u-c.text-xs Date of Birth
          spab.block.value.text-black 21 Aug 1985
        li
          label.text-u-c.text-xs Nationality
          spab.block.value.text-black Indonesian

    .b-b.m-r-n-sm.m-l-n-sm

    form.sapta-form(id="addNewCreditCard", method="GET", action="mobile/hotel-booking-4.html")
      .block.credit-card-payment
        label.block.text-u-c.text-black.m-t-sm.m-b.f-bold.m-r-md.text-14px Add A New Passenger

      .form-group
        .boxing.selectbox.b.m-b-sm.pos-rlt
          label.block.text-xs Title
          select.block(name="")
            option Miss
            option Mr
            option Mrs

      .form-group
        .boxing.b.m-b-sm
          label.block.text-xs.m-b-sm Name as written in passport
          input.block.m-b-xs(type="text", placeholder="Passenger’s Name", value="Anissa Sudirman")

      .form-group
        .pull-left.m-r
          .boxing.bod.selectbox.b.pos-rlt
            label.block.text-xs Day of Birth
            select(name="day")
              option(selected="selected") 29
              option() 1
              option() 2
              option() 3
              option() 4

        .pull-left.m-r
          .boxing.bod.selectbox.b.pos-rlt
            label.block.text-xs Month of Birth
            select(name="month")
              option 01
              option 02
              option 03
              option 04
              option 05
              option 06
              option 07
              option(selected="selected") 08
              option 09
              option 10
              option 11
              option 12

        .pull-left
          .boxing.bod.selectbox.b.pos-rlt
            label.block.text-xs Year of Birth
            select(name="year")
              option 1987
              option(selected) 1986
              option 1985
              option 1984
              option 1983
              option 1982
        .clearfix

      .form-group
        .boxing.b.m-t-sm
          label.block.text-xs.m-b-sm Passport Number
          input.bloc.m-b-xs(type="text", value="A 893720")

      .form-group
        .boxing.b.m-t-sm
          label.block.text-xs.m-b-sm Place of Issue
          input.bloc.m-b-xs(type="text", value="Jakarta")

      .form-group.m-b-md
        .boxing.b.m-t-sm
          label.block.text-xs.m-b-sm Expiry Date
          input.bloc.m-b-xs(type="text", value="MM/YY")

      button.btn.btn-primary.btn-submit.text-u-c(type="submit") Add New Passenger

    .add-more-passenger-block.text-center.m-t-md

      a.btnAdMorePassenger.btn.btn-white.text-14px.f-bold.m-auto(href="#") Add More Passenger
