extends layouts/default

include includes/mixin

block main

  .empty-search-message.flights.m-b-md.b-b
    .text-center.l-h
      strong.f-bold Sorry we can't find anything that matches your search.
      |  Please try a different search, or check out our deals below.

  .top-banner
    h3.text-md.m-b-md.m-t-xs.text-u-c.text-center Popular Hotels


  .hotel-results-page.b-t
    .hotel-result-items
      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel03.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Mulia Resort Nusa Dua
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Nusa Dua/Benoa
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel02.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c W RETREAT & SPA BALI
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c SEMINYAK
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix

          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix

      .hotel-card.pos-rlt
        figure.hotel-picture.pull-left
          a(href="mobile/hotel-detail.html")
            img(src="img/destinations/hotel01.jpg", alt="")
        .hotel-meta.pull-left
          a(href="mobile/hotel-detail.html")
            .hotel-name.f-bold.text-u-c Ayana Resort & Spa
          .info-extra
            span.locationan.inline.m-r-sm.pull-left.text-u-c Jimbaran
            span.hotel-rating.b-l.bg-white.pull-left
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
              i.ico.ico-star
            .clearfix
          .hotel-review
            span.review-star.bg-white.pull-left
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill
              i.ico.ico-rating.ico-rating-fill-half
              i.ico.ico-rating.ico-rating
            span.pull-left.review-count 12
            span.pull-left.review-text Review
            .clearfix

          .hotel-price
            span.currency.f-bold.text-14px Rp
            span.price.f-bold.text-14px 3,967,000
        .clearfix
