extends layouts/default

include includes/mixin

block main
  .empty-search-message.flights.m-b-md.b-b
    .text-center.l-h
      strong.f-bold Sorry we can't find anything that matches your search.
      |  Please try a different search, or check out our deals below.

  .top-banner
    h3.text-md.m-b-lg.m-t-sm.text-u-c.text-center Popular Destination

  .featured-destination-list
    mixin featuredDestination('Turkey.jpg', 'Turkey Adventure', 'MIddle East', 'USD 1000')

    mixin featuredDestination('Japan.jpg', 'Japanese Essentials', 'Asia', 'USD 1500')

    mixin featuredDestination('pucket.jpg', 'Bangkok Phuket', 'Asia', 'USD 1000')


  .spinner-block
    .spinner Loading...
