extends layouts/default

include includes/mixin

block main
  .user-account-profile.pad10
    h2.text-lg.f-bold.m-t-sm.m-b.text-center Profile Setting

    form.sapta-form.user-profile.m-t(method="GET", action="/my-profile-setting.html")

      .content-block.b.pad10.m-b-md
        p   You can change your account detail by directly typing on the text fields. Leave the text fields as they are if you do not wish to change them.

        .block.m-t-xs.m-l-xs.m-b-md
          .pull-left.text-center
            a.connect-with-fb.inline.m-r.m-b-sm(href="#") Connected with Facebook
            a.text-orange.block(href="#") Disconnect

          .pull-right.pos-rlt
            figure.inline.m-n
              img(src="img/destinations/packing.jpg", alt="", width="40", height="40")
            span.inline.bg-white.m-l-lg
              i.ico.ico-check
          .clearfix

        .b-t.m-r-n-sm.m-l-n-sm

        .form-group.m-t
          .boxing.selectbox.b.m-b-sm.pos-rlt
            label.block.text-xs Title
            select.block(name="")
              option Miss
              option Mr
              option Mrs

        .form-group
          .boxing.b.m-b-sm
            label.block.text-xs.m-b-sm Name as written in passport
            input.block.m-b-xs(type="text", placeholder="", value="Anissa Sudirman")

        .form-group
          .pull-left.m-r
            .boxing.bod.selectbox.b.pos-rlt
              label.block.text-xs Day of Birth
              select(name="day")
                option(selected="selected") 29
                option() 1
                option() 2
                option() 3
                option() 4

          .pull-left.m-r
            .boxing.bod.selectbox.b.pos-rlt
              label.block.text-xs Month of Birth
              select(name="month")
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option(selected="selected") 08
                option 09
                option 10
                option 11
                option 12

          .pull-left
            .boxing.bod.selectbox.b.pos-rlt
              label.block.text-xs Year of Birth
              select(name="year")
                option 1987
                option(selected) 1986
                option 1985
                option 1984
                option 1983
                option 1982
          .clearfix

        .form-group
          .boxing.b.m-t
            label.block.text-xs.m-b-sm Passport Number
            input.bloc.m-b-xs(type="text", value="A 893720")

        .form-group
          .boxing.b.m-t
            label.block.text-xs.m-b-sm Nationality
            input.bloc.m-b-xs(type="text", value="Indonesia")

        .form-group
          .boxing.phone-number.b.m-t
            label.block.text-xs.m-b-sm Phone Number
            input.bloc.m-b-xs(type="text", value="", placeholder="+62 (home or mobile number)")

        .form-group.m-b
          .boxing.email.b.m-t
            label.block.text-xs.m-b-sm Email
            input.block.m-b-xs(type="text", value="Anissa@gmail.com")

        .b-t.m-r-n-sm.m-l-n-sm.m-t-sm

        .chage-password-block
          h4.m-t-md.m-b
            span.text-u-c.f-bold.text-14px PASSWORD
            label.text-orange.text-sm.text-light Changes Password

          .boxing.b.m-b.pos-rlt
            label.block.text-xs.m-b-sm Password
            input.bloc.m-b-xs(type="password", value="Password")

          .boxing.b.m-b-xs.pos-rlt
            label.block.text-xs.m-b-sm Re-Enter Password
            input.bloc.m-b-xs(type="password", placeholder="Re-enter Password")

      button.btn.btn-primary.btn-submit.text-u-c.block(type="submit") Save Changes
      .m-t
