extends layouts/without-header

include includes/mixin

block main
  #main-wrap.form-login-register.pos-rlt
    form.form-register.sapta-form(id="formFindFlight", method="GET", action="mobile/profile.html")
      h4.text-u-c.title-search.text-center.m-b-lg Create A New Account
        a.close(href="/mobile") Close

      .form-group
        .account-login.text-center
          span.block.text-14px.text-u-c.f-bold.m-b Already Have An account?
          .block
            a.btn-login(href="#login") Login
            a.btn-fb-login(href="#fb-login", id="FbLogin") Login with Facebook

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm First Name
          input.bloc.m-b-xs(type="text", value="Anissa Sudirman")

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Last Name
          input.bloc.m-b-xs(type="text", value="Anissa Sudirman")

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Phone Number
          input.bloc.m-b-xs(type="text", value="+62 81283670549")

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Email Address
          input.bloc.m-b-xs(type="text", value="hengki.sihombing@gmail.com")

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Password
          input.bloc.m-b-xs(type="password", value="Password")

      .form-group
        .boxing.b.m-b-sm.pos-rlt
          label.block.text-xs.m-b-sm Re-enter Password
          input.bloc.m-b-xs(type="password", value="Re-enter Password")

      .form-group.m-t-md
        button.text-u-c.text-center.text-white.text-left.block(type="submit")
          .block.text-center.f-bold Create New Account
