extends layouts/default

include includes/mixin

block main
  .tour-booking-wrap
    .tour-package-info.b-b
      .tour-title.f-bold.text-14px The Best of West Europe
      .tour-date
        span.inline.m-r-xs.started-date 25 Mar 2015
        span.inline.m-r-xs -
        span.inline.m-r-xs.count-days 10 Days
        span.inline.m-r-xs -
        span.inline.m-r-xs.adult-count 2
        span.inline.m-r-xs Adults
      .tour-pricing
        label.inline.m-r-xs Total:
        span.inline.f-bold.text-primary
          span.currency.inline IDR
          span.price.inline 6000

    form.sapta-form(id="tourBookingForm", method="GET", action="mobile/tour-booking-thankyou.html")
      .info-message.text-14px.m-b-md
        em.f-bold Perhatian:
        |  Harga yang tertera adalah sebagai perkiraan terdekat. Dengan menekan tombol Make Booking, Anda akan terdaftar sebagai peminat. Customer Service kami akan menghubungi Anda via telepon/Email. Transaksi akhir tidak dilakukan di website ini.

      label.f-bold.text-14px.text-u-c Contact DEtails

      .form-group.m-t-md.m-b-md
        .boxing.name.b.m-t-md
          label.block.text-xs.m-b-sm Name
          input.bloc.m-b-xs(type="text", value="Anissa Sudirman")

        .boxing.phone-number.b.m-t-md.m-r-md.pull-left
          label.block.text-xs.m-b-sm Phone Number
          input.bloc.m-b-xs(type="text", value="", placeholder="+62 (home or mobile number)")

        .boxing.email.b.m-t-md.pull-left
          label.block.text-xs.m-b-sm Email
          input.block.m-b-xs(type="text", value="Anissa@gmail.com")
        .clearfix

      .passenger-list.b-t
        .passenger-info-detail
          label.f-bold.text-14px.text-u-c.block Adult Twin Share 01

          .checkbox.m-t-md.m-b-md
            label
              input.inline(type="checkbox")
              span.inline.text-normal.m-l-xs  Saya ingin satu kamar sendiri

          .form-group
            .boxing.selectbox.b.m-b-sm.pos-rlt
              label.block.text-xs Title
              select.block(name="adult-title")
                option Miss
                option Mr
                option Mrs

          .form-group
            .boxing.b.m-b-sm
              label.block.text-xs.m-b-sm Name as written in Passport
              input.block.m-b-xs(type="text", placeholder="Passenger’s Name", value="Anissa Sudirman")

          .form-group
            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Day of Birth
                select(name="day")
                  option(selected="selected") 29
                  option() 1
                  option() 2
                  option() 3
                  option() 4

            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Month of Birth
                select(name="month")
                  option 01
                  option 02
                  option 03
                  option 04
                  option 05
                  option 06
                  option 07
                  option(selected="selected") 08
                  option 09
                  option 10
                  option 11
                  option 12

            .pull-left
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Year of Birth
                select(name="year")
                  option 1987
                  option(selected) 1986
                  option 1985
                  option 1984
                  option 1983
                  option 1982
            .clearfix

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Passport Number
              input.bloc.m-b-xs(type="text", value="A 893720")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Place of Issue
              input.bloc.m-b-xs(type="text", value="Jakarta")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Expiry Date
              input.bloc.m-b-xs(type="text", value="MM/YY")

        .passenger-info-detail
          label.f-bold.text-14px.text-u-c.block Adult Twin Share 02

          .checkbox.m-t-md.m-b-md
            label
              input.inline(type="checkbox")
              span.inline.text-normal.m-l-xs  Saya ingin satu kamar sendiri

          .form-group
            .boxing.selectbox.b.m-b-sm.pos-rlt
              label.block.text-xs Title
              select.block(name="adult-title")
                option Miss
                option Mr
                option Mrs

          .form-group
            .boxing.b.m-b-sm
              label.block.text-xs.m-b-sm Name as written in Passport
              input.block.m-b-xs(type="text", placeholder="Passenger’s Name", value="Anissa Sudirman")

          .form-group
            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Day of Birth
                select(name="day")
                  option(selected="selected") 29
                  option() 1
                  option() 2
                  option() 3
                  option() 4

            .pull-left.m-r
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Month of Birth
                select(name="month")
                  option 01
                  option 02
                  option 03
                  option 04
                  option 05
                  option 06
                  option 07
                  option(selected="selected") 08
                  option 09
                  option 10
                  option 11
                  option 12

            .pull-left
              .boxing.bod.selectbox.b.pos-rlt
                label.block.text-xs Year of Birth
                select(name="year")
                  option 1987
                  option(selected) 1986
                  option 1985
                  option 1984
                  option 1983
                  option 1982
            .clearfix

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Passport Number
              input.bloc.m-b-xs(type="text", value="A 893720")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Place of Issue
              input.bloc.m-b-xs(type="text", value="Jakarta")

          .form-group
            .boxing.b.m-t-sm
              label.block.text-xs.m-b-sm Expiry Date
              input.bloc.m-b-xs(type="text", value="MM/YY")

      .load-more-block.b-b.text-center
        a.btnAdMorePassenger.btn.btn-white.text-14px.f-bold.m-auto(href="#") Add More Passenger

      .form-group.m-t-md
        .boxing.message.b.m-t-md.m-b-lg
          label.block.text-xs.m-b-xs Let us know if there’s any other comments or requests about this booking
          textarea.message.block.m-b-xs(placeholder="Type Message")

      .form-group.m-t-lg.m-b-lg
        button.btn.btn-primary.btn-submit.m-b-lg.text-u-c(type="submit") Make Booking
