.hotel-booking-header {
  margin: 0 0 15px;
  text-align: center;
  padding: 20px 0 15px;
  line-height: 20px;
  background: #eeebeb;
  border-color: #ddd;
}

.hotel-booking-progress {
  padding: 20px 0 15px 0;
  width: 280px;
  margin: 0 auto 30px auto;

  &.step-1 {
    background: url(../img/mobile/payment-process-1.png) no-repeat bottom center;
  }

  &.step-2 {
    padding-right: 10px;
    padding-left: 10px;
    background: url(../img/mobile/payment-process-2.png) no-repeat bottom center;
  }

  &.step-3 {
    background: url(../img/mobile/payment-process-3.png) no-repeat bottom center;
  }

  &.step-4 {
    background: url(../img/mobile/payment-process-4.png) no-repeat bottom center;
  }

  &.step-5 {
    margin-top: 10px;
    background: url(../img/mobile/payment-process-4.png) no-repeat bottom center;
  }

  span {
    font-size: 14px;
    display: inline-block;
    width: 25%;
    text-align: center;

    &.current {
      .f-bold;
    }

    &:first-child {
      text-align: left;
    }

    &:nth-child(3) {
      text-align: left;
      padding-left: 15px
    }

    &:last-child {
      text-align: right;
    }
  }
}

.hotel-booking-block {

  form {
    padding: 0 20px;

    &#flightBookingStep2 {
      padding: 0 10px;
    }
  }

  .account-login {
    background: #fcaf56;
    padding: 20px 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #e99e46, 1px 2px 3px #d8d8d8;

    .btn-login,
    .btn-fb-login {
      display: inline-block;
      border-radius: 3px;
      font-size: 13px;
      line-height: 34px;
    }

    .btn-login {
      margin-right: 5px;
      width: 60px;
      background: #fff;
      color: #000;
      box-shadow: 0px 0px 0px 1px #c0c0c0, 0px 1px 1px #d8d8d8;
    }
    .btn-fb-login {
      width: 155px;
      background: #5e76ac;
      color: #fff;
      box-shadow: 0px 0px 0px 1px #7287b6;

    }
  }

  .passenger-list {
    background: #eee;
    margin-left: -20px;
    margin-right: -20px;
  }

  .passenger-info-detail {
    padding: 25px 20px;
    border-top: 1px solid #ddd;
  }

  .add-more-passenger-block {
    margin-left: -20px;
    margin-right: -20px;
    padding: 25px;
    background: #eee;
    .b-t;
    border-color: #ddd;
  }

  .hotel-detail-info {
    background: #eee;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 5px;
    margin-bottom: 15px;

    .outbound-hotel-block,
    .inbound-hotel-block {
      padding: 10px 10px 0 10px;
    }

    ul.outbound-flight,
    ul.inbound-flight {
      -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
      margin-bottom:10px;

      li {
        .pos-rlt;
        padding: 10px 20px 10px 55px;
        background: #fff;
        border-bottom: 1px solid #e0e0e0;
        line-height: 30px;

        &.bg-light {
          background: #f8f8f8
        }

        &:first-child {
          padding: 15px 0;
          line-height: normal;
          .f-bold;
        }

        &:last-child {
          border-bottom: 0;
        }

        &.schedule {
          height: 80px;
          line-height: 18px;

          .ico-departure {
            top: 30px
          }

          .ico-return {
            top: 26px
          }
        }

        .ico {
          position: absolute;
          top: 17px;
          left: 20px;

          &-bag {
            top: 17px;
          }

          &-adult {
            left: 23px
          }
          &-marker {
            top: 17px;
          }
        }

        &.airline {
          padding-left: 15px;
          line-height: 15px;

          span {
            line-height: 27px
          }
        }

        label {
          color: #888;
          font-size: 11px;
          font-family: "Gotham Black"
        }
      }
    }
  }

  .passenger-list-block {
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 0;

    .passenger-info {
      padding: 10px 10px 3px 10px;

      ul {
        -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid #d8d8d8;
        margin-bottom: 0;
      }

      li {
        padding: 21px 0 21px 68px;
        border-bottom: 1px solid #d8d8d8;

        &:first-child {
          .pos-rlt;
        }

        .number {
          line-height: 32pxs;
          font-size: 36px;
          left: 17px;
          top: 20px;
          color: #d9d9d9;
        }

        label {
          .text-u-c;
          .f-bold;
          color: #888;
        }
      }
    }
  }

  .pricing-detail {
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 3px 2px rgba(0, 0, 0, 0.1);
    li {
      padding: 17px 20px 17px 25px;
      border-bottom: 1px solid #d8d8d8;
      font-size: 14px;

      &:last-child {
        border-bottom: 0;
        text-align: right;

        label {
          padding-right: 50px;
        }

        sup {
          font-size: 14px
        }

        .price {
          font-size: 24px;
        }
      }

      span {
        &.pull-left {
          width: 60%;
          text-align: left;
        }
        &.pull-right {
          width: 40%;
          text-align: right;
          .f-bold;
        }
      }

      label {
        .text-u-c;
        .f-bold;
        margin-bottom: 3px;
        color: #888;
      }
    }
  }

  .content-block {
    margin-left: -20px;
    margin-right: -20px;
    color: #353535;

    &.catatan {
      font-size: 12px
    }

    p {
      color: #353535;
      padding: 0 20px;
      line-height: 20px
    }

    strong {
      color: #000;
    }
  }
}

.hotel-ticket-block {
  padding: 0 20px;

  .download-ticket-block {
    margin-left: -20px;
    margin-right: -20px;
    border-color: #ddd;

    .bg-light {
      margin: 30px 20px 20px;
      line-height: 24px;
      background: #f4f4f2;
      padding: 26px 30px 26px 60px;
      text-align: left;

      .ico-check {
        top: 30px;
        left: 20px;
      }
    }
  }

  .process-creating-ticket-block {
    margin-left: -20px;
    margin-right: -20px;
    border-color: #ddd;

    .bg-light.message {
      margin: 30px 20px 6px;
      line-height: 20px;
      background: #f4f4f2;
      padding: 25px 20px 25px 60px;
      text-align: left;

      .ico-gear {
        top: 30px;
        left: 20px;
      }
    }

    .bg-light.creating {
      font-size: 13px;
      background: #f4f4f2;
      text-align: left;
      margin: 0 20px 30px 20px;
      padding: 30px 30px 30px 45px;

      .duration {
        padding-left: 25px;
        font-size: 20px;
        color: @brand-primary;
        margin-top: 10px;
      }

      .ico-waiting {
        top: 58px;
        left: 44px;
      }
    }
  }

  .daftar-penumpang-block {
    font-size: 14px;
    margin-bottom: 25px;

    .penumpang-item {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 20px;

      .block, span {
        line-height: 20px
      }
    }
  }

  .info-penerbangan {
    font-size: 14px;
    margin-bottom: 25px;

    .outbound-flight,
    .inbound-flight {
      margin-bottom: 20px;
      font-size: 13px;

      > .block {
        line-height: 20px
      }
    }
  }

  .informasi-pembayaran {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

    > div.block {
      font-size: 13px;
    }
  }

  .call-center-message {
    padding: 25px 5px;
    font-size: 11px;
    color: #999;
  }
}

.btn-download-ticket {
  margin: 0 auto 30px;
  width: 279px;
  height: 44px;
  background: url(../img/mobile/ico-sprite.png);
  background-position: 0 -80px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
