.empty-search-message {
  padding: 15px;
  font-size: 14px;
}

/** Flight Search */
.filter-sorter-block {
  height: 45px;
  background: #ffffff;
  font-size: 11px;
  font-weight: 600;
  padding-left: 10px;

  .sorting-block,
  .filtering-block {
    margin-top: 13px;
    height: 17px;

    label {
      padding-top: 3px;
    }
  }

  .sorting-block {
    border-right: 1px dashed #aeaeae;
  }
}

.search-criteria-block {
  height: 70px;
  border-color: #dadada;
  line-height: 18px;
  background-color: #eeebeb;
}

.flight-result-items {
}
.flight-card {
  padding: 15px 0;
  border-bottom: 1px solid #dadada;

  &:last-child {
    border-top: 0
  }

  .airline-logo {
    margin: 0;
    width: 60px;
    padding:0 10px;
    img {
      max-width: 100%;
      margin: 0 auto;
      max-height: 30px;
      display: block;
    }
  }

  .book-btn-sm {
    text-align: center;
    .f-bold;
    padding: 7px;
    height: 30px;
    width: 62px;
    border: 0;
    background: #fcbc56;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #cf8309;
    box-shadow: 0px 3px 0px 0px #cf8309;
    top: 15px;
    right: 10px;
  }

  .travel-summary {
    line-height: 20px;
  }

  .travel-info {
    color: #959595;
    font-size: 10px;

    .extra-info {
      position: absolute;
      top: 0;
      right: -29px;
      cursor: pointer;
      height: 20px;
      width: 20px;
      text-align: center;
    }
  }

  .travel-time {
    .departure,
    .arrival {
      min-width: 60px;
      width: 60px;
      width: auto !important;
    }
  }

  .fare-price {
    .currency,
    .price {
      color: #158ea3;
      margin-right: 5px;
    }

    .per-person {
      color: #838383
    }
  }
}
.outbound-flight-selected {
  background-color: #fcaf56;
  line-height: 30px;
  border-color: #e19c4d;
  color: #000;

  a {
    color: #fff;
  }

  .separator {
    padding: 0 5px;
    color: #dc9139;
  }
}

/* Hotels Search */
.hotel-search-query {
  background-color: #eeebeb;
  border-color: #dadada;
  padding: 10px;
  color: #ef9630;

  .date-info,
  .location {
    position: relative;
    background: #fff;
    line-height: 44px;
    -webkit-box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 2px 3px #d8d8d8;
    box-shadow: 0px 0px 0px 1px #d8d8d8, 1px 2px 3px #d8d8d8;

    .ico-calendar,
    .ico-marker {
      position: absolute;
      left: 11px;
      top: 13px;
    }
  }

  .date-info {
    width: 190px;
    padding-left: 36px;
  }

  .location {
    width: 98px;
    padding-left: 30px;
  }
}
.room-card-items {
  .room-card {
    padding: 13px 10px;
  }
}
.hotel-card,
.room-card {
  padding: 10px;
  border-bottom: 1px solid #dadada;

  &:last-child {
    border-top: 0
  }

  .hotel-picture {
    margin: 0;

    img {
      border: 1px solid rgba(216, 216, 216, 0.5);
      max-width: 60px;
      width: 60px;
      max-height: 60px;
      height: 60px;
    }
  }

  .hotel-meta {
    padding: 0 10px;
  }

  .hotel-name {
    margin-bottom: 3px;
    color: #393030
  }

  .info-extra {
    color: #959595
  }

  .hotel-rating {
    padding-left: 10px;
    border-color: #959595;
    // border-width: 2px;
    height: 14px
  }

  .hotel-review {
    margin-top: 7px;
    margin-bottom: 5px;
  }

  .review-star {

  }

  .review-count,
  .review-text {
    margin-left: 5px;
    color: #ef9630
  }

  .hotel-price {

    .currency,
    .price {
      color: #158ea3
    }

    .night {
      color: #838383
    }

    .currency {
      margin-right: 3px;
    }
  }

  .book-btn-sm {
    text-align: center;
    .f-bold;
    padding: 7px;
    height: 30px;
    width: 62px;
    border: 0;
    background: #fcbc56;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px 0px #cf8309;
    box-shadow: 0px 3px 0px 0px #cf8309;
  }

  .facilities {
    .item {
      display: block;
      float: left;
      height: 18px;
      vertical-align: middle;
      border-left: 1px dotted #111;
      padding:1px 10px;

      &:first-child {
        padding-left: 0;
        padding-right: 8px;
        border-left: 0;
      }

      span {
        line-height: 21px;
        vertical-align: top;
        margin-left: 5px;
        display: inline-block;
      }
    }
  }
}

.hotel-search-query {
  .sapta-form {
    .boxing {
      border-radius: 0;
      border-right-width: 0;
      float: left;

      input, select {
        color: #ef9630;
        font-size: 12px;
        line-height: 16px;
      }

      &.check-in {
        width: 45%;

        label {
          margin-bottom: 4px;
        }
      }

      &.duration {
        width: 30%
      }

      &.room {
        width: 25%
      }

      &.room {
        border-right-width: 1px
      }
    }
  }
}
