.static-page {

  &.about-sapta-tour-page {
    background-color: #f4f4f4
  }

  .wrapper {
    background: #fff;
    border-color: #ddd;
    line-height: 22px;

    h4 {
      line-height: 22px;
    }

    strong {
      color: 333
    }

    p {
      color: #5a5353;
      line-height: 22px;
    }
  }

  .heading-static-page {
    height: 111px;
    width: 100%;
    background: url(../img/mobile/bg-heading-static-page.png) repeat-x center center;

    .title-page {
      padding: 6px 0 0 0;
      margin: 0;
      color: #fff;
      font-size: 17px;
      line-height: 111px;
    }
  }
}
