.user-account-profile {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  background-color: #f4f4f4;

  .content-block {
    background: #fff;

    p {
      padding: 5px;
      color: #353535;
      font-size: 14px;
      line-height: 22px;
    }

    .ico-check {
      position: absolute;
      top: 10px;
      right: 5px;
    }
  }

  .connect-with-fb {
    background: #919191;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    line-height: 35px;
    border-top: 1px solid #9f9f9f;
    -webkit-box-shadow: 0px 0px 0px 1px #8d8d8d;
    box-shadow: 0px 0px 0px 1px #8d8d8d;
  }

  button {
    width: 100% !important
  }
}
