.section{
  &.timeline {
    position: relative;
    padding-top: 0;
    height: 3261px;
    background: url(../img/timeline/bg-gradient.png) repeat-x top center;

    > .container {
      position: relative;
      height: 3261px;
      padding-top: 70px;
      padding-bottom: 70px;

    }
  }
  .bubble-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 750px;
    z-index: 1;
    background: url(../img/timeline/bg-bottom.png) repeat-x bottom center;
  }

  .great-sale-bottom {
    background: url(../img/timeline/great-sale-bottom.png) no-repeat top center;
    width: 435px;
    height: 384px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 4;
    margin-left: -435px / 2;
  }

  .bg-bubble {
    background: url(../img/timeline/bg-bubble.png) no-repeat top center;
    position: absolute;
    top: 0;
    width: 1280px;
    height: 100%;
    left: 50%;
    margin-left: -1280px / 2;
  }
}


#cd-timeline {
  position: relative;
  padding: 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2531px;
  width: 92px;
  background: url(../img/timeline/ruler.png) no-repeat 0 0;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline::before {
    left: 50%;
    top: 185px;
    margin-left: -25px;
  }
}

.cd-timeline-block {
  position: relative;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;

  .get-your-best-deal {
    width: 406px;
    height: 264px;
    background: url(../img/timeline/timeline-0.png) no-repeat 0 0;
    position: absolute;
      right: 20px;
    top: 80px;
  }

  .ico-shopee-flag {
    display: block;
    position: absolute;
    left: 50%;
    width: 75px;
    height: 117px;
    top: 193px;
    margin-left: -7px;
    background: url(../img/timeline/shopee-flag.png) no-repeat 0 0;
  }
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

  }
}

.cd-timeline-content {
  position: relative;
  text-align: right;

  &.selebriti-comment {
    margin-right: 35px
  }

  &.toko-selebritis {
    position: absolute;
    left: 40px;
    top: -110px;
  }

  &.incrane1212 {
    margin-top: 140px;
    margin-right: 105px
  }

  &.daily-checkin {
    position: absolute;
    left: 40px;
    top: -30px;
  }

  &.love-share-win {
    margin-top: 200px;
    right: 105px;
  }

  &.lelang-barang-artis {
    position: absolute;
    left: 40px;
    top: -130px;
  }

  &.pyramid-discount {
    margin-top: 135px;
    right: 65px;
  }

  &.top-spender-competition {
    position: absolute;
    left: 40px;
    top: -65px;
  }

  &.showoff1212 {
    margin-top: 125px;
    right: 60px;
  }

}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 0;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
    margin-right: 30px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
}
