#shareAndWin.share-and-win.section
  .container
    h3.subtitle.text-center SHARE &amp; WIN

    p.text-medium Bagikan informasi GREAT 12.12 SALE ke temanmu dan raih kesempatan memenangkan iphone 6

    .social-media.text-center
      a.icon.facebook(href="", title="Facebook")
      a.icon.twitter(href="", title="Twitter")
      a.icon.linkedin(href="", title="Linkedin")
      a.icon.gplus(href="", title="Google+")
      a.icon.email(href="", title="Email")

    .form-submit-email
      h5.text-center Enter your email, so we can let you know if you’re winner


      // Begin MailChimp Signup Form
      link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='//shopee.us12.list-manage.com/subscribe/post?u=fbd937291f586820b7d740428&id=b1598d2ea0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_fbd937291f586820b7d740428_b1598d2ea0', tabindex='-1', value='')
            input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Your email here', required='')
            input#mc-embedded-subscribe.button(type='submit', value='SUBMIT', name='subscribe')
            .clearfix
