.section.shipping-block
  .container.text-center
    h3.subtitle.text-center EVERYTHING IN ONE CLICK!

  .shipping-content
    img.desktop(src="../img/bg-shipping.png")
    img.mobile(src="../img/bg-shipping-mobile.png")
