.section.shipping-block
  .container.text-center
    h3.subtitle.text-center EVERYTHING IN ONE CLICK!

  .shipping-content
    img.desktop(src="https://shopee1212.herokuapp.com/img/bg-shipping.png")
    img.mobile(src="https://shopee1212.herokuapp.com/img/bg-shipping-mobile.png")
