.section
  .testimony-section.container

    h3.subtitle.text-center #SHOPEE1212

    p.subtitle-text.text-center
      | Join the conversation! Tambahkan&nbsp;
      a(href="https://twitter.com/hashtag/Shopee1212", target="_blank") #Shopee1212
      |  di tweet dan instagram post kami

    #testimony-slider.flexslider
      //- ul.slides
      //-   li
      //-     .content-testimony
      //-       img(src='../1212/img/twitter-dummy/1.png')

      //-       blockquote
      //-         p.tweet Can’t wait to buy stuffs from @ShopeeID on 12.12 #shopee1212
      //-         span.text-small Tweeted 12 mins ago
      //-       .clearfix

    #carousel.flexslider
      ul.slides
        //- li
        //-   img(src='../1212/img/twitter-dummy/1.png')

    script#testimony-slider-list-template(type='text/html').
      <ul class="slides">{{#tweets}}<li><div class="content-testimony"><a href="{{tweet_link}}" target="_blank"><img src="{{avatar}}"></a><blockquote><p class="tweet">@{{screenname}} {{body}}</a></p><span class="text-small">{{date | date}}</span></blockquote><div class="clearfix"></div></div></li>{{/tweets}}</ul>
    script#testimony-carousel-list-template(type='text/html').
      <ul class="slides">{{#tweets}}<li><img src="{{avatar}}"></li>{{/tweets}}</ul>
