.section.timeline
  .bg-bubble

  .container
    #cd-timeline
      .cd-timeline-block
          .get-your-best-deal
          .cd-timeline-content
            img(src="../img/timeline/timeline-1.png")

      .cd-timeline-block

        .cd-timeline-content.selebriti-comment
          img(src="../img/timeline/timeline-2.png")

      .cd-timeline-block

        .cd-timeline-content.toko-selebritis
          img(src="../img/timeline/timeline-3.png");

      .cd-timeline-block

        .cd-timeline-content.incrane1212
          img(src="../img/timeline/timeline-4.png");

      .cd-timeline-block

        .cd-timeline-content.daily-checkin
          img(src="../img/timeline/timeline-5.png");

      .cd-timeline-block

        .cd-timeline-content.love-share-win
          img(src="../img/timeline/timeline-6.png");

      .cd-timeline-block

        .cd-timeline-content.lelang-barang-artis
          img(src="../img/timeline/timeline-7.png");

      .cd-timeline-block

        .cd-timeline-content.pyramid-discount
          img(src="../img/timeline/timeline-8.png");

      .cd-timeline-block

        .cd-timeline-content.top-spender-competition
          img(src="../img/timeline/timeline-9.png");

      .cd-timeline-block

        .cd-timeline-content.showoff1212
          img(src="../img/timeline/timeline-10.png");

    .great-sale-bottom
  .bubble-bottom
